<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">
        Contrat Agrégat-Agrégés ( {{ structure?.label | uppercase }} / {{ third?.first_name | uppercase }} {{
        third?.last_name | uppercase }})
      </h3>
    </div>
    <div>
      <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
           m-dropdown-toggle="hover" aria-expanded="true">
        <a href="#"
           class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
          <i class="la la-plus m--hide"></i>
          <i class="la la-ellipsis-h"></i>
        </a>
        <div class="m-dropdown__wrapper">
          <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
          <div class="m-dropdown__inner">
            <div class="m-dropdown__body">
              <div class="m-dropdown__content">
                <ul class="m-nav">
                  <li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
                  </li>
                  <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-share"></i>
                      <span class="m-nav__link-text">
												Activity
											</span>
                    </a>
                  </li>
                  <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-chat-1"></i>
                      <span class="m-nav__link-text">
												Messages
											</span>
                    </a>
                  </li>
                  <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-info"></i>
                      <span class="m-nav__link-text">
												FAQ
											</span>
                    </a>
                  </li>
                  <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                      <span class="m-nav__link-text">
												Support
											</span>
                    </a>
                  </li>
                  <li class="m-nav__separator m-nav__separator--fit"></li>
                  <li class="m-nav__item">
                    <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                      Submit
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
  <div class="row">
    <div class="col-xl-12 col-lg-12">
      <div class="m-portlet m-portlet--full-height m-portlet--tabs   m-portlet--unair">
        <div class="m-portlet__head">
          <div class="m-portlet__head-tools">
            <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
                  <i class="flaticon-share m--hide"></i>
                  Contract
                </a>
              </li>
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_2" role="tab">
                  Agrégé
                </a>
              </li>
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_4" role="tab">
                  Structure
                </a>
              </li>
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_3" role="tab">
                  Campagnes
                </a>
              </li>
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_5" role="tab">
                  Attachments
                </a>
              </li>
            </ul>
          </div>
          <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
              <li class="m-portlet__nav-item m-portlet__nav-item--last">
                <div
                  class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                  m-dropdown-toggle="hover" aria-expanded="true">
                  <a href="#"
                     class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                    <i class="la la-gear"></i>
                  </a>
                  <div class="m-dropdown__wrapper">
                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                    <div class="m-dropdown__inner">
                      <div class="m-dropdown__body">
                        <div class="m-dropdown__content">
                          <ul class="m-nav">
                            <li class="m-nav__section m-nav__section--first">
															<span class="m-nav__section-text">
																Quick Actions
															</span>
                            </li>
                            <li class="m-nav__item">
                              <a href="" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-share"></i>
                                <span class="m-nav__link-text">
																	Create Post
																</span>
                              </a>
                            </li>
                            <li class="m-nav__item">
                              <a href="" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-chat-1"></i>
                                <span class="m-nav__link-text">
																	Send Messages
																</span>
                              </a>
                            </li>
                            <li class="m-nav__item">
                              <a href="" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-multimedia-2"></i>
                                <span class="m-nav__link-text">
																	Upload File
																</span>
                              </a>
                            </li>
                            <li class="m-nav__section">
															<span class="m-nav__section-text">
																Useful Links
															</span>
                            </li>
                            <li class="m-nav__item">
                              <a href="" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-info"></i>
                                <span class="m-nav__link-text">
																	FAQ
																</span>
                              </a>
                            </li>
                            <li class="m-nav__item">
                              <a href="" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                <span class="m-nav__link-text">
																	Support
																</span>
                              </a>
                            </li>
                            <li class="m-nav__separator m-nav__separator--fit m--hide"></li>
                            <li class="m-nav__item m--hide">
                              <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                                Submit
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="tab-content">
          <div class="tab-pane active" id="m_user_profile_tab_1">
            <div class="m-form m-form--fit m-form--label-align-right">
              <div class="m-portlet__body">
                <div class="form-group m-form__group row">
                  <div class="col-10 ml-auto">
                    <h3 class="m-form__section">
                      1. Informations générales
                    </h3>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-2 col-form-label">
                    Date d'application
                  </label>
                  <div class="col-7">
                    <input class="form-control m-input" type="text" [value]="contract?.application_date"
                           readonly>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-2 col-form-label">
                    Date d'expiration
                  </label>
                  <div class="col-7">
                    <input class="form-control m-input" type="text" [value]="contract?.expiration_date" readonly>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-2 col-form-label">
                    Date de signature
                  </label>
                  <div class="col-7">
                    <input class="form-control m-input" type="text" [value]="contract?.signature_date"
                           readonly>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-2 col-form-label">
                    Code ORMVA
                  </label>
                  <div class="col-7">
                    <input class="form-control m-input" type="text" [value]="contract?.code_ormva" readonly>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-2 col-form-label">
                    Type de culture
                  </label>
                  <div class="col-7">
                    <input class="form-control m-input" type="text" [value]="contract?.culture_type" readonly>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-2 col-form-label">
                    Type de contract
                  </label>
                  <div class="col-7">
                    <input class="form-control m-input" type="text" [value]="contract?.contrat_type" readonly>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-2 col-form-label">
                    Status
                  </label>
                  <div class="col-7">
                    <input class="form-control m-input" type="text" [value]="contract?.status" readonly>
                  </div>
                </div>
                <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
              </div>
            </div>
          </div>
          <div class="tab-pane " id="m_user_profile_tab_2">
            <div class="m-form m-form--fit m-form--label-align-right">
              <div class="m-portlet__body">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="form-group m-form__group row">
                      <div class="col-10 ml-auto">
                        <h3 class="m-form__section">
                          1. Informations générales
                        </h3>
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label class="col-4 col-form-label">
                        Nom complet
                      </label>
                      <div class="col-7">
                        <input class="form-control m-input" type="text"
                               [value]="third?.first_name + ' ' + third?.last_name"
                               readonly>
                      </div>
                    </div>
                    <div class="form-group m-form__group row" DIR="ltr">
                      <label class="col-4 col-form-label">
                        الاسم الكامل
                      </label>
                      <div class="col-7">
                        <input class="form-control m-input" type="text"
                               [value]="third?.ar_first_name + ' ' + third?.ar_last_name"
                               readonly>
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label class="col-4 col-form-label">
                        CIN
                      </label>
                      <div class="col-7">
                        <input class="form-control m-input" type="text" [value]="third?.cin | uppercase" readonly>
                      </div>
                    </div>
                    <div class="form-group m-form__group row" *ngIf="third?.date_death">
                      <label class="col-4 col-form-label">
                        Date du décès
                      </label>
                      <div class="col-7">
                        <input class="form-control m-input" type="text" [value]="third?.date_death | uppercase"
                               readonly>
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label class="col-4 col-form-label">
                        numéro de téléphone 1
                      </label>
                      <div class="col-7">
                        <input class="form-control m-input" type="text" [value]="third?.tel1 | uppercase" readonly>
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label class="col-4 col-form-label">
                        numéro de téléphone 2
                      </label>
                      <div class="col-7">
                        <input class="form-control m-input" type="text" [value]="third?.tel2 | uppercase" readonly>
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label class="col-4 col-form-label">
                        Email
                      </label>
                      <div class="col-7">
                        <input class="form-control m-input" type="text" [value]="third?.email" readonly>
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label class="col-4 col-form-label">
                        Assurance.
                      </label>
                      <div class="col-7">
                        <input class="form-control m-input" type="text" [value]="third?.assurance ? 'Oui' : 'Non'"
                               readonly>
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label class="col-4 col-form-label">
                        Retraite.
                      </label>
                      <div class="col-7">
                        <input class="form-control m-input" type="text" [value]="third?.retraite ? 'Oui' : 'Non'"
                               readonly>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6">
                    <div *ngIf="third?.social_reason">
                      <div class="form-group m-form__group row">
                        <div class="col-10 ml-auto">
                          <h3 class="m-form__section">
                            2. Société
                          </h3>
                        </div>
                      </div>
                      <div class="form-group m-form__group row">
                        <label class="col-4 col-form-label">
                          Raison sociale
                        </label>
                        <div class="col-7">
                          <input class="form-control m-input" type="text" [value]="third?.social_reason" readonly>
                        </div>
                      </div>
                      <div class="form-group m-form__group row">
                        <label class="col-4 col-form-label">
                          Numéro de patente
                        </label>
                        <div class="col-7">
                          <input class="form-control m-input" type="text" [value]="third?.patent_number" readonly>
                        </div>
                      </div>
                      <div class="form-group m-form__group row">
                        <label class="col-4 col-form-label">
                          Code TVA
                        </label>
                        <div class="col-7">
                          <input class="form-control m-input" type="text" [value]="third?.tva_code" readonly>
                        </div>
                      </div>
                      <div class="form-group m-form__group row">
                        <label class="col-4 col-form-label">
                          Identification fiscale
                        </label>
                        <div class="col-7">
                          <input class="form-control m-input" type="text" [value]="third?.if" readonly>
                        </div>
                      </div>
                      <div class="form-group m-form__group row">
                        <label class="col-4 col-form-label">
                          Identifiant commun de l’entreprise.
                        </label>
                        <div class="col-7">
                          <input class="form-control m-input" type="text" [value]="third?.ice" readonly>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="tab-pane" id="m_user_profile_tab_3">
            <div class="container">
              <dx-data-grid id="CampaignGridContainer"
                            [allowColumnReordering]="true"
                            [dataSource]="campagnes"
                            [showColumnLines]="true"
                            [showRowLines]="true"
                            [showBorders]="true"
                            [rowAlternationEnabled]="true"
                            style="padding-top: 2vh"
                            [noDataText]="'L\'agrégé ne dispose pas de carte agriculteur'"
                            keyExpr="id">
                <dxi-column dataField="campaign.label" caption="Libelle"></dxi-column>
                <dxi-column dataField="campaign.start_date" caption="Date de début"></dxi-column>
                <dxi-column dataField="campaign.end_date" caption="Date de fin"></dxi-column>
                <dxi-column dataField="contracted_surface" caption="Surface contracté"></dxi-column>
                <dxi-column dataField="campaign.description" caption="Description"></dxi-column>
                <dxo-remote-operations
                  [sorting]="true"
                  [paging]="false">
                </dxo-remote-operations>
                <dxo-selection mode="multiple"></dxo-selection>
                <dxo-editing
                  [useIcons]="true"
                  mode="row"
                  [allowUpdating]="false"
                  [allowDeleting]="false"
                  [allowAdding]="false">
                </dxo-editing>
                <dxo-pager
                  [showPageSizeSelector]="false"
                ></dxo-pager>
              </dx-data-grid>
            </div>
          </div>
          <div class="tab-pane" id="m_user_profile_tab_4">
            <div class="m-form m-form--fit m-form--label-align-right">
              <div class="m-portlet__body">
                <div class="form-group m-form__group row">
                  <div class="col-10 ml-auto">
                    <h3 class="m-form__section">
                      1. Informations sur la structure
                    </h3>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-2 col-form-label">
                    Libelle
                  </label>
                  <div class="col-7">
                    <input class="form-control m-input" type="text" [value]="structure?.label ? structure?.label : 'N/A'"
                           readonly>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-2 col-form-label">
                    Code
                  </label>
                  <div class="col-7">
                    <input class="form-control m-input" type="text" [value]="structure?.code" readonly>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-2 col-form-label">
                    Ville
                  </label>
                  <div class="col-7">
                    <input class="form-control m-input" type="text" [value]="structure?.city ? structure?.city : 'N/A'"
                           readonly>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-2 col-form-label">
                    Adresse
                  </label>
                  <div class="col-7">
                    <input class="form-control m-input" type="text" [value]="structure?.address ? structure?.address : 'N/A'" readonly>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-2 col-form-label">
                    Code postale
                  </label>
                  <div class="col-7">
                    <input class="form-control m-input" type="text" [value]="structure?.postal_code ? structure?.postal_code : 'N/A'" readonly>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-2 col-form-label">
                    Email
                  </label>
                  <div class="col-7">
                    <input class="form-control m-input" type="text" [value]="structure?.email ? structure?.email : 'N/A'" readonly>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-2 col-form-label">
                    Numéro de téléphone 1:
                  </label>
                  <div class="col-7">
                    <input class="form-control m-input" type="text" [value]="structure?.tel1 ? structure?.tel1 : 'N/A'" readonly>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-2 col-form-label">
                    Numéro de téléphone 2:
                  </label>
                  <div class="col-7">
                    <input class="form-control m-input" type="text" [value]="structure?.tel2 ? structure?.tel2 : 'N/A'" readonly>
                  </div>
                </div>
                <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="m_user_profile_tab_5">
            <div class="container">
              <dx-data-grid id="gridCont"
                            [allowColumnReordering]="true"
                            [dataSource]="documents"
                            [showColumnLines]="true"
                            [showRowLines]="true"
                            [showBorders]="true"
                            (onRowInserting)="onAddDOC($event)"
                            [rowAlternationEnabled]="true"
                            style="padding-top: 2vh"
                            [noDataText]="'Le contrat ne dispose pas de documents'"
                            keyExpr="id">

                <dxi-column dataField="label" caption="Type" [visible]="false">
                  <dxo-lookup
                    [dataSource]="docTypes"
                    displayExpr="label"
                    valueExpr="id">
                  </dxo-lookup>
                </dxi-column>

                <dxi-column dataField="label" caption="Type"></dxi-column>

                <dxi-column dataField="path" caption="Upload" editCellTemplate="cellTemplate2"
                            [visible]="false"></dxi-column>

                <dxi-column dataField="downloadPath" caption="Download" cellTemplate="cellTemplate"></dxi-column>

                <div *dxTemplate="let data of 'cellTemplate'">
                  <dx-button
                    class="send"
                    icon="fa fa-cloud-download"
                    text="Download"
                    (onClick)="downloadDocument(data)">
                  </dx-button>
                </div>
                <div *dxTemplate="let data of 'cellTemplate2'">
                  <div class="container">
                    <dx-file-uploader
                      selectButtonText="Ajouter un document"
                      labelText="document"
                      accept="*"
                      uploadMode="useForm"
                      [(value)]="filePath">
                    </dx-file-uploader>
                  </div>
                </div>
                <dxo-remote-operations
                  [sorting]="true"
                  [paging]="false">
                </dxo-remote-operations>
                <dxo-selection mode="multiple"></dxo-selection>
                <dxo-editing
                  [useIcons]="true"
                  mode="popup"
                  [form]="{items: ['label', 'path']}"
                  [allowUpdating]="true"
                  [allowDeleting]="true"
                  [allowAdding]="true">
                  <dxo-popup
                    title="Ajouter ou modifier"
                    [showTitle]="true"
                    [width]="700"
                    [height]="345"
                    [position]="{ my: 'center', at: 'center'}">
                  </dxo-popup>
                </dxo-editing>
                <dxo-pager
                  [showPageSizeSelector]="false"
                ></dxo-pager>
              </dx-data-grid>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
