<!--<div class="m-grid__item m-grid__item&#45;&#45;fluid m-grid m-grid&#45;&#45;ver-desktop m-grid&#45;&#45;desktop m-grid&#45;&#45;tablet-and-mobile m-grid&#45;&#45;hor-tablet-and-mobile m-login m-login&#45;&#45;1 m-login&#45;&#45;signin" id="m_login">
	<div class="m-grid__item m-grid__item&#45;&#45;order-tablet-and-mobile-2 m-login__aside">
		<div class="m-stack m-stack&#45;&#45;hor m-stack&#45;&#45;desktop">
			<div class="m-stack__item m-stack__item&#45;&#45;fluid">
				<div class="m-login__wrapper">
					<div class="m-login__signin">
						<div class="m-login__head">

							<h1 class="text-center">
								Connexion
							</h1>

							<div class="m-login__desc">Entre votre email et votre mot de passe <br>pour se connecter.</div>

						</div>
						<form (ngSubmit)="f.form.valid && signin()" #f="ngForm" class="m-login__form m-form" action="">
							<ng-template #alertSignin></ng-template>
							<div class="m-login__form-inputs">
								<div class="form-group m-form__group">
									<input style="padding-bottom: 10px" class="form-control m-input" type="text" placeholder="Email" name="email" [(ngModel)]="model.email" #email="ngModel" autocomplete="off">
								</div>
								<div class="form-group m-form__group">
									<input class="form-control m-input m-login__form-input&#45;&#45;last" type="password" placeholder="Password" name="password"  id="password-field" [(ngModel)]="model.password" #password="ngModel">
                  <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
								</div>
							</div>

              <div class="m-login__form-action" *ngIf="loading">
              <dx-load-indicator id="medium-indicator" height="40" width="40"></dx-load-indicator>
              </div>

							<div class="m-login__form-action">
								<button [disabled]="loading" [ngClass]="{'m-loader m-loader&#45;&#45;right m-loader&#45;&#45;light': loading}" id="m_login_signin_submit" class="btn m-btn m-btn&#45;&#45;pill m-btn&#45;&#45;air">
									Connexion
								</button>
							</div>
						</form>
					</div>
					<div class="m-login__forget-password">
						<div class="m-login__head">
							<h1 class="m-login__title">
								Forgotten Password ?
							</h1>
							<div class="m-login__desc">
								<strong>Enter your email to reset your password:</strong>
							</div>
						</div>
						<form (ngSubmit)="f.form.valid && forgotPass()" #f="ngForm" class="m-login__form m-form" action="">
							<ng-template #alertForgotPass></ng-template>
							<div class="form-group m-form__group">
								<input class="form-control m-input" type="text" placeholder="Email" name="email" [(ngModel)]="model.email" #email="ngModel" id="m_email" autocomplete="off">
							</div>
							<div class="m-login__form-action">
								<button [disabled]="loading" [ngClass]="{'m-loader m-loader&#45;&#45;right m-loader&#45;&#45;light': loading}" id="m_login_forget_password_submit" class="btn btn-success m-btn m-btn&#45;&#45;pill m-btn&#45;&#45;custom m-btn&#45;&#45;air mr-2">
									Request
								</button>
								<button [disabled]="loading"  id="m_login_forget_password_cancel" class="btn m-btn m-btn&#45;&#45;pill m-btn&#45;&#45;custom">
									Cancel
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="m-grid__item m-grid__item&#45;&#45;fluid m-grid m-grid&#45;&#45;center m-grid&#45;&#45;hor m-grid__item&#45;&#45;order-tablet-and-mobile-1	m-login__content" style="background-image: url(./assets/images/bg.jpg)">
		<div class="m-grid__item m-grid__item&#45;&#45;middle">
			<div class="m-login__logo">
					<img src="./assets/images/siam618-white.png" width="130">
			</div>
			<h3 class="m-login__welcome">
				ATTAISSIR.

			</h3>

		</div>
	</div>
</div>-->

<header class="v-header container-landing">
  <div class="fullscreen-video-wrap">
    <video src="/assets/videos/video2.mp4" autoplay="true" loop="true" type="video/mp4"></video>
  </div>
  <div class="header-overlay">
  </div>
  <div class="content-landing">
    <div #rendererContainer class="mb4"></div>
    <div class="login-html">
      <div class="logo-wrapper">

        <!-- SVG-based animation and responsive -->

        <svg version="1.1" id="logo-webbab" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin meet"
             viewBox="0 0 388.691 120">
          <defs>
            <linearGradient id="grad3" x1="0%" y1="0%" x2="100%" y2="0%">
              <stop offset="0%" style="stop-color:rgba(253,255,189,0.78) ;stop-opacity:1"/>
              <stop offset="20%" style="stop-color:rgba(238,255,149,0.75);stop-opacity:1"/>
              <stop offset="40%" style="stop-color:rgba(237,250,181,0.78);stop-opacity:1"/>
              <stop offset="70%" style="stop-color:rgba(241,249,213,0.78);stop-opacity:1"/>
              <stop offset="100%" style="stop-color:rgba(247,248,244,0.8);stop-opacity:1"/>
            </linearGradient>
          </defs>
          <text y="100"
                        class="word" id="w"
                        font-family="'Cardo', sans-serif"
                        font-size="65">
          ATTAISSIR
        </text>
        </svg>

      </div>
      <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
        {{ errorMessage}}
      </div>
      <form (ngSubmit)="f.form.valid && signin()" #f="ngForm" novalidate>
        <div class="login-form">
          <div class="sign-in-htm">
            <div class="group">
              <input [disabled]="loading" id="user" name="email" class="input" placeholder="username"
                     [(ngModel)]="model.email" #email="ngModel" autocomplete="off" #unField="ngModel" required>
            </div>
            <div class="group">
              <input [disabled]="loading" name="password" class="input" type="password" placeholder="Password"
                     name="password" id="password-field" [(ngModel)]="model.password" #password="ngModel">
            </div>
            <div class="m-login__form-action" *ngIf="loading">
              <dx-load-indicator id="medium-indicator" height="40" width="40"></dx-load-indicator>
            </div>
            <div class="group">
              <input [disabled]="loading" id="check" type="checkbox" class="check" checked>
              <label for="check"><span class="icon"></span> Se souvenir de moi</label>
            </div>

            <div class="group">
              <button [disabled]="loading" type="submit" class="btn button" [disabled]="!f.valid"> Se connecter</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</header>




