<div class="login-wrapper" >
    <form class="login">
        <section class="title">
            <h3 class="welcome">Bienvenue sur</h3>
            ATTAISSIR
        </section>
        <div class="login-group">
            <clr-input-container>
                <input type="text" name="username" clrInput placeholder="Adresse mail" [(ngModel)]="model.email" required/>
            </clr-input-container>
            <clr-password-container>
                <input type="password" name="password" clrPassword placeholder="Mot de passe" [(ngModel)]="model.password" required/>
            </clr-password-container>
            <div class="error active" *ngIf="errorMessage">
                Adresse mail ou mot de passe invalide
            </div>
            <button type="submit" (click)="signin()" class="btn btn-primary">Connexion</button>
        </div>
    </form>
</div>
<dx-load-panel
        #loadPanel
        shadingColor="rgba(0,0,0,0.4)"
        [position]="{ of: 'me' }"
        [(visible)]="loadingVisible"
        [showIndicator]="true"
        [showPane]="true"
        [shading]="true"
        [closeOnOutsideClick]="false">
</dx-load-panel>