<div class="clr-row">
    <div class="clr-col-12">
        <ul class="m-nav-sticky"
            style="margin-top: 30px; background-color: rgba(0,0,0,0); box-shadow: rgba(0,0,0,0) !important;">
            <dx-button (onClick)="toggleChart()" icon="back" [disabled]="false">
            </dx-button>
        </ul>
        <div #chartContainer class="slide-in-right">
            <div class="dx-field">
                <div class="dx-field-value">
                    <dx-date-box
                            (onValueChanged)="updateChart($event)"
                            [value]="now"
                            [displayFormat]="'shortTime'"
                            type="time">
                    </dx-date-box>
                </div>
            </div>
            <dx-chart #chart id="chart" [dataSource]="chartData" title="Réception horaire par CDA"
                      [palette]="'Soft Pastel'">
                <dxo-scroll-bar [visible]="true"></dxo-scroll-bar>
                <dxo-zoom-and-pan
                        argumentAxis="both"
                ></dxo-zoom-and-pan>
                <dxo-scroll-bar [visible]="true"></dxo-scroll-bar>
                <dxo-loading-indicator [show]="chartLoadingIndicator" text="Chargement"></dxo-loading-indicator>
                <dxi-series argumentField="cda_name" argumentType="text" name="Tonnage réceptionné cette heure"
                            valueField="poids_net" [ignoreEmptyPoints]="true" type="bar">
                    <dxo-label [customizeText]="customizeLabel" [visible]="true"
                               [argumentFormat]="'dd/MM/yyyy'"></dxo-label>
                </dxi-series>
                <dxi-series argumentField="cda_name" argumentType="text" name="Tonnage réceptionné jusqu'à cette heure"
                            valueField="poids_net_accumulated" [ignoreEmptyPoints]="true" type="bar">
                    <dxo-label [customizeText]="customizeLabel" [visible]="true"
                               [argumentFormat]="'dd/MM/yyyy'"></dxo-label>
                </dxi-series>
                <dxi-series argumentField="cda_name" argumentType="text" name="Tonnage Combiné cette heure"
                            [ignoreEmptyPoints]="true" valueField="poids_net_combine" type="bar">
                    <dxo-label [customizeText]="customizeLabel" [visible]="false"
                               [argumentFormat]="'dd/MM/yyyy'"></dxo-label>
                </dxi-series>
                <dxi-series argumentField="cda_name" argumentType="text" name="Tonnage Combiné jusqu'à cette heure"
                            [ignoreEmptyPoints]="true" valueField="poids_net_combine_accumulated" type="bar">
                    <dxo-label [customizeText]="customizeLabel" [visible]="false"
                               [argumentFormat]="'dd/MM/yyyy'"></dxo-label>
                </dxi-series>
                <dxi-series argumentField="cda_name" argumentType="text" name="Tonnage mécainque cette heure"
                            [ignoreEmptyPoints]="true" valueField="poids_net_came_sum" type="bar">
                    <dxo-label [customizeText]="customizeLabel" [visible]="false"
                               [argumentFormat]="'dd/MM/yyyy'"></dxo-label>
                </dxi-series>
                <dxi-series argumentField="cda_name" argumentType="text" name="Tonnage mécainque jusqu'à cette heure"
                            [ignoreEmptyPoints]="true" valueField="poids_net_came_sum_accumulated" type="bar">
                    <dxo-label [customizeText]="customizeLabel" [visible]="false"
                               [argumentFormat]="'dd/MM/yyyy'"></dxo-label>
                </dxi-series>
                <dxi-series argumentField="cda_name" argumentType="text" name="Tonnage manuel cette heure"
                            [ignoreEmptyPoints]="true"
                            valueField="poids_net_cama_sum" type="bar">
                    <dxo-label [customizeText]="customizeLabel" [visible]="false"
                               [argumentFormat]="'dd/MM/yyyy'"></dxo-label>
                </dxi-series>
                <dxi-series argumentField="cda_name" argumentType="text" name="Tonnage manuel jusqu'à cette heure"
                            [ignoreEmptyPoints]="true"
                            valueField="poids_net_cama_sum_accumulated" type="bar">
                    <dxo-label [customizeText]="customizeLabel" [visible]="false"
                               [argumentFormat]="'dd/MM/yyyy'"></dxo-label>
                </dxi-series>
                <dxo-legend verticalAlignment="top"
                            horizontalAlignment="center"></dxo-legend>
                <dxo-export [enabled]="true"></dxo-export>
                <dxo-tooltip
                        [enabled]="true"
                        location="edge"
                        [customizeTooltip]="customizeTooltip">
                </dxo-tooltip>
            </dx-chart>
            <hr>
            <dx-chart #chart id="chartI" [dataSource]="chartData" title="Qualité technologique horaire par CDA"
                      [palette]="'Material Alternate'">
                <dxo-zoom-and-pan
                        argumentAxis="both"
                ></dxo-zoom-and-pan>
                <dxo-scroll-bar [visible]="true"></dxo-scroll-bar>
                <dxo-loading-indicator [show]="chartLoadingIndicator" text="Chargement"></dxo-loading-indicator>
                <dxi-series argumentField="cda_name"  name="Moyenne des impuretés"
                            argumentType="text" [showInLegend]="true"
                            valueField="net_impurete"
                            type="spline">
                    <dxo-tooltip
                            [enabled]="true"
                            location="edge">
                    </dxo-tooltip>
                </dxi-series>
                <dxi-series argumentField="cda_name"  name="Moyenne des Fibres "
                            argumentType="text" [showInLegend]="true"
                            valueField="fibre"
                            type="spline">
                    <dxo-tooltip
                            [enabled]="true"
                            location="edge">
                    </dxo-tooltip>
                </dxi-series>
                <dxi-series argumentField="cda_name"  name="Moyenne des Richesses"
                            argumentType="text" [showInLegend]="true"
                            valueField="richesse"
                            type="spline">
                    <dxo-tooltip
                            [enabled]="true"
                            location="edge">
                    </dxo-tooltip>
                </dxi-series>
                <dxi-series argumentField="cda_name"  name="Moyenne des SRT Labo"
                            argumentType="text" [showInLegend]="true"
                            valueField="srt_labo"
                            type="spline">
                    <dxo-tooltip
                            [enabled]="true"
                            location="edge">
                    </dxo-tooltip>
                </dxi-series>
                <dxi-series argumentField="cda_name"  name="Moyenne des Puretés"
                            argumentType="text" [showInLegend]="true"
                            valueField="purete"
                            type="spline">
                    <dxo-tooltip
                            [enabled]="true"
                            location="edge">
                    </dxo-tooltip>
                </dxi-series>
                <dxo-legend verticalAlignment="top"
                            horizontalAlignment="center"></dxo-legend>
                <dxo-export [enabled]="true"></dxo-export>
                <dxo-tooltip
                        [enabled]="true"
                        location="edge"
                        [customizeTooltip]="customizeTooltipTech">
                </dxo-tooltip>
            </dx-chart>
        </div>
    </div>
</div>
<dx-data-grid
        id="ReceptionHourlyStateGrid"
        [dataSource]="receptions"
        [columnHidingEnabled]="false"
        align="center"
        [allowColumnReordering]="true"
        [columnAutoWidth]="true"
        [remoteOperations]="{ paging: true, sorting: true, filtering: true}"
        noDataText="Aucun rotation n'a été rapporté"
        [rowAlternationEnabled]="true"
        KeyExpr="id"
        #ReportingContracts>

    <dxi-column [visible]="true" [alignment]="'center'" dataField="day" caption="Date" [groupIndex]="0"
                dataType="date"></dxi-column>
    <dxi-column [visible]="true" [alignment]="'center'" dataField="cda_name" caption="CDA" [groupIndex]="1"
                dataType="text"></dxi-column>
    <dxi-column [visible]="true" [alignment]="'center'" dataField="hour" sortOrder="asc" caption="Heure"></dxi-column>
    <dxi-column [visible]="true" [alignment]="'center'" dataField="poids_net"
                caption="Tonnage  réceptionné"></dxi-column>
    <dxi-column [visible]="true" [alignment]="'center'" dataField="poids_net_accumulated"
                caption="Tonnage  réceptionné (accumulée)"></dxi-column>
    <dxi-column [visible]="true" [alignment]="'center'" dataField="net_impurete" caption="Impuretés moyen"></dxi-column>
    <dxi-column [visible]="false" [alignment]="'center'" dataField="net_impurete_accumulated"
                caption="Impuretés moyen (accumulées)"></dxi-column>
    <dxi-column [visible]="true" [alignment]="'center'" dataField="fibre" caption="Fibre moyen"></dxi-column>
    <dxi-column [visible]="false" [alignment]="'center'" dataField="fibre_accumulated"
                caption="Fibre moyen (accumulée)"></dxi-column>
    <dxi-column [visible]="true" [alignment]="'center'" dataField="richesse" caption="Richesse moyen"></dxi-column>
    <dxi-column [visible]="false" [alignment]="'center'" dataField="richesse_accumulated"
                caption="Richesse moyen (accumulée)"></dxi-column>
    <dxi-column [visible]="false" [alignment]="'center'" dataField="n_richesse" caption="n_richesse"></dxi-column>
    <dxi-column [visible]="false" [alignment]="'center'" dataField="n_richesse_accumulated"
                caption="n_richesse_accumulated"></dxi-column>
    <dxi-column [visible]="true" [alignment]="'center'" dataField="srt_labo" caption="SRT Labo moyen"></dxi-column>
    <dxi-column [visible]="false" [alignment]="'center'" dataField="srt_labo_accumulated"
                caption="SRT Labo moyen (accumulées)"></dxi-column>
    <dxi-column [visible]="false" [alignment]="'center'" dataField="srt_calc" caption="srt_calc"></dxi-column>
    <dxi-column [visible]="false" [alignment]="'center'" dataField="srt_calc_accumulated"
                caption="srt_calc_accumulated"></dxi-column>
    <dxi-column [visible]="true" [alignment]="'center'" dataField="poids_net_combine"
                caption="Tonnage  Combiné"></dxi-column>
    <dxi-column [visible]="true" [alignment]="'center'" dataField="poids_net_combine_accumulated"
                caption="Tonnage  Combiné  (accumulée)"></dxi-column>
    <dxi-column [visible]="true" [alignment]="'center'" dataField="poids_net_came_sum"
                caption="Tonnage  mécainque"></dxi-column>
    <dxi-column [visible]="true" [alignment]="'center'" dataField="poids_net_came_sum_accumulated"
                caption="Tonnage  mécainque (accumulée)"></dxi-column>
    <dxi-column [visible]="true" [alignment]="'center'" dataField="poids_net_came"
                caption="Tonnage moyen mécainque"></dxi-column>
    <dxi-column [visible]="false" [alignment]="'center'" dataField="poids_net_came_accumulated"
                caption="Tonnage moyen mécainque (accumulée)"></dxi-column>
    <dxi-column [visible]="true" [alignment]="'center'" dataField="poids_net_cama_sum"
                caption="Tonnage  manuel"></dxi-column>
    <dxi-column [visible]="true" [alignment]="'center'" dataField="poids_net_cama_sum_accumulated"
                caption="Tonnage  manuel (accumulée)"></dxi-column>
    <dxi-column [visible]="true" [alignment]="'center'" dataField="poids_net_cama"
                caption="Tonnage moyen manuel"></dxi-column>
    <dxi-column [visible]="false" [alignment]="'center'" dataField="poids_net_cama_accumulated"
                caption="Tonnage moyen manuel(accumulée)"></dxi-column>
    <dxi-column [visible]="false" [alignment]="'center'" dataField="poids_gateau" caption="poids_gateau"></dxi-column>
    <dxi-column [visible]="false" [alignment]="'center'" dataField="poids_gateau_accumulated"
                caption="poids_gateau_accumulated"></dxi-column>
    <dxi-column [visible]="true" [alignment]="'center'" dataField="nbr_rotations"
                caption="Nombre de rotations"></dxi-column>


    <dxo-selection mode="multiple"></dxo-selection>
    <dxo-scrolling mode="standard" [showScrollbar]="'always'"></dxo-scrolling>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-export [enabled]="true" fileName="situation_contracts" [excelFilterEnabled]="true"
                [allowExportSelectedData]="true"></dxo-export>
    <dxo-filter-row
            [visible]="true" [applyFilter]="true"></dxo-filter-row>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-pager
            [allowedPageSizes]="[5, 8, 15, 30]"
            [showInfo]="true"
            [showNavigationButtons]="true"
            [showPageSizeSelector]="true"
            [visible]="true">
    </dxo-pager>
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>
    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxo-group-panel [visible]="true"
                     emptyPanelText="Glissez-déposez ici la colonne par laquelle vous souhaitez regrouper les données."></dxo-group-panel>
    <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
</dx-data-grid>

