<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="siam-page-header">
      <a class="siam-header-back-btn" href="/index"><i class="fa fa-angle-left"></i> Tableau de bord</a>
     <!-- <h2>Appliquer un Template d'intervention sur plusieurs parcelle logique</h2> !-->
          <p [appPermissionHidden]="['distributionCenter.stocks.destroy','preconization.interventionrequests.index']" >.</p>

    </div>
  </div>
</div>

<div class="m-content">
  <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height m-portlet--rounded ">
    <div class="m-portlet__body">

      <form>
        <dx-form id="form"
                 [formData]="template"
                 [readOnly]="false"
                 [showColonAfterLabel]="true"
                 [showValidationSummary]="true"
                 labelLocation="top">

          <dxi-item itemType="group" caption="Préconisations en mass" [colCount]="2" i18n-caption>


            <dxi-item dataField="template" editorType="dxSelectBox" [editorOptions]="templateOptions">
              <dxo-label
                text="Templates" i18n-text>
              </dxo-label>
              <dxi-validation-rule type="required" message="Template est obligatoire"
                                   i18n-message></dxi-validation-rule>
            </dxi-item>


            <dxi-item
                      dataField="date"
                      editorType="dxDateBox"
                      [editorOptions]="dateOptions">
              <dxo-label
                text="Date prévue" i18n-text>
              </dxo-label>
              <dxi-validation-rule type="required" message="Date est obligatoire"
                                   i18n-message></dxi-validation-rule>
                </dxi-item>


            <dxi-item dataField="description" editorType="dxTextArea">
              <dxo-label
                text="Description" i18n-text>
              </dxo-label>
            </dxi-item>

          </dxi-item>


          <dxi-item>

          <dx-tree-list
            id="tasks"
            [dataSource]="_parcels"
            keyExpr="id"
            [showBorders]="true"
            parentIdExpr="parent_id"
            [showBorders]="true"
            [columnAutoWidth]="true"
            [wordWrapEnabled]="true"
          #ref1>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-scrolling  mode="standard" [showScrollbar]="'always'"></dxo-scrolling>
            <dxi-column dataField="parent_id" caption=" "  [width]="100"  cellTemplate="parent_idTemplate"></dxi-column>

            <dxi-column dataField="name" [width]="300" caption="Parcelle"   cellTemplate="nameTemplate"></dxi-column>
            <dxi-column dataField="id" caption="Id"  [visible]="false"></dxi-column>

             <dxi-column dataField="cda"  style="background-color: #ac2925 !important;" caption="CDA" ></dxi-column>
             <dxi-column dataField="zone" caption="Zone" ></dxi-column>

             <dxi-column dataField="third_party_id" caption="Code Agrégé" cellTemplate="userTemplate"  ></dxi-column>
             <dxi-column dataField="cin" caption="CIN"></dxi-column>
             <dxi-column dataField="full_name" caption="Nom complet" style="color: #6d7fcc; align-content: center; cursor: pointer" ></dxi-column>
             <dxi-column dataField="contract_id" caption="Réf. Contrat" cellTemplate="contractTemplate"  width="150px"></dxi-column>
             <dxi-column dataField="registration_number" caption="Matricule"></dxi-column>
             <dxi-column dataField="code_ormva" caption="Code ORMVA"></dxi-column>
             <dxi-column dataField="application_date" caption="Date d'application" [visible]="false"></dxi-column>
             <dxi-column dataField="perimeter" caption="Périmetre" [visible]="false"></dxi-column>
             <dxi-column dataField="block" caption="Bloc" [visible]="false"></dxi-column>
             <dxi-column dataField="annuel_surface" caption="Superficie annuelle" [visible]="false"></dxi-column>
            <!-- <dxi-column dataField="status" caption="Etat"  cellTemplate="statusTemplate"></dxi-column> !-->

              <dxo-paging
                      [enabled]="true"
                        [pageSize]="10">
              </dxo-paging>
              <dxo-pager
                      [showPageSizeSelector]="true"
                      [allowedPageSizes]="[10, 15, 20]"
                      [showNavigationButtons]="true">
              </dxo-pager>

            <div *dxTemplate="let data of 'parent_idTemplate'">
              <div *ngIf="data.value ==0">
                <dx-check-box [value]="data.data.is_selected"  (valueChange)="selectedEventItem($event,data.data.id)"></dx-check-box> &nbsp; &nbsp; &nbsp;
              </div>
            </div>


            <div *dxTemplate="let data of 'nameTemplate'">
              <div >
                <span *ngIf="data.data.parent_id !=0" > &nbsp; &nbsp; ----  {{data.data.name}} </span>
                <span *ngIf="data.data.parent_id ==0" > {{data.data.name}} </span>
              </div>
            </div>

            <div *dxTemplate="let data of 'contractTemplate'">
              <a style="color: #6d7fcc; align-content: center; cursor: pointer" (click)="helper.gotoShow('contrats', data.data.contract_id, router, toastr)">{{ data.data.contract_code }}</a>
            </div>

            <div *dxTemplate="let data of 'statusTemplate'">
               <span  [ngClass]=" helper.getStatusColor(data.value)">
                       {{helper.getStatut(data.value)}}
                </span>

            </div>

            <div *dxTemplate="let data of 'tenureTemplate'">
               <span>
                       <p>{{helper.tenureType(data.value)}}</p>
                </span>
            </div>

            <div *dxTemplate="let data of 'userTemplate'">
              <a class="siam-link" (click)="helper.gotoShow('tiers', data.value, router, toastr)">AG{{ data.value }}</a>
            </div>


          </dx-tree-list>


            <br/>
            <dx-check-box
               (valueChange)="selectedEvent($event)"
              [value]="false"
              [width]="200"
              [text]="'Sélectionner tout'"
            ></dx-check-box>

            </dxi-item>


          <div class="dx-fieldset">
            <div class="dx-field">
              <div class="dx-field-value">
                <dxi-item  itemType="button"  [buttonOptions]="buttonsave"></dxi-item>
              </div>
            </div>
          </div>


        </dx-form>
      </form>
    </div>
  </div>
</div>
<dx-load-panel
  #loadPanel
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{my: 'center'}"
  [(visible)]="loadingVisible"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  [closeOnOutsideClick]="false">
</dx-load-panel>
