<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">

    <div class="siam-page-header">
      <a class="siam-header-back-btn" href="/index"><i class="fa fa-angle-left"></i> Tableau de bord</a>
      <h2> Fiche  Préconisation d'intrans N°  {{preconisation.id}}</h2>
    </div>


  </div>
</div>
<div class="m-content" style="padding-bottom: 10px;">
  <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height m-portlet--rounded ">
    <div class="m-portlet__body">




      <div class="tab-content" >
        <div class="tab-pane active" id="m_user_profile_tab_1">
          <div class="m-form m-form--fit">
            <div class="m-portlet__body">
              <div class="row">
                <div class="col-12">
                  <h3 class="m-form__section">
                    Informations générales

                <!--    <span class="siam-form-input-value _status_inprogress" *ngIf="mouvement.state == 'inprogress'">
                    <i class="fa  fa-spinner" aria-hidden="true"></i> EN COURS
                  </span>


                    <span class="siam-form-input-value _status_done" *ngIf="mouvement.state == 'done'">
                    <i class="fa  fa-spinner" aria-hidden="true"></i> VALIDÉ
                  </span>

                    <span class="siam-form-input-value _status_cancled" *ngIf="mouvement.state == 'cancled'">
                    <i class="fa  fa-spinner" aria-hidden="true"></i> ANNULÉ
                  </span>
                  !-->


                  </h3>
                  <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
                </div>
              </div>


              <div class="row">
                <div class="col-4">
                  <div class="row">
                    <label class="col-12">
                      Référence
                    </label>
                    <div class="col-12">

                      <p class="siam-form-input-value siam-form-input-value-nodata">
                        {{preconisation.id}}
                       </p>

                    </div>
                  </div>

                </div>
                <div class="col-4">
                  <div class="row">
                    <label class="col-12">
                      CDA
                    </label>
                    <div class="col-12">

                      <p class="siam-form-input-value siam-form-input-value-nodata">
                        {{preconisation.cda}}

                      </p>
                    </div>
                  </div>

                </div>
                <div class="col-4">
                  <div class="row">
                    <label class="col-12">
                      Zone
                    </label>
                    <div class="col-12">

                      <p class="siam-form-input-value siam-form-input-value-nodata">
                        {{preconisation.zone}}

                      </p>

                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="row">
                    <label class="col-12">
                      Parcelle
                    </label>
                    <div class="col-12">

                      <p class="siam-form-input-value siam-form-input-value-nodata">
                        {{preconisation.parcel}}

                      </p>

                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="row">
                    <label class="col-12">
                      Nom d'agriculteur
                    </label>
                    <div class="col-12">

                      <p class="siam-form-input-value siam-form-input-value-nodata">

                        {{preconisation.third_party_name}}

                      </p>

                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="row">
                    <label class="col-12">
                      C.I.N d'agriculter
                    </label>
                    <div class="col-12">

                      <p class="siam-form-input-value siam-form-input-value-nodata">

                        {{preconisation.third_party_cin}}

                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-4">
                  <div class="row">
                    <label class="col-12">
                      Date de commande
                    </label>
                    <div class="col-12">

                      <p class="siam-form-input-value siam-form-input-value-nodata">

                        {{preconisation.date}}

                      </p>
                    </div>
                  </div>
                </div>


              </div>

              <div class="row">
                <dx-button width="330" icon="fa fa-lock" (onClick)="showAyantsDroitPopup()"  text="LA LISTE DES AYANTS DROIT" type="primary"  style="margin-left: 20px; margin-right: 20px;" ></dx-button> &nbsp; &nbsp;

              </div>


            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>



<div class="m-content" style="padding-bottom: 10px;">
  <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height m-portlet--rounded ">
    <div class="m-portlet__body">


      <div class="tab-content">
        <div class="tab-pane active" id="m_user_profile_tab_2">
          <div class="m-form m-form--fit">
            <div class="m-portlet__body">
              <div class="row">
                <div class="col-12">
                  <h3 class="m-form__section">
                    Liste des produits
                  </h3>
                  <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
                </div>
              </div>


              <dx-data-grid
                id="gridContainer"
                [dataSource]="articles"
                showBorders="true"
                [columnHidingEnabled]="true"
                [allowColumnResizing]="false"
                [allowColumnReordering]="true"
                [remoteOperations]="{ paging: true, sorting: true, filtering: true}"
                KeyExpr="id">

                <dxo-export [enabled]="true" fileName="magasin" [allowExportSelectedData]="true"></dxo-export>

                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>

                <dxo-group-panel [visible]="true"></dxo-group-panel>
                <dxo-scrolling mode="virtual"></dxo-scrolling>
                <dxo-editing
                  mode="popup"
                  [useIcons]="true"
                  [allowDeleting]="false"
                  [allowUpdating]="false">
                </dxo-editing>
                <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
                <dxo-selection mode="multiple"></dxo-selection>
                <dxo-header-filter [visible]="true"></dxo-header-filter>


                <dxo-pager
                  [allowedPageSizes]="[5, 8, 15, 30]"
                  [showInfo]="true"
                  [showNavigationButtons]="true"
                  [showPageSizeSelector]="true"
                  [visible]="true">
                </dxo-pager>
                <dxo-paging [pageSize]="10"></dxo-paging>
                <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>

                <dxi-column dataField="article.id" [width]="100" [visible]="false" caption="" [allowSorting]="false"  [allowFiltering]="false"  [allowSorting]="false"></dxi-column>
                <dxi-column dataField="article.category.article_category.name" caption="Famille"></dxi-column>
                <dxi-column dataField="article.category.name" caption="Sous Famille"></dxi-column>
                <dxi-column dataField="article.name" caption="Article"></dxi-column>
                <dxi-column dataField="quantity" caption="Quantité globale"></dxi-column>

              </dx-data-grid>


            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>



<dx-popup
  class="popup"
  [width]="580"
  [height]="290"
  [showTitle]="true"
  title="Confirmation "
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [(visible)]="popupDeliverVisible"
  (window:keypress)="doSomething($event)"

>
  <div *dxTemplate="let data of 'content'">

    <div  *ngIf="evnt1" style="text-align: center;">
    <p>
      Glisser la carte agriculteur.
    </p>

    <p style="text-align: center; margin: 20px">
    <i class="fa fa-id-card-o fa-rotate-45" aria-hidden="true"></i>
    </p>
    </div>

    <div *ngIf="!evnt1">
      <p>
        Tapez le code PIN.
      </p>
      <br/>

    <dxi-item itemType="group" [colCount]="2">
      <dxi-item>
        <div class="dx-field-value">
          <dx-text-box placeholder="****" valueChangeEvent="keyup" (onValueChanged)="pinTextBox($event)" (onFocusIn)="func1()" (onFocusOut)="func2()"></dx-text-box>
        </div>
      </dxi-item>

      <dxi-item>
        <dx-button class="button-info" text="Glisser la carte"   icon="fa fa-id-card-o" (onClick)="changeLivrerPopup()"> </dx-button>
      </dxi-item>

    </dxi-item>
    </div>

       <br/>

    <div  class="pull-right">



      <dx-button
                 class="button-info"
                 text="Fermer"
                 width="100"
                 (onClick)="cancelPopup()">
      </dx-button>

      <dx-button *ngIf="!evnt1" width="120"  icon="fa fa-paper-plane"  text="LIVRER" type="success" (onClick)="showDeliverPopup()"  style="margin-left: 10px; margin-right: 10px;"  ></dx-button>


    </div>


  </div>
</dx-popup>


<dx-popup
  class="popup"
  [width]="350"
  [height]="150"
  [showTitle]="true"
  title="Confirmation "
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [(visible)]="cancelPopVisible"
>
  <div *dxTemplate="let data of 'content'">
    <p>
      Voulez-vous vraiment annuler cet élement ?
    </p>

    <div  class="pull-right">

      <dx-button class="pull-left"
                 width="80"
                 type="danger"
                 text="Oui"
                 (onClick)="delete()">
      </dx-button>
      &nbsp;
      &nbsp;

      <dx-button class="pull-right"
                 class="button-info"
                 width="80"
                 text="No"
                 (onClick)="cancelPopup()">
      </dx-button>
    </div>

  </div>
</dx-popup>





<dx-popup
  class="popup"
  [width]="750"
  [height]="550"
  [showTitle]="true"
  title="Liste des ayants droit"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [(visible)]="popupAyantDroitVisible"
>
  <div *dxTemplate="let data of 'content'">

    <dx-data-grid
      id="gridContainer2"
      [dataSource]="ayants_droits">
      <dxi-column dataField="cin" caption="CIN"></dxi-column>
      <dxi-column dataField="full_name" caption="NOM COMPLET" ></dxi-column>
      <dxi-column dataField="description" caption="DESCRIPTION"></dxi-column>
    </dx-data-grid>

    <div  class="pull-right">

      <dx-button class="pull-right"
                 class="button-info"
                 width="120"
                 text="Fermer"
                 (onClick)="cancelAyantDroitPopup()">
      </dx-button>
    </div>

  </div>
</dx-popup>


<div class="dx-fieldset">
  <div class="dx-field">
    <div class="dx-field-value">
      <dx-button width="180"  icon="fa fa-paper-plane"  text="LIVRER" type="success" (onClick)="showDeliverPopup()"  style="margin-left: 10px; margin-right: 10px;"  ></dx-button>

      <dx-button width="130" icon="fa fa-print"  (onClick)="print()" text="IMPRIMER" type="primary"  style="margin-left: 20px; margin-right: 20px;" ></dx-button> &nbsp; &nbsp;
      <dx-button width="130" icon="fa fa-trash"  text="ANNULER" type="danger" (onClick)="showDeletePopup()"  ></dx-button> &nbsp; &nbsp;
    </div>
  </div>
</div>


