
.ScrollStyle {
  height: 470px;
  width: 100%;
}
::ng-deep .widget {

  padding: 5px;
}
::ng-deep .widget:hover {
  margin: 5px;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  padding: 2px;
  background: #00a7e7;
  background: -moz-radial-gradient(circle, #49a6e3, #358fd2, #2478c1, #1961af, #144b9b);
  background: -webkit-radial-gradient(circle, #49a6e3, #358fd2, #2478c1, #1961af, #144b9b);
  background: radial-gradient(circle, #49a6e3, #358fd2, #2478c1, #1961af, #144b9b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a7e7', endColorstr='#104ba0', GradientType=1);
  border: 2px solid #00a7e7;
}

::ng-deep .big-widget:hover  {
  margin: 5px;
  width: 100%;
  height: 336px;
  border-radius: 5px;
  border-color: #868A93;
  padding: 2px;
  border-style: solid;
  border-width: thin;
  background: #00a7e7;
  background: -moz-radial-gradient(circle, #49a6e3, #358fd2, #2478c1, #1961af, #144b9b);
  background: -webkit-radial-gradient(circle, #49a6e3, #358fd2, #2478c1, #1961af, #144b9b);
  background: radial-gradient(circle, #49a6e3, #358fd2, #2478c1, #1961af, #144b9b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a7e7', endColorstr='#104ba0', GradientType=1);
  border: 1px solid #00a7e7;
}

::ng-deep .title {
  color: #868A93;
  font-weight: bold;
  padding-left: 5px;
}

::ng-deep .widget:hover .title {
  color: white;
}

::ng-deep .nbr {
  font-size: 50px;
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
  color: #989da3;
}

::ng-deep .widget:hover .nbr {
  color: white;
}

::ng-deep .text {
  text-align: center;
  font-weight: bold;
  color: #989da3;
}
::ng-deep .widget:hover .text{
  color:white;
}

::ng-deep #chart {
  height: 110px;
  width: 200px;
}

::ng-deep #big-chart {
  height: 310px;
  width: 100%;
}

::ng-deep #gauge {
  height: 140px;
  width: 100%;
}


