<div class="siam-dashboard-intro">
  <div class="grid-container">
    <div class="map">
      <div style="height: 600px;"
           leaflet
           [leafletOptions]="options"
           [leafletLayersControl]="layersControl"
           (leafletMapReady)="onMapReady($event)"
           #leaflet>
      </div>
    </div>
    <div class="CDAs">
      <dx-list
        #list
        [dataSource]="cdas"
        [height]="600"
        [searchEnabled]="true"
        selectionMode="single"
        valueExpr="id"
        searchExpr="name"
        (onSelectionChanged)="onSelectionChanged($event)"
        searchMode="contains">
        <div *dxTemplate="let data of 'item'">
          <app-cda-sigaa [cda]="{name: data.name, polygon: data.polygon}"></app-cda-sigaa>
        </div>
      </dx-list>
    </div>
  </div>
</div>
<app-parcel-info [ilot]="ilot_info" *ngIf="ilot_info && show_parcel_info"></app-parcel-info>
