::ng-deep .dx-tabpanel-tabs {
  padding-bottom: 10px;
}

::ng-deep .dx-searchbox .dx-icon-search:before {
  color: rgb(255, 255, 255);
}

::ng-deep .dx-texteditor-container {
  position: initial;
}

::ng-deep .siam-dashboard-intro {
  &:before {
    background: -moz-linear-gradient(-45deg, rgba(31, 40, 57, 0.96) 0%, rgba(32, 51, 65, 0.6) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(31, 40, 57, 0.6)), color-stop(100%, rgba(32, 51, 65, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(31, 40, 57, 0.96) 0%, rgba(32, 51, 65, 0.6) 100%);
    background: -o-linear-gradient(-45deg, rgba(31, 40, 57, 0.96) 0%, rgba(32, 51, 65, 0.6) 100%);
    background: -ms-linear-gradient(-45deg, rgba(31, 40, 57, 0.96) 0%, rgba(32, 51, 65, 0.6) 100%);
    background: linear-gradient(135deg, rgb(12, 13, 25) 0%, rgba(32, 51, 65, 0.6) 100%);
  }
}

::ng-deep .dx-dropdowneditor-icon {
  color: rgba(243, 243, 243, 0.54);
}

::ng-deep .dx-dropdowneditor-button-visible.dx-editor-standard .dx-texteditor-input {
  color: white;
}

::ng-deep .dx-texteditor.dx-editor-standard.dx-show-clear-button .dx-texteditor-input {
  color: white;
}

::ng-deep .dx-list-search.dx-searchbox .dx-clear-button-area .dx-icon-clear {
  color: rgba(253, 253, 253, 0.54);
}

::ng-deep .dx-texteditor.dx-editor-standard {
  margin: 5px;
}

::ng-deep .dx-list .dx-empty-message {
  color: rgba(253, 253, 253, 0.54);
}

::ng-deep .dx-list-item.dx-state-hover, .dx-list-item.dx-state-active {
  background-color: rgba(0, 0, 0, 0);
}

.leaflet-ga {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.kenburns-top {

}

.custom-popup .leaflet-popup-content-wrapper {
  background: #2c3e50;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  border-radius: 0px;
}

.custom-popup .leaflet-popup-content-wrapper a {
  color: rgba(255, 255, 255, 0.1);
}

.custom-popup .leaflet-popup-tip-container {
  width: 30px;
  height: 15px;
}

.custom-popup .leaflet-popup-tip {
  background: transparent;
  border: none;
  box-shadow: none;
}

.cda_item {
  float: right;
  background: rgba(255, 255, 255, 0);
  text-align: center;
  margin-right: 0;
  border: 1px solid rgba(255, 255, 255, 0.48);
  /* padding: 20px; */
  /* height: 0; */
  width: 100%;
  border-radius: 4px;
  transition: all 0.5s ease;
  /* cursor: pointer; */
  /* margin-bottom: 12px; */
  position: relative;
  cursor: auto;
}

.cda_item.active {
  border: 1px solid #00a7e7;
}

.cda_item.active:after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0px;
  width: 20px;
  height: 20px;
  border-bottom: solid 10px transparent;
  border-left: solid 10px #00a7e7;
  border-right: solid 10px transparent;
  border-top: solid 10px #00a7e7;
}

.cda_item:hover,
.home_window_header .left-menu > li > a:hover {
  background: #00a7e7;
  background: -moz-linear-gradient(-45deg, #00a7e7 0%, #104ba0 100%);
  background: -webkit-linear-gradient(-45deg, #00a7e7 0%, #104ba0 100%);
  background: linear-gradient(135deg, #00a7e7 0%, #104ba0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a7e7', endColorstr='#104ba0', GradientType=1);
  border: 1px solid #00a7e7;
}

.cda_item:hover h1 {
  color: #fff;
}

.cda_item:hover i {
  color: #fff;
}

.cda_item h1 {
  color: #b8bbbf;
  font-size: 16px;
  margin-top: 0;
}

.cda_item_head {
  line-height: 20px;
}

.cda_item_body {
  padding-left: 5px;
  display: table-cell;
  vertical-align: middle;
  font-size: 52px;
  line-height: 46px;
  width: 100vh;
  color: rgba(173, 177, 181, 0.73);
}

::ng-deep .dx-checkbox-icon {
  border: 2px solid rgba(234, 228, 228, 0.54);
}

@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css");
.menu {
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
  list-style-type: none;
  margin: 0;
  padding: 5px;
  background: rgba(255, 244, 245, 0);
}

.menu li a {
  display: block;
  height: em;
  width: 5em;
  text-indent: -500em;
  line-height: 5em;
  text-align: center;
  color: #fff4f5;
  background: rgba(86, 97, 255, 0);
  position: relative;
  border-bottom: 1px solid #ffe2e3;
  transition: background 0.3s ease-in-out;
}

.menu li a:before {
  font-family: FontAwesome;
  speak: none;
  text-indent: 0em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1.4em;
  color: #fff4f5;
}

.menu li a.search:before {
  content: "\f002";
}

.menu li a.archive:before {
  content: "\f187";
}

.menu li a.pencil:before {
  content: "\f040";
}

.menu li a.contact:before {
  content: "\f003";
}

.menu li a.about:before {
  content: "\f007";
}

.menu li a.home:before {
  content: "\f015";
}

.menu li a:hover {
  background: rgba(86, 97, 255, 0.49);
  color: #fff;
}

.menu li.current a {
  background: rgba(86, 97, 255, 0.49);
  color: #fff;
}

.menu li a.active {
  background: rgba(86, 97, 255, 0.49);
  color: #fff;
}

.menu li a.active:after {
  position: absolute;
  left: 5em;
  top: 0;
  content: "";
  color: #fff;
  border: 2.5em solid transparent;
  border-left-color: rgba(86, 97, 255, 0.49);
  border-width: 2.5em 1em
}

.menu li {
  position: relative;
}

.menu li:after {
  content: attr(title);
  position: absolute;
  left: 5em;
  top: 0;
  height: 5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: uppercase;
  background: rgba(86, 97, 255, 0.49);
  padding: 2em;
  color: #fff;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.menu li:hover:after {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-height: 34em) {
  .menu li {
    font-size: 70%;
  }
}

.dx-scrollable {
  height: 90%;
}

@media only screen and (max-width: 600px) {

  .dx-list-item-content, .dx-list .dx-empty-message {
    padding: 0px;
  }

  .cda_item h1 {
    font-size: 12px !important;
  }

}


