.leaflet-ga {
  width: 100%;
  height: 100%;
  position: absolute; top: 0; left: 0; bottom: 0; right: 0;
}



.kenburns-top {

}

.custom-popup .leaflet-popup-content-wrapper {
  background:#2c3e50;
  color:#fff;
  font-size:16px;
  line-height:24px;
  border-radius: 0px;
}
.custom-popup .leaflet-popup-content-wrapper a {
  color:rgba(255,255,255,0.1);
}
.custom-popup .leaflet-popup-tip-container {
  width:30px;
  height:15px;
}
.custom-popup .leaflet-popup-tip {
  background: transparent;
  border: none;
  box-shadow: none;
}



@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css");
.menu {
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
  list-style-type: none;
  margin: 0;
  padding: 5px;
  background: rgba(255, 244, 245, 0);
}
.menu li a{
  display:block;
  height:em;
  width:5em;
  text-indent:-500em;
  line-height:5em;
  text-align:center;
  color:  #fff4f5;
  background: rgba(86, 97, 255, 0);
  position: relative;
  border-bottom: 1px solid #ffe2e3;
  transition: background 0.3s ease-in-out;
}
.menu li a:before {
  font-family: FontAwesome;
  speak: none;
  text-indent: 0em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1.4em;
  color:  #fff4f5;
}
.menu li a.search:before {
  content: "\f002";
}
.menu li a.archive:before {
  content: "\f187";
}
.menu li a.pencil:before {
  content: "\f040";
}
.menu li a.contact:before {
  content: "\f003";
}
.menu li a.about:before {
  content: "\f007";
}
.menu li a.home:before {
  content: "\f015";
}
.menu li a:hover{
  background: rgba(86, 97, 255, 0.49);
  color: #fff;
}
.menu li.current a {
  background: rgba(86, 97, 255, 0.49);
  color: #fff;
}
.menu li a.active {
  background: rgba(86, 97, 255, 0.49);
  color: #fff;
}
.menu li a.active:after{
  position:absolute;
  left:5em;
  top:0;
  content:"";
  color: #fff;
  border:2.5em solid transparent;
  border-left-color:rgba(86, 97, 255, 0.49);
  border-width: 2.5em 1em
}
.menu li{
  position:relative;
}
.menu li:after{
  content: attr(title);
  position:absolute;
  left:5em;
  top:0;
  height:5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-transform:uppercase;
  background:rgba(86, 97, 255, 0.49);
  padding:2em;
  color: #fff;
  transition: all 0.3s ease-in-out;
  visibility:hidden;
  opacity:0;
}
.menu li:hover:after{
  visibility:visible;
  opacity:1;
}
@media screen and (max-height: 34em){
  .menu li{
    font-size:70%;
  }
}

.dx-scrollable {
  height: 90%;
}



@media only screen and (max-width: 600px) {

  .dx-list-item-content, .dx-list .dx-empty-message {
    padding: 0px;
  }

  .cda_item h1 {
     font-size: 12px !important;
   }

}

