<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="siam-page-header">
      <a class="siam-header-back-btn" href="/index"><i class="fa fa-angle-left"></i> Tableau de bord</a>
      <h2>Interventions </h2><span class="sousTitle">LIST DES INTERVENTIONS</span>
    </div>
  </div>
</div>
<div class="m-content">
  <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height m-portlet--rounded ">
    <dx-data-grid 
      id="gridContainer"
      [dataSource]="dataSource"
      [columnAutoWidth]="true" 
      >    
      <dxo-paging [pageSize]="5"></dxo-paging>
      <!-- <dxo-pager 
          [showPageSizeSelector]="true"
          [allowedPageSizes]="[5, 10, 20]"
          [showInfo]="true">
      </dxo-pager> -->
      <!-- <dxo-editing   
         mode="row" 
         [allowUpdating]="true">
      </dxo-editing> -->
      <!-- <dxo-selection mode="multiple"></dxo-selection> -->
      
      <dxi-column dataField="full_name" caption="Nom d'agriculteur"></dxi-column>
      <dxi-column dataField="cin" caption="C.I.N d'agriculteur"></dxi-column>
      <dxi-column dataField="cda" caption="CDA"></dxi-column>
      <dxi-column dataField="zone" caption="Zone"></dxi-column>
      <dxi-column dataField="parcel_id" caption="Parcelle"></dxi-column>
      <dxi-column dataField="article_count" caption="Nombre d'article"></dxi-column>
      <dxi-column dataField="date" caption="Date prevue"></dxi-column>
      <dxi-column dataField="state" caption="Etat" cellTemplate="cellTemplate2"></dxi-column>

      <dxi-column dataField="id" cellTemplate="cellTemplate" caption="" alignment="left"></dxi-column>
      <dxi-column dataField="id" cellTemplate="cellTemplate1" caption="" alignment="left" ></dxi-column>

      <div *dxTemplate="let data of 'cellTemplate'">
        <a href="intervention/show/{{data.value}}" style="text-align: left;color: black">Consulter</a>
      </div>
      <div *dxTemplate="let data of 'cellTemplate1'">
        <a href="intervention/modifier/{{data.value}}" style="text-align: left;color: black">Editer</a>
      </div>
      <div *dxTemplate="let data of 'cellTemplate2'">
        <label class="etat-class px-3 py-2" etat="{{data.value}}" *ngIf="(data.value == 'inprogress')" appEtat>En cours</label>
        <label class="etat-class px-3 py-2" etat="{{data.value}}" *ngIf="(data.value == 'canceled')" appEtat>Annule</label>
        <label class="etat-class px-3 py-2" etat="{{data.value}}" *ngIf="(data.value == 'done')" appEtat>Valide</label>
      </div>
    </dx-data-grid>
  </div>
</div>

