<h1>Liste des {{ (thirdType === 'young_promoter') ? 'centres de distribution' : title.toLowerCase() }}</h1>
<dx-data-grid
        id="gridContainer"
        [dataSource]="third_parties"
        [columnHidingEnabled]="false"
        [allowColumnResizing]="false"
        [columnAutoWidth]="true"
        [filterValue]="[]"
        [allowColumnReordering]="true"
        [remoteOperations]="{ paging: true, sorting: true, filtering: true}"
        (onEditingStart)="onStartEdit($event.data.id)"
        (onRowRemoving)="onRemoveThird($event.data.id)"
>

    <!--<dxo-state-storing [enabled]="true" type="localStorage" storageKey="storage"></dxo-state-storing>-->
    <dx-button id="gridDeleteSelected"
               text="Delete Selected Records" i18n-text
               [height]="34"
               [width]="195"
               [useIcons]="true"
               [disabled]="selectedItems.length < 2"
               (onClick)="deleteRecords()">
    </dx-button>
    <dxo-remote-operations
            [sorting]="true"
            [paging]="true"
            [filtering]="true">
    </dxo-remote-operations>

    <dxo-editing
            mode="row"
            [useIcons]="true"
            [allowUpdating]="helper.permissionMethod(['thirdParty.third-parties.update'])"
            [allowDeleting]="false">
    </dxo-editing>
    <dxo-selection mode="multiple"></dxo-selection>
    <dxo-scrolling [showScrollbar]="'always'"></dxo-scrolling>

    <dxo-sorting mode="multiple"></dxo-sorting>

    <dxo-filter-row
            [visible]="true" [applyFilter]="applyFilter"></dxo-filter-row>


    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-export [enabled]="true" fileName="Tiers" [allowExportSelectedData]="true"></dxo-export>

    <dxo-pager
            [allowedPageSizes]="[5, 8, 15, 30]"
            [showInfo]="true"
            [showNavigationButtons]="true"
            [showPageSizeSelector]="true"
            [visible]="true">
    </dxo-pager>
    <dxo-paging [pageSize]="10"></dxo-paging>

    <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>

    <dxo-search-panel [visible]="false"></dxo-search-panel>

    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>

    <dxi-column dataField="" [allowSorting]="false"
                [visible]="helper.permissionMethod(['thirdParty.third-parties.show'])" cellTemplate="cellTemplate"
                caption="" width="50px" allowColumnResizing="true">
    </dxi-column>
    <dxi-column dataField="code" caption="Code" i18n-caption>
    </dxi-column>
    <dxi-column dataField="code" caption="CDA" *ngIf="thirdType !== 'aggregated'" i18n-caption>
    </dxi-column>
    <dxi-column dataField="company_name" allowHiding="true" *ngIf="thirdType !== 'aggregated'" hidden="hidden"
                caption="Raison sociale">
    </dxi-column>
    <dxi-column dataField="full_name" caption="Nom complet" *ngIf="thirdType === 'aggregated'" i18n-caption>
    </dxi-column>
    <dxi-column dataField="full_name_ar" caption="الاسم الكامل" *ngIf="thirdType === 'aggregated'" i18n-caption>
    </dxi-column>
    <dxi-column dataField="patent_number" caption="Numéro de patente" *ngIf="thirdType !== 'aggregated'" i18n-caption>
    </dxi-column>
    <dxi-column dataField="rc" caption="Registre de commerce" *ngIf="thirdType !== 'aggregated'" i18n-caption>
    </dxi-column>
    <dxi-column dataField="ice" caption="ICE" *ngIf="thirdType !== 'aggregated'" i18n-caption>
    </dxi-column>
    <dxi-column dataField="if" caption="IF" *ngIf="thirdType !== 'aggregated'" i18n-caption>
    </dxi-column>
    <dxi-column dataField="address" caption="Adresse" i18n-caption>
    </dxi-column>
    <dxi-column dataField="full_name" [caption]="title" *ngIf="thirdType !== 'aggregated'" i18n-caption>
    </dxi-column>
    <dxi-column dataField="cin" caption="CIN" i18n-caption>
    </dxi-column>
    <dxi-column dataField="email" caption="Email" i18n-caption>
    </dxi-column>
    <dxi-column dataField="tel1" caption="Téléphone 1" i18n-caption>
    </dxi-column>
    <dxi-column dataField="tel2" caption="Téléphone 2" i18n-caption>
    </dxi-column>
    <dxi-column dataField="birth_date" caption="Date de naissance" i18n-caption>
    </dxi-column>

    <!--<dxi-column dataField="cda" caption="CDA" i18n-caption>
    </dxi-column>
    <dxi-column dataField="zone" caption="ZONE" i18n-caption>
    </dxi-column>
    <dxi-column dataField="dets" cellTemplate="cellCard" caption="Carte" allowColumnResizing="true">
    </dxi-column>
    <div *dxTemplate="let data of 'cellCard'">
      <i class="fa fa-id_card fa-5x" *ngIf=""></i>
    </div>-->

    <dxi-column dataField="sexe" cellTemplate="cellTemplate1" caption="Genre" *ngIf="thirdType === 'aggregated'"
                allowColumnResizing="true">
    </dxi-column>
    <div *dxTemplate="let data of 'cellTemplate1'">
        <i style="font-size: 150%; align-content: center; cursor: pointer"
           class="fa {{ getGender(data.data) }} fa-5x"></i>
    </div>
    <dxi-column dataField="civil_status" caption="Situation" [allowFiltering]="false" *ngIf="thirdType === 'aggregated'"
                i18n-caption>
    </dxi-column>
    <dxi-column dataField="children_number" caption="Nombre d'enfants" *ngIf="thirdType === 'aggregated'" i18n-caption>
    </dxi-column>
    <dxi-column dataField="city" caption="Ville" i18n-caption>
    </dxi-column>
    <dxi-column dataField="code_as400" caption="Ancien code" *ngIf="thirdType === 'aggregated'" i18n-caption>
    </dxi-column>
    <div *dxTemplate="let data of 'cellTemplate'">

        <a (click)="helper.gotoShow(goTo, data.data.id, router, toastr)"><i
                style="font-size: 150%; align-content: center; cursor: pointer" class="fa fa-info-circle fa-5x"></i></a>
    </div>
</dx-data-grid>
