<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="siam-page-header">
      <a class="siam-header-back-btn" routerLink="/contrats/liste"><i class="fa fa-angle-left"></i> Tableau de bord</a>
      <h2>{{ (contract['status'] === 'inprogress') ? 'Modifier le contrat' : 'Créer un avenant pour' }} {{ contract.code }}</h2>
    </div>

  </div>
</div>

<div class="m-content">
  <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height m-portlet--rounded ">
    <div class="m-portlet__body m-portlet__body--no-padding">
      <div class="m-content">
        <app-wizard [isEdit]="true" [campaigns]="campaigns"
                    [contract]="contract" [currentThird]="currentThird" [groundsList]="groundsList"
                    [structure]="structure"></app-wizard>
      </div>
    </div>
  </div>
</div>
