<h1> Fiche de demande N° ({{order.code}}) </h1>
<hr>
<div class="clr-row">
    <div class="clr-col">
        <h2 class="m-form__section">
            Informations générales
        </h2>
        <hr>
    </div>
</div>
<div class="clr-row">
    <div class="clr-col-4">
        <div class="clr-row">
            <label class="clr-col-12">
                Date
            </label>
            <div class="clr-col-12">

                <p class="siam-form-input-value siam-form-input-value-nodata">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    {{order.date}}
                </p>

            </div>
        </div>
    </div>
    <div class="clr-col-4" *ngIf="order.third_party">
        <div class="clr-row">
            <label class="clr-col-12">
                Jeune promoteur
            </label>
            <div class="clr-col-12">
                <p class="siam-form-input-value siam-form-input-value-nodata">
                    {{order.third_party.full_name}}
                </p>
            </div>
        </div>

    </div>
    <div class="clr-col-4">
        <div class="clr-row">
            <label class="clr-col-12">
                État
            </label>
            <div class="clr-col-12">

                <p class="siam-form-input-value siam-form-input-value-nodata">
                    <span [ngClass]="helper.getContractStatusClass(helper.getStatut(order.state))">{{ helper.getStatut(order.state) }}</span>
                </p>

            </div>
        </div>
    </div>
</div>
<div class="clr-row">
    <div class="clr-col">
        <h2 class="m-form__section">
            Liste des articles
        </h2>
        <hr>
    </div>
</div>
<dx-data-grid
        id="gridContainer"
        [dataSource]="produits"
        showBorders="true"
        [columnHidingEnabled]="true"
        [allowColumnResizing]="false"
        [allowColumnReordering]="true"
        [columnAutoWidth]="true"
        [remoteOperations]="{ paging: true, sorting: true, filtering: true}"
        KeyExpr="id">

    <dxo-export [enabled]="true" fileName="magasin" [allowExportSelectedData]="true"></dxo-export>

    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="true"></dxo-header-filter>

    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-scrolling [showScrollbar]="'always'"></dxo-scrolling>
    <dxo-editing
            mode="popup"
            [useIcons]="true"
            [allowDeleting]="false"
            [allowUpdating]="false"
    >
    </dxo-editing>
    <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
    <dxo-selection mode="multiple"></dxo-selection>
    <dxo-header-filter [visible]="true"></dxo-header-filter>


    <dxo-pager
            [allowedPageSizes]="[5, 8, 15, 30]"
            [showInfo]="true"
            [showNavigationButtons]="true"
            [showPageSizeSelector]="true"
            [visible]="true">
    </dxo-pager>
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>

    <dxi-column dataField="id" [visible]="false" caption="" [allowSorting]="false" [allowFiltering]="false"
                [allowSorting]="false"></dxi-column>
    <dxi-column dataField="article.name" caption="Libelle"></dxi-column>
    <dxi-column dataField="price" caption="Prix"></dxi-column>
    <dxi-column dataField="quantity" caption="Quantité"></dxi-column>
    <dxi-column dataField="article.parent_category.name" caption="Catégorie"></dxi-column>
    <dxi-column dataField="article.category.name" caption="Sous catégorie"></dxi-column>

</dx-data-grid>
