<dx-data-grid
        id="gridContainer"
        [dataSource]="alocations"
        showBorders="true"
        [columnHidingEnabled]="false"
        [allowColumnResizing]="false"
        [allowColumnReordering]="true"
        [columnAutoWidth]="true"
        [remoteOperations]="{ paging: false, sorting: false, filtering: false}"
        KeyExpr="id">

  <dxo-export [enabled]="true" fileName="allocations" [excelFilterEnabled]="true"
              [allowExportSelectedData]="true"></dxo-export>

  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-header-filter [visible]="true"></dxo-header-filter>

  <dxo-group-panel [visible]="true"></dxo-group-panel>
  <dxo-scrolling [showScrollbar]="'always'"></dxo-scrolling>
  <dxo-editing
          mode="popup"
          [useIcons]="true"
          [allowDeleting]="false"
          [allowUpdating]="false"
  >
  </dxo-editing>
  <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
  <dxo-selection mode="multiple"></dxo-selection>
  <dxo-header-filter [visible]="true"></dxo-header-filter>

  <dxo-pager
          [allowedPageSizes]="[5, 8, 15, 30]"
          [showInfo]="true"
          [showNavigationButtons]="true"
          [showPageSizeSelector]="true"
          [visible]="true">
  </dxo-pager>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>
  <dxi-column dataField="id" dataType="number" caption="Référence"></dxi-column>
  <dxi-column dataField="duration" dataType="number" caption="Durée"></dxi-column>
  <dxi-column dataField="date_o" dataType="date" caption="date d'octroi"></dxi-column>
  <dxi-column dataField="date_e" dataType="date" caption="date d'échéance"></dxi-column>
  <dxi-column dataField="marque" dataType="text" caption="Marque"></dxi-column>
  <dxi-column dataField="immat" dataType="text" caption="Immatricule"></dxi-column>
  <dxi-column dataField="vin" dataType="text" caption="VIN"></dxi-column>
  <dxi-column dataField="taux" dataType="text" caption="TAUX"></dxi-column>
  <dxi-column dataField="article" dataType="text" caption="article"></dxi-column>
  <dxi-column dataField="category" dataType="text" caption="Famille"></dxi-column>
  <dxi-column dataField="sub_category" dataType="text" caption="Sous-Famille"></dxi-column>
  <dxi-column dataField="date" dataType="date" caption="Date de préconisation"></dxi-column>
  <dxi-column dataField="full_name" dataType="text" caption='Nom complet'></dxi-column>
  <dxi-column dataField="tp_code" dataType="text" caption="Code"></dxi-column>
</dx-data-grid>
