<script src="../../../../siam618-web-ui/src/app/theme/layouts/aside-nav/aside-nav.component.ts"></script>
<div class="main-container">
    <header class="header header-2">
        <div class="branding">
            <a href="/" class="nav-link">
                <img src="../../assets/images/symbol_cosumar.png" style="width: 60px" alt="ATTAISSIR">
                <a style="    font-size: 26px;
    line-height: 12px;
    text-decoration: none;
    font-weight: 500;
    float: left;
    margin: 21px 14px 5px 5px;
    color: #eef0f0;" class="logo" href="/">ATTAISSIR.<br>
                    <span class="by" style="    font-size: 13px;
    color: rgba(255,251,255,0.7);">Groupe COSUMAR</span>
                </a>
            </a>
        </div>
        <div class="header-actions">
            <clr-dropdown>
                <button class="nav-text" clrDropdownTrigger>
                    {{ currentUser.name }}
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <a href="/logout" clrDropdownItem>Déconnexion</a>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </header>
    <nav class="subnav">
        <ul class="nav">
            <li class="nav-item" *ngFor="let t of tenants">
                <a style="cursor: pointer" [ngClass]="t.division_id === tenant ? ' nav-link active' : 'nav-link'"
                   (click)="changeTenant(t.division_id)">{{ t.division | uppercase }}</a>
            </li>
        </ul>
    </nav>
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
        <clr-vertical-nav [clrVerticalNavCollapsible]="true" [clrVerticalNavCollapsed]="demoCollapsed">
            <div *ngFor="let route of routes">
                <clr-vertical-nav-group
                        *ngIf="route.subMenu"
                        routerLinkActive="active"
                        [appPermissionHidden]="route.permission">
                    <a [routerLink]="route.url" hidden aria-hidden="true"></a>
                    <clr-icon [attr.shape]="route.icon" clrVerticalNavIcon></clr-icon>
                    {{ route.name }}
                    <clr-vertical-nav-group-children *clrIfExpanded="true">
                        <div *ngFor="let child of route.subMenu" [appPermissionHidden]="child.permission">
                            <a clrVerticalNavLink
                               [routerLink]="child.url"
                               [queryParams]="child.queryParams"
                               routerLinkActive="active">
                                {{ child.name }}
                                <clr-icon [attr.shape]="child.icon" [ngClass]="child.hasBadge ? 'has-badge' : ''"
                                          clrVerticalNavIcon></clr-icon>
                            </a>
                        </div>
                    </clr-vertical-nav-group-children>
                </clr-vertical-nav-group>
                <a clrVerticalNavLink [routerLink]="route.url" [appPermissionHidden]="route.permission"
                   *ngIf="!route.subMenu" routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon [attr.shape]="route.icon"></clr-icon>
                    {{ route.name }}
                </a>
            </div>
        </clr-vertical-nav>

    </div>
</div>
