<form>
  <dx-form id="form"
           [formData]="tier"
           [readOnly]="false"
           [showColonAfterLabel]="true"
           [showValidationSummary]="true"
           labelLocation="top"
           validationGroup="tierData">


    <!--<dxi-item itemType="group" [colCount]="3" caption="Third party type" i18n-caption>

      <dxi-item editorType="dxCheckBox" dataField="types[0].service_provider">
        <dxo-label
          text="Service provider" i18n-text="Fournisseur de prestation">
        </dxo-label>
      </dxi-item>

      <dxi-item editorType="dxCheckBox" dataField="types[0].cutting_supplier">
        <dxo-label
          text="Cutting supplier" i18n-text="Fournisseur de bouture">
        </dxo-label>
      </dxi-item>

      <dxi-item editorType="dxCheckBox" dataField="types[0].aggregated" [checked]="true">
        <dxo-label
          text="Aggregated" i18n-text="Agrégé">
        </dxo-label>
      </dxi-item>

    </dxi-item>-->


    <dxi-item itemType="group" caption="General Informations" [colCount]="2" i18n-caption>

      <dxi-item itemType="group" caption="" [colCount]="2" i18n-caption>
        <dxi-item dataField="first_name">
          <dxo-label
            text="First name" i18n-text>
          </dxo-label>
          <dxi-validation-rule type="required" message="First name is required" i18n-message></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="last_name" [editorOptions]="{ placeholder: ''} ">
          <dxo-label
            text="Last name" i18n-text>
          </dxo-label>
          <dxi-validation-rule type="required" message="Last name is required" i18n-message></dxi-validation-rule>
        </dxi-item>
      </dxi-item>

      <dxi-item itemType="group" caption="" [colCount]="2" i18n-caption>
        <dxi-item dataField="ar_first_name">
          <dxo-label
            text="First name (Arabic)" i18n-text>
          </dxo-label>
          <dxi-validation-rule type="required" message="Arabic first name is required"
                               i18n-message></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="ar_last_name" [editorOptions]="{ placeholder: '' }">
          <dxo-label
            text="Last name (Arabic)" i18n-text>
          </dxo-label>
          <dxi-validation-rule type="required" message="Arabic first name is required"
                               i18n-message></dxi-validation-rule>
        </dxi-item>
      </dxi-item>

      <dxi-item dataField="cin" [disabled]="isEdit">
        <dxi-validation-rule type="required" message="CIN required" i18n-message></dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="gender"
                editorType="dxSelectBox" [editorOptions]="gender">
        <dxo-label
          text="Gender" i18n-text>
        </dxo-label>
      </dxi-item>
      <dxi-item dataField="address">
        <dxo-label
          text="Address" i18n-text>
        </dxo-label>
      </dxi-item>
      <dxi-item dataField="postal_code" editorType="dxNumberBox">
        <dxo-label
          text="Zip code" i18n-text>
        </dxo-label>
        <dxi-validation-rule type="numeric" [min]="0" message="You cannot have a negative postal code."
                             i18n-message></dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="city">
        <dxo-label
          text="City" i18n-text>
        </dxo-label>
      </dxi-item>

      <dxi-item
        dataField="date_birth"
        editorType="dxDateBox"
        [editorOptions]="dateOptions">
        <dxo-label
          text="Date of birth" i18n-text>
        </dxo-label>
      </dxi-item>
      <dxi-item
        dataField="date_death"
        editorType="dxDateBox"
        [editorOptions]="dateOptions">
        <dxo-label
          text="Date of death" i18n-text>
        </dxo-label>
      </dxi-item>

      <dxi-item dataField="email">
        <dxo-label
          text="Email" i18n-text>
        </dxo-label>
        <dxi-validation-rule
          type="email"
          message="This is not a valid Email address"
          i18n-message
        >
        </dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="tel1" [editorOptions]="{
                    mask: '00 0000 0000',
                    useMaskedValue: true,
                    maskInvalidMessage: 'The phone must have a correct Moroccan phone format'
                }">
        <dxo-label
          text="Telephone 1" i18n-text>
        </dxo-label>
        <dxi-validation-rule
          type="pattern"
          [pattern]="phonePattern"
          message="The phone must have a correct Moroccan phone format" i18n-message>
        </dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="tel2" [editorOptions]="{
                    mask: '00 0000 0000',
                    useMaskedValue: true,
                    maskInvalidMessage: 'The phone must have a correct Moroccan phone format'
                }">
        <dxo-label
          text="Telephone 2" i18n-text>
        </dxo-label>
        <dxi-validation-rule *ngIf="!isEdit"
                             type="pattern"
                             [pattern]="phonePattern"
                             message="The phone must have a correct Moroccan phone format" i18n-message>
        </dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="education_level" editorType="dxSelectBox" [editorOptions]="education_level">
        <dxo-label
          text="Education level" i18n-text>
        </dxo-label>
      </dxi-item>

      {{ tier.situation }}
      <dxi-item dataField="situation"
                editorType="dxSelectBox" [editorOptions]="situation">
        <dxo-label
          text="Familial situation" i18n-text>
        </dxo-label>
      </dxi-item>
      <dxi-item dataField="children_number" editorType="dxNumberBox">
        <dxo-label
          text="Children number" i18n-text>
        </dxo-label>
        <dxi-validation-rule type="numeric" [min]="0" message="You cannot have negative children."
                             i18n-message></dxi-validation-rule>
      </dxi-item>


      <dxi-item editorType="dxCheckBox" dataField="assurance">
        <dxo-label
          text="Insurance" i18n-text>
        </dxo-label>
      </dxi-item>
      <dxi-item editorType="dxCheckBox" dataField="retraite">
        <dxo-label
          text="Retraite" i18n-text>
        </dxo-label>
      </dxi-item>
      <dxi-item dataField="payement_mode" editorType="dxRadioGroup" [editorOptions]="payment_mode" [colSpan]="2">
        <dxo-label
          text="Payment mode" i18n-text>
        </dxo-label>
      </dxi-item>
    </dxi-item>


    <!--<dxi-item itemType="group" [colCount]="2" caption="Billing" i18n-caption>

      <dxi-item dataField="bank_accounts[0].bank">
        <dxo-label
          text="Bank name" i18n-text>
        </dxo-label>
      </dxi-item>


      <dxi-item dataField="bank_accounts[0].rib" [editorOptions]="{
                    mask: '000000 0000000000000000 00',
                    useMaskedValue: false,
                    maskInvalidMessage: 'RIB is incorrect'
                }">
        <dxo-label
          text="RIB" i18n-text>
        </dxo-label>
        <dxi-validation-rule
          type="pattern"
          [pattern]="ribPattern"
          message="RIB is incorrect" i18n-message>
        </dxi-validation-rule>
      </dxi-item>
    </dxi-item>-->

    <dxi-item dataField="morale" editorType="dxSwitch" (change)="onMoraleChanged($event)">
      <dxo-label
        text="Is morale person?" i18n-text>
      </dxo-label>
    </dxi-item>

    <dxi-item itemType="group" caption="Corporation"
              [colCount]="2" i18n-caption="Personne morale" *ngIf="tier.morale">

      <dxi-item dataField="social_reason">

      </dxi-item>

      <dxi-item dataField="rc">
        <dxo-label
          text="Business register" i18n-text="registre de commerce">
        </dxo-label>
      </dxi-item>

      <dxi-item dataField="patent_number">
        <dxo-label
          text="Patent number" i18n-text="">
        </dxo-label>
      </dxi-item>

      <dxi-item dataField="if">
        <dxo-label
          text="Tax identification" i18n-text="identifiant fiscal">
        </dxo-label>
      </dxi-item>


      <dxi-item dataField="ice">
        <dxo-label
          text="ICE" i18n-text="">
        </dxo-label>
      </dxi-item>

      <dxi-item dataField="tva_code">
        <dxo-label
          text="TVA code" i18n-text>
        </dxo-label>
      </dxi-item>


    </dxi-item>


    <dxi-item dataField="etat" editorType="dxSwitch" *ngIf="false">
      <dxo-label
        text="Is active?" i18n-text>
      </dxo-label>
    </dxi-item>

    <hr>

    <dxi-item *ngIf="!isWizard"
              itemType="button"
              alignment="left"
              [buttonOptions]="buttonOptions">
    </dxi-item>
  </dx-form>
</form>
