<form>
  <dx-form id="form"
           [formData]="tier"
           [readOnly]="false"
           [showColonAfterLabel]="true"
           [showValidationSummary]="true"
           labelLocation="top"
           validationGroup="{{ tierData }}">


    <!--<dxi-item itemType="group" [colCount]="3" caption="Third party type" i18n-caption>

      <dxi-item editorType="dxCheckBox" dataField="types[0].service_provider">
        <dxo-label
          text="Service provider" i18n-text="Fournisseur de prestation">
        </dxo-label>
      </dxi-item>

      <dxi-item editorType="dxCheckBox" dataField="types[0].cutting_supplier">
        <dxo-label
          text="Cutting supplier" i18n-text="Fournisseur de bouture">
        </dxo-label>
      </dxi-item>

      <dxi-item editorType="dxCheckBox" dataField="types[0].aggregated" [checked]="true">
        <dxo-label
          text="Aggregated" i18n-text="Agrégé">
        </dxo-label>
      </dxi-item>

    </dxi-item>-->


    <dxi-item itemType="group" caption="Informations Générale" [colCount]="2" i18n-caption>

      <dxi-item itemType="group" caption="" [colCount]="2" i18n-caption>
        <dxi-item dataField="first_name">
          <dxo-label
            text="Prénom" i18n-text>
          </dxo-label>
          <dxi-validation-rule type="required" message="Prénom est obligatoire" i18n-message></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="last_name" [editorOptions]="{ placeholder: ''} ">
          <dxo-label
            text="Nom" i18n-text>
          </dxo-label>
          <dxi-validation-rule type="required" message="Nom est obligatoire" i18n-message></dxi-validation-rule>
        </dxi-item>
      </dxi-item>

      <dxi-item itemType="group" caption="" [colCount]="2" i18n-caption>
        <dxi-item dataField="ar_first_name">
          <dxo-label
            text="Prénom (Arabic)" i18n-text>
          </dxo-label>
          <dxi-validation-rule type="required" message="Prénom (Arabe) est obligatoire"
                               i18n-message></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="ar_last_name" [editorOptions]="{ placeholder: '' }">
          <dxo-label
            text="Nom (Arabic)" i18n-text>
          </dxo-label>
          <dxi-validation-rule type="required" message="Nom (Arabe) est obligatoire"
                               i18n-message></dxi-validation-rule>
        </dxi-item>
      </dxi-item>

      <dxi-item dataField="cin" [disabled]="isEdit">
        <dxi-validation-rule type="required" message="CIN est obligatoire" i18n-message></dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="gender"
                editorType="dxSelectBox" [editorOptions]="gender">
        <dxo-label
          text="Sexe" i18n-text>
        </dxo-label>
        <dxi-validation-rule type="required" message="Sexe est obligatoire" i18n-message></dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="address">
        <dxo-label
          text="Adresse" i18n-text>
        </dxo-label>
      </dxi-item>
      <dxi-item dataField="postal_code" editorType="dxNumberBox">
        <dxo-label
          text="Code postal" i18n-text>
        </dxo-label>
        <dxi-validation-rule type="numeric" *ngIf="tier.tel1" [min]="0" message="Vous ne pouvez pas avoir un code postal négatif."
                             i18n-message></dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="city">
        <dxo-label
          text="Ville" i18n-text>
        </dxo-label>
      </dxi-item>

      <dxi-item dataField="borough">
        <dxo-label
          text="Arrondissement" i18n-text>
        </dxo-label>
      </dxi-item>

      <dxi-item dataField="commandment">
        <dxo-label
          text="Commandement" i18n-text>
        </dxo-label>
      </dxi-item>

      <dxi-item dataField="region">
        <dxo-label
          text="Région" i18n-text>
        </dxo-label>
      </dxi-item>

      <dxi-item
        dataField="date_birth"
        editorType="dxDateBox"
        [editorOptions]="dateOptions">
        <dxo-label
          text="Date de naissance" i18n-text>
        </dxo-label>
      </dxi-item>

      <dxi-item dataField="email">
        <dxo-label
          text="Email" i18n-text>
        </dxo-label>
        <dxi-validation-rule *ngIf="tier.tel1"
          type="email"
          message="Ce n'est pas une adresse email valide."
          i18n-message
        >
        </dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="tel1" [editorOptions]="{
                    mask: '00 0000 0000',
                    useMaskedValue: true,
                    maskInvalidMessage: 'Le téléphone doit avoir un format de téléphone marocain correct.'
                }">
        <dxo-label
          text="Telephone 1" i18n-text>
        </dxo-label>
        <dxi-validation-rule
          type="pattern"
          *ngIf="tier.tel1"
          [pattern]="phonePattern"
          message="Le téléphone doit avoir un format de téléphone marocain correct." i18n-message>
        </dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="tel2" [editorOptions]="{
                    mask: '00 0000 0000',
                    useMaskedValue: true,
                    maskInvalidMessage: 'Le téléphone doit avoir un format de téléphone marocain correct.'
                }">
        <dxo-label
          text="Telephone 2" i18n-text>
        </dxo-label>
        <dxi-validation-rule *ngIf="tier.tel1"
                             type="pattern"
                             [pattern]="phonePattern"
                             message="Le téléphone doit avoir un format de téléphone marocain correct." i18n-message>
        </dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="education_level" editorType="dxSelectBox" [editorOptions]="education_level">
        <dxo-label
          text="Niveau d`instruction" i18n-text>
        </dxo-label>
      </dxi-item>

      {{ tier.situation }}
      <dxi-item dataField="situation"
                editorType="dxSelectBox" [editorOptions]="situation">
        <dxo-label
          text="Situation Familiale" i18n-text>
        </dxo-label>
      </dxi-item>
      <dxi-item dataField="children_number" editorType="dxNumberBox">
        <dxo-label
          text="Nombre d'enfants" i18n-text>
        </dxo-label>
        <dxi-validation-rule type="numeric" [min]="0" message="Vous ne pouvez pas avoir des enfants négatifs."
                             i18n-message></dxi-validation-rule>
      </dxi-item>


      <dxi-item editorType="dxCheckBox" dataField="assurance">
        <dxo-label
          text="Assurance" i18n-text>
        </dxo-label>
      </dxi-item>
      <dxi-item editorType="dxCheckBox" dataField="retraite">
        <dxo-label
          text="Retraite" i18n-text>
        </dxo-label>
      </dxi-item>
      <dxi-item dataField="payement_mode" editorType="dxRadioGroup" [editorOptions]="payment_mode" [colSpan]="2">
        <dxo-label
          text="Mode de paiement" i18n-text>
        </dxo-label>
      </dxi-item>
    </dxi-item>


    <!--<dxi-item itemType="group" [colCount]="2" caption="Billing" i18n-caption>

      <dxi-item dataField="bank_accounts[0].bank">
        <dxo-label
          text="Bank name" i18n-text>
        </dxo-label>
      </dxi-item>


      <dxi-item dataField="bank_accounts[0].rib" [editorOptions]="{
                    mask: '000000 0000000000000000 00',
                    useMaskedValue: false,
                    maskInvalidMessage: 'RIB is incorrect'
                }">
        <dxo-label
          text="RIB" i18n-text>
        </dxo-label>
        <dxi-validation-rule
          type="pattern"
          [pattern]="ribPattern"
          message="RIB is incorrect" i18n-message>
        </dxi-validation-rule>
      </dxi-item>
    </dxi-item>-->

    <dxi-item dataField="morale" editorType="dxSwitch" (change)="onMoraleChanged($event)">
      <dxo-label
        text="Personne Morale?" i18n-text>
      </dxo-label>
    </dxi-item>

    <dxi-item itemType="group" caption="Société"
              [colCount]="2" i18n-caption="Personne morale" *ngIf="tier.morale">

      <dxi-item dataField="social_reason">
        <dxo-label
          text="Raison sociale">
        </dxo-label>
      </dxi-item>

      <dxi-item dataField="rc">
        <dxo-label
          text="Registre de commerce" i18n-text="registre de commerce">
        </dxo-label>
      </dxi-item>

      <dxi-item dataField="patent_number">
        <dxo-label
          text="Numéro de patente" i18n-text="">
        </dxo-label>
      </dxi-item>

      <dxi-item dataField="if">
        <dxo-label
          text="Identification fiscale" >
        </dxo-label>
      </dxi-item>


      <dxi-item dataField="ice">
        <dxo-label
          text="ICE" i18n-text="">
        </dxo-label>
      </dxi-item>

      <dxi-item dataField="tva_code">
        <dxo-label
          text="Code TVA" i18n-text>
        </dxo-label>
      </dxi-item>


    </dxi-item>


    <dxi-item dataField="etat" editorType="dxSwitch" *ngIf="false">
      <dxo-label
        text="Est actif?" i18n-text>
      </dxo-label>
    </dxi-item>

    <hr>

    <dxi-item
              itemType="button"
              alignment="left"
              [buttonOptions]="buttonOptions">
    </dxi-item>
  </dx-form>
</form>
