<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="siam-page-header">
      <a class="siam-header-back-btn" href="/index"><i class="fa fa-angle-left"></i> Tableau de bord</a>
    </div>
  </div>
</div>
<div class="m-content" style="padding-bottom: 10px;">
  <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height m-portlet--rounded ">
    <div class="m-portlet__body">


      <div class="tab-content" >
        <div class="tab-pane active" id="m_user_profile_tab_1">
          <div class="m-form m-form--fit">
            <div class="m-portlet__body">
              <div class="row">
                <div class="col-12">
                  <h3 class="m-form__section">
                    Fiche Mouvement N° 111    <span class="siam-form-input-value _status">
                    <i class="fa  fa-spinner" aria-hidden="true"></i> EN COURS
                  </span>
                  </h3>
                  <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="row">
                    <label class="col-12">
                      Type
                    </label>
                    <div class="col-12">

                      <p class="siam-form-input-value siam-form-input-value-nodata">
                          type1
                      </p>

                    </div>
                  </div>

                </div>
                <div class="col-4">
                  <div class="row">
                    <label class="col-12">
                      N° Bon
                    </label>
                    <div class="col-12">

                      <p class="siam-form-input-value siam-form-input-value-nodata">
                        6456
                      </p>
                    </div>
                  </div>

                </div>
                <div class="col-4">
                  <div class="row">
                    <label class="col-12">
                      Date
                    </label>
                    <div class="col-12">

                      <p class="siam-form-input-value siam-form-input-value-nodata">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                         10/10/2018
                      </p>

                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="row">
                    <label class="col-12">
                      Commande
                    </label>
                    <div class="col-12">

                      <p class="siam-form-input-value siam-form-input-value-nodata">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i> comd11
                      </p>

                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="row">
                    <label class="col-12">
                      Emetteur
                    </label>
                    <div class="col-12">

                      <p class="siam-form-input-value siam-form-input-value-nodata">

                        <i style="font-size: 150%; align-content: center; color: #ac2925;" class="fa fa-chevron-up fa-5x"></i> Med med
                      </p>

                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="row">
                    <label class="col-12">
                      Récepteur
                    </label>
                    <div class="col-12">

                      <p class="siam-form-input-value siam-form-input-value-nodata">
                        <i style="font-size: 150%; align-content: center; color: #0b9c8f;" class="fa fa-chevron-down fa-5x"></i> Med med
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>



<div class="m-content" style="padding-bottom: 10px;">
  <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height m-portlet--rounded ">
    <div class="m-portlet__body">


      <div class="tab-content">
        <div class="tab-pane active" id="m_user_profile_tab_2">
          <div class="m-form m-form--fit">
            <div class="m-portlet__body">
              <div class="row">
                <div class="col-12">
                  <h3 class="m-form__section">
                    Liste des produits
                  </h3>
                  <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
                </div>
              </div>


              <dx-data-grid
                id="gridContainer"
                [dataSource]="produits"
                showBorders="true"
                [columnHidingEnabled]="true"
                [allowColumnResizing]="false"
                [allowColumnReordering]="true"
                [remoteOperations]="{ paging: true, sorting: true, filtering: true}"
                KeyExpr="id">

                <dxo-export [enabled]="true" fileName="magasin" [allowExportSelectedData]="true"></dxo-export>

                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>

                <dxo-group-panel [visible]="true"></dxo-group-panel>
                <dxo-scrolling mode="virtual"></dxo-scrolling>
                <dxo-editing
                  mode="popup"
                  [useIcons]="true"
                  [allowDeleting]="false"
                  [allowUpdating]="false"
                >
                </dxo-editing>
                <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
                <dxo-selection mode="multiple"></dxo-selection>
                <dxo-header-filter [visible]="true"></dxo-header-filter>


                <dxo-pager
                  [allowedPageSizes]="[5, 8, 15, 30]"
                  [showInfo]="true"
                  [showNavigationButtons]="true"
                  [showPageSizeSelector]="true"
                  [visible]="true">
                </dxo-pager>
                <dxo-paging [pageSize]="10"></dxo-paging>
                <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>

                <dxi-column dataField="id" [width]="100" caption="" [allowSorting]="false"  [allowFiltering]="false"  [allowSorting]="false" cellTemplate="consulterTemplate"></dxi-column>
                <dxi-column dataField="type" caption="Famille"></dxi-column>
                <dxi-column dataField="bon_nbr" caption="Sous Famille" cellTemplate="bon_nbrTemplate"></dxi-column>
                <dxi-column dataField="emetter" caption="Article" cellTemplate="emetterTemplate"></dxi-column>
                <dxi-column dataField="recepteur" caption="Quantité globale" cellTemplate="recepteurTemplate"></dxi-column>

              </dx-data-grid>


            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
















  <dx-popup
    class="popup"
    [width]="320"
    [height]="150"
    [showTitle]="true"
    title="Confirmation "
    [dragEnabled]="false"
    [closeOnOutsideClick]="true"
    [(visible)]="popupDeliverVisible"
  >
    <div *dxTemplate="let data of 'content'">
      <p>
        Voulez-vous vraiment livrer cet élement ?
       </p>

      <div  class="pull-right">
      <dx-button class="pull-left"
        type="success"
        text="Oui"
        width="80"
        (onClick)="delete()">
      </dx-button>
        &nbsp;
        &nbsp;

      <dx-button class="pull-right"
        class="button-info"
        text="No"
        width="80"
        (onClick)="cancelPopup()">
      </dx-button>
      </div>

    </div>
  </dx-popup>





<dx-popup
  class="popup"
  [width]="350"
  [height]="150"
  [showTitle]="true"
  title="Confirmation "
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [(visible)]="popupDeleteVisible"
>
  <div *dxTemplate="let data of 'content'">
    <p>
      Voulez-vous vraiment annuler cet élement ?
    </p>

    <div  class="pull-right">

    <dx-button class="pull-left"
               width="80"
               type="danger"
               text="Oui"
               (onClick)="deliver()">
    </dx-button>
    &nbsp;
    &nbsp;

    <dx-button class="pull-right"
               class="button-info"
               width="80"
               text="No"
               (onClick)="cancelPopup()">
    </dx-button>
  </div>

  </div>
</dx-popup>







<div class="dx-fieldset">
    <div class="dx-field">
    <div class="dx-field-value">
      <dx-button width="180"  icon="fa fa-paper-plane"  text="LIVRER" type="success"  style="margin-left: 20px; margin-right: 20px;" (onClick)="showDeliverPopup()"></dx-button>

      <dx-button width="130" icon="fa fa-trash"  text="ANNULER" type="danger"  (onClick)="showDeletePopup()"></dx-button> &nbsp; &nbsp;
    </div>
  </div>
</div>


