<aw-wizard [navBarLayout]="navBarLayout">
  <aw-wizard-step stepTitle="1. Informations agrégé"
                  [navigationSymbol]="{ symbol: '&#xf10e;', fontFamily: 'Flaticon'}" (stepExit)="goToContractInfo()"
                  i18n-step-title>

    <!-- Agreggated Informations -->
    <div class="">

      <div *ngIf="!addThird">
        <div class="left">
          <h5 class="mb-3">Liste des agrégé</h5>
          <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height m-portlet--rounded ">
            <div class="m-portlet__body  m-portlet__body--no-padding">

              <dx-list
                class="list"
                [dataSource]="thirds"
                [grouped]="false"
                [searchEnabled]="!isEdit"
                selectionMode="single"
                [readOnly]="isEdit"
                height="100%"
                [selectedItemKeys]="[currentThird?.id]"
                (onSelectionChanged)=listSelectionChanged($event)
              >
                <div *dxTemplate="let item of 'item'">
                  <div>
                    <div class="third">
                      <div class="first_name"><b>{{ item.cin }}</b> {{item.first_name}}</div>
                    </div>
                  </div>
                </div>
              </dx-list>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="siam-empty-page" *ngIf="!currentThird.cin">
            <div class="siam-empty-page-content">
              <h2>Choisissez un agrégé</h2>
              <p>Vous choisissez un agrégé dans la liste à gauche <br>ou en créer un nouveau</p>
              <button class="btn btn-large" (click)="addThird = true"><span i18n>Ajouter un agrégé</span></button>
            </div>
          </div>
          <div *ngIf="currentThird.cin">
            <dx-form id="form"
                   [formData]="currentThird"
                   [readOnly]="isEdit"
                   labelLocation="top">

            <dxi-item itemType="group" cssClass="first-group" [colCount]="2">

              <dxi-item dataField="first_name" [disabled]="true">
                <dxo-label text="Prénom"></dxo-label>
              </dxi-item>
              <dxi-item dataField="last_name" [disabled]="true">
                <dxo-label text="Nom"></dxo-label></dxi-item>
              <dxi-item dataField="first_name_ar" [disabled]="true">
                <dxo-label text="Prénom (Arabe)"></dxo-label></dxi-item>
              <dxi-item dataField="last_name_ar" [disabled]="true">
                <dxo-label text="Nom (Arabe)"></dxo-label></dxi-item>
              <dxi-item dataField="id" [disabled]="true"></dxi-item>
              <dxi-item dataField="birth_date" [editorOptions]="{ width: '100%'}" [disabled]="true">
                <dxo-label text="Date de naissance"></dxo-label></dxi-item>

            </dxi-item>
            <dxi-item itemType="group" cssClass="second-group" [colCount]="2">
              <dxi-item itemType="group">
                <dxi-item dataField="address" [disabled]="true">
                  <dxo-label text="Adresse"></dxo-label></dxi-item>
                <dxi-item dataField="city" [disabled]="true">
                  <dxo-label text="Ville"></dxo-label></dxi-item>
                <dxi-item dataField="zip_code" [disabled]="true">
                  <dxo-label text="Code postale"></dxo-label></dxi-item>
              </dxi-item>
              <dxi-item itemType="group">
                <dxi-item dataField="email" [label]="{text: 'Email'}" [disabled]="true">
                  <dxo-label text="Email"></dxo-label></dxi-item>
                <dxi-item dataField="tel1" [label]="{text: 'Telephone 1'}" [disabled]="true">
                  <dxo-label text="Téléphone 1"></dxo-label></dxi-item>
                <dxi-item dataField="tel2" [label]="{text: 'Telephone 2'}" [disabled]="true">
                  <dxo-label text="Téléphone"></dxo-label></dxi-item>
              </dxi-item>
            </dxi-item>
          </dx-form>

          </div>

        </div>

      </div>

     <app-tiers-form [isEdit]="isEdit" [readOnly]="isEdit" [validationGroup]="tierData" [tier]="tier" [isWizard]="true" *ngIf="addThird" (submit)="onFormSubmit($event)"></app-tiers-form>
    </div>
    <!-- End Agreggated Informations -->
    <div class="m-portlet__foot m-portlet__foot--fit pt-4 mt-5"  *ngIf="!addThird">
			<div class="m-form__actionss">
				<button type="button" class="btn btn-success float-right"  awNextStep i18n>Étape suivante</button>
				<button class="btn float-right mr-3" *ngIf="!!currentThird.cin" (click)="addThird = true"><span i18n>Ajouer un agrégé</span></button>
			</div>
		</div>
    <div class="m-portlet__foot m-portlet__foot--fit pt-4 mt-5"  *ngIf="addThird">
			<div class="m-form__actionss">
				<button class="btn btn-success float-right" (click)="saveThird()"><span i18n>Sauvegarder</span></button>
				<button class="btn  float-right mr-3" (click)="cancelThird()"><span i18n>Anuller</span></button>
			</div>
		</div>

  </aw-wizard-step>

  <aw-wizard-step stepTitle="2. Informations contrat" [canEnter]="!!currentThird.cin"
                  (stepExit)="goToArea()"
                  [navigationSymbol]="{ symbol: '&#xf151;', fontFamily: 'Flaticon'}"
                  i18n-step-title>

    <div>

      <dx-form id="form11"
               labelLocation="top"
               [readOnly]="isEdit"
               [formData]="contract">

        <dxi-item itemType="group" [colCount]="2">
          <dxi-item dataField="application_date" [editorOptions]="{ label: 'Date d\'application'}" i18n-label
                    editorType="dxDateBox"></dxi-item>
          <dxi-item dataField="expiration_date" [editorOptions]="expirationDateOptions" i18n-label
                    editorType="dxDateBox"></dxi-item>
          <dxi-item dataField="type" editorType="dxSelectBox" i18n-label
                    [editorOptions]="contracteditorOptions" *ngIf="!isEdit"
          ></dxi-item>
        <!--  <dxi-item dataField="superficie_total" [editorOptions]="{ label: 'Total superficie'}" i18n-label
                    editorType="dxNumberBox"></dxi-item>-->
        </dxi-item>

      </dx-form>
    </div>
    <div class="m-portlet__foot m-portlet__foot--fit pt-4 mt-5">
			<div class="m-form__actionss">
        <button type="button" class="btn default float-left" awPreviousStep i18n>Étape précédente</button>
        <button type="button" class="btn btn-success float-right" awNextStep i18n>Étape suivante</button>
			</div>
		</div>
  </aw-wizard-step>
  <aw-wizard-step stepTitle="3. Superficie contractée" [canEnter]="!!contract.application_date"
                  (stepExit)="goToParcels()"
                  [navigationSymbol]="{ symbol: '&#xf19f;', fontFamily: 'Flaticon'}"
                  i18n-step-title>

    <div>
      <form>
        <dx-form id="form2" *ngFor="let camp of campaigns; let i = index;"
                 [formData]="camp"
                 [readOnly]="false"
                 labelLocation="top"
                 [showColonAfterLabel]="true"
                 [showValidationSummary]="true">

          <dxi-item itemType="group" caption="" [colCount]="12"
                    [attr.data-index]="i">
            <dxi-item dataField="campaign" [editorOptions]="{ value: camp?.campaign }" [colSpan]="5"
                      [disabled]="true">
              <dxo-label
                text="Campagne" i18n-text>
              </dxo-label>
            </dxi-item>

            <dxi-item dataField="surface" editorType="dxNumberBox" [colSpan]="5">
              <dxo-label
                text="Superficie (ha)" i18n-text>
              </dxo-label>
            </dxi-item>

            <dxi-item
              *ngIf="(campaigns[campaigns.length - 1].campaign === camp.campaign) && (campaigns.length < maxYears)"
              itemType="button"
              alignment="bottom"
              [buttonOptions]="addButtonOptions">
            </dxi-item>
            <dxi-item *ngIf="(campaigns[campaigns.length - 1].campaign === camp.campaign) && (campaigns.length > 1)"
                      itemType="button"
                      alignment="bottom"
                      [buttonOptions]="removeButtonOptions">
            </dxi-item>
          </dxi-item>
        </dx-form>
      </form>
    </div>
    <div class="m-portlet__foot m-portlet__foot--fit pt-4 mt-5">
			<div class="m-form__actionss">
        <button type="button" class="btn default float-left" awPreviousStep i18n>Étape précédente</button>
        <button type="button" class="btn btn-success float-right" awNextStep i18n>Étape suivante</button>
			</div>
		</div>
  </aw-wizard-step>
  <aw-wizard-step stepTitle="4. Parcelle" [canEnter]="!!currentThird.cin && (campaigns.length > 0 && campaigns[0].surface > 0)"
                  i18n-step-title
                  [navigationSymbol]="{ symbol: '&#xf1a0;', fontFamily: 'Flaticon'}">

    <div>

      <div id="form-container">
        <dx-form id="form3"
                 [colCount]="4"
                 labelLocation="top"
                 [readOnly]="groundsList.length > 2"
                 [formData]="parcelForm">

          <dxi-item dataField="cda" i18n-label editorType="dxSelectBox" [editorOptions]="cdaEditorOptions">
            <dxo-label text="CDA"></dxo-label>
            <dxi-validation-rule type="required" message="CDA est obligatoire"></dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="zone" caption="Zone" i18n-caption editorType="dxSelectBox"Étape précédente
                    [editorOptions]="zoneEditorOptions">
            <dxo-label text="Zone"></dxo-label>
            <dxi-validation-rule type="required" message="Zone est obligatoire"></dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="sector" editorType="dxTextBox"
                    [editorOptions]="sectorEditorOptions">
            <dxo-label text="Secteur"></dxo-label>
          </dxi-item>
          <dxi-item dataField="block" Secteur i18n-caption editorType="dxTextBox"
                    [editorOptions]="blocEditorOptions">
            <dxo-label text="Bloc"></dxo-label>
          </dxi-item>
          <dxi-item dataField="registration_number" i18n-caption>
            <dxo-label text="Matricule"></dxo-label>
          </dxi-item>
          >
          <dxi-item dataField="total_surface"  [editorOptions]="{ label: 'Superficie totale (ha)'}"
                    editorType="dxNumberBox">
            <dxo-label text="Superficie totale (ha)"></dxo-label>
          </dxi-item>
         <dxi-item dataField="annuel_surface"
                    editorType="dxNumberBox">
            <dxo-label text="Superficie contracté (ha)"></dxo-label>
          </dxi-item>
          <dxi-item dataField="tenure" i18n-caption editorType="dxSelectBox"
                    [editorOptions]="worthEditorOptions">
           <dxo-label text="Mode faire-valoir"></dxo-label>

          </dxi-item>

          <dxi-item itemType="button"
                    alignment="right" [disabled]="(groundsList.length > 2) || (parcelForm.cda === '')" [buttonOptions]="addParcelOptions"></dxi-item>
        </dx-form>
      </div>


      <div class="siam-table-fullwidth-portlet mt-5">
        <dx-data-grid
          id="gridContainer"
          [dataSource]="groundsList"
          keyExpr="id">

          <dxo-editing
            mode="row"
            [allowUpdating]="false"
            [allowDeleting]="true"
            [allowAdding]="false">
          </dxo-editing>

          <dxo-pager
          [allowedPageSizes]="false"
            [allowedPageSizes]="[5, 8, 15, 30]"
            [showInfo]="true"
            [showNavigationButtons]="true"
            [showPageSizeSelector]="true"
            [visible]="true">
          </dxo-pager>
          <dxo-paging [pageSize]="10"></dxo-paging>

          <dxi-column dataField="id" caption="ID" i18n-caption></dxi-column>
          <dxi-column dataField="registration_number" caption="Matricule" i18n-caption></dxi-column>
          <dxi-column dataField="cda" caption="CDA" i18n-caption></dxi-column>
          <dxi-column dataField="zone" caption="Zone" i18n-caption></dxi-column>

          <dxi-column dataField="sector" caption="Secteur" i18n-caption></dxi-column>
          <dxi-column dataField="block" caption="Bloc" i18n-caption></dxi-column>
          <dxi-column dataField="total_surface" caption="Superficie totale" i18n-caption></dxi-column>
          <dxi-column dataField="annuel_surface" caption="Superficie contracté" i18n-caption></dxi-column>

        </dx-data-grid>
      </div>
    </div>
    <div class="m-portlet__foot m-portlet__foot--fit pt-4 mt-5">
			<div class="m-form__actionss">
        <button type="button" class="btn default float-left" awPreviousStep i18n>Étape précédente</button>
        <button type="button" class="btn btn-success float-right" *ngIf="groundsList.length > 0" (click)="finishFunction($event)" i18n>Finir</button>
			</div>
		</div>
  </aw-wizard-step>
</aw-wizard>
