<h1>Rotations de récolte | Encodage.</h1>
<hr>
<div class="clr-row clr-align-items-end">
    <div class="clr-col clr-align-self-end">
        <dx-button
                class="d-none d-sm-block pull-right"
                icon="fa fa-credit-card-alt"
                style="font-weight: bold"
                [type]="'success'"
                [visible]="modeHaspermission(['convocations.rotations.manual_assign'])"
                [disabled]="!modeHaspermission(['convocations.rotations.manual_assign'])"
                text="Affecter par code de ridelle"
                (onClick)="assignByRC()">
        </dx-button>
    </div>
</div>

<dx-data-grid
        #dataGrid
        id="dataGrid"
        [dataSource]="rotations"
        [columnHidingEnabled]="false"
        [allowColumnResizing]="false"
        (onEditingStart)="onEditingStart($event)"
        [allowColumnReordering]="true"
        [columnAutoWidth]="true"
        [remoteOperations]="{ paging: true, sorting: true, filtering: true}">
    <dxo-remote-operations
            [sorting]="true"
            [paging]="true">
    </dxo-remote-operations>

    <dxo-scrolling [showScrollbar]="'always'"></dxo-scrolling>
    <dxo-selection mode="none" [deferred]="true"></dxo-selection>

    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-filter-row
            [visible]="true" [applyFilter]="true"></dxo-filter-row>

    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-export [enabled]="true" fileName="Parcels" [allowExportSelectedData]="true"></dxo-export>

    <dxo-pager
            [allowedPageSizes]="[5, 8, 15, 30]"
            [showInfo]="true"
            [showNavigationButtons]="true"
            [showPageSizeSelector]="true"
            [visible]="true">
    </dxo-pager>
    <dxo-editing
            mode="popup"
            [allowUpdating]="false"
            [allowDeleting]="false"
            [allowAdding]="false">
        <dxo-popup
                title="Encodage manuel"
                [showTitle]="true">
        </dxo-popup>
    </dxo-editing>

    <dxo-paging [pageSize]="10"></dxo-paging>

    <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>

    <dxo-search-panel [visible]="false"></dxo-search-panel>

    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>

    <dxi-column [allowFiltering]="false" [allowSorting]="false" [allowSearch]="false" caption="Rotation"
                [alignment]="'center'">

        <dxi-column dataField="rot_id" [formItem]="{visible: false}" [allowEditing]="false" [width]="40" caption=""
                    [allowSorting]="false" [allowFiltering]="false"
                    cellTemplate="consulterTemplate"></dxi-column>

        <dxi-column [allowHeaderFiltering]="true" [allowEditing]="false" [alignment]="'center'" dataType="number"
                    dataField="rot_id"
                    caption="Réf"
                    [visible]="true"></dxi-column>

        <dxi-column [alignment]="'center'" dataType="string" [allowHeaderFiltering]="true" [allowEditing]="false" dataField="cda_name"
                    caption="CDA"></dxi-column>

        <dxi-column [alignment]="'center'" dataType="string" [allowEditing]="false" dataField="z_name" [allowHeaderFiltering]="true"
                    caption="Zone"></dxi-column>

        <dxi-column [alignment]="'center'" dataType="string" [allowEditing]="false" dataField="p_name" [groupIndex]="0" [allowHeaderFiltering]="true"
                    caption="Parcelle"></dxi-column>

        <dxi-column [alignment]="'center'" [allowEditing]="false" [allowFiltering]="false" dataType="string"
                    dataField="encoding_status"
                    cellTemplate="statusTemplate"
                    caption="État (encodage)"></dxi-column>

        <dxi-column [alignment]="'center'" [allowEditing]="false" [allowFiltering]="false" dataType="string"
                    dataField="rot_status"
                    cellTemplate="rotationStatusTemplate"
                    caption="État (rotation)"></dxi-column>


        <dxi-column [alignment]="'center'" dataType="string" [allowEditing]="false" dataField="p_harvest_order"
                    caption="Ordre"
                    [visible]="false"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" [allowEditing]="false" dataField="tp_full_name"
                    [visible]="false"
                    caption="Nom (Agrègè)"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" [allowEditing]="false" dataField="tp_cin" [visible]="false"
                    caption="CIN (Agrègè)"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="number" [allowEditing]="false" [visible]="false"
                    dataField="p_annuel_surface"
                    [visible]="false"
                    caption="Superficie annuelle (Ha)"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="number" dataField="sup_semis" [allowEditing]="false"
                    [visible]="false"
                    caption="Superficie semis (Ha)"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="number" dataField="ir_sup_con" [visible]="false"
                    [allowEditing]="false"
                    caption="Superficie convoquée (Ha)"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="number" dataField="irt_name" [visible]="false" [allowEditing]="false"
                    caption="Type"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="date" dataField="ir_date_con" [allowEditing]="false"
                    [visible]="false"
                    caption="Date de convocation"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="number" dataField="ir_daily_quota" [allowEditing]="false"
                    [visible]="false"
                    caption="Tonnage/Jour (Ha)"></dxi-column>

        <dxi-column [alignment]="'center'" dataType="number" dataField="camion_count" [visible]="false"
                    [allowEditing]="false"
                    caption="Nombre max de camions autorisé"></dxi-column>

        <dxi-column [alignment]="'center'" datatype="date" dataField="ir_start_date" [allowEditing]="false"
                    [visible]="false"
                    caption="Date de debut de récolte"></dxi-column>

        <dxi-column [alignment]="'center'" datatype="date" dataField="ir_end_date" [allowEditing]="false"
                    [visible]="false"
                    caption="Date prévue de fin de récolte"></dxi-column>
    </dxi-column>

    <dxi-column [allowFiltering]="false" [allowSorting]="false" [allowSearch]="false" caption="Camion"
                [allowEditing]="false"
                [alignment]="'center'">
        <dxi-column dataField="truck_ridelle_code" caption="Code Ridelle" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="truck_tel_driver" caption="Numéro tél" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="truck_immatricule_number" caption="Immatricule" [allowEditing]="false"
                    [visible]="false"></dxi-column>
        <dxi-column dataField="truck_ptc" caption="PTC" [allowEditing]="false" [visible]="false"></dxi-column>
    </dxi-column>

    <dxi-column [allowFiltering]="false" [visible]="false" [allowSorting]="false" [allowSearch]="false"
                caption="Chargeuse"
                [allowEditing]="false"
                [alignment]="'center'">
        <dxi-column dataField="loader_ridelle_code" caption="Code Ridelle" [visible]="false"
                    [allowEditing]="false"></dxi-column>
        <dxi-column dataField="loader_immatricule_number" caption="Immatricule" [visible]="false"
                    [allowEditing]="false"></dxi-column>
        <dxi-column dataField="loader_ptc" caption="PTC" [visible]="false" [allowEditing]="false"></dxi-column>
    </dxi-column>

    <dxi-column [alignment]="'center'" dataType="string" dataField="poids_net"
                [visible]="modeHaspermission(['convocations.rotations.netweight'])" caption="Poids net"></dxi-column>
    <dxi-column [alignment]="'center'" dataType="string" dataField="net_impurete"
                [visible]="modeHaspermission(['convocations.rotations.impurity'])"
                caption="Impureté nette"></dxi-column>
    <dxi-column [allowFiltering]="false" [allowSorting]="false"
                [visible]="modeHaspermission(['convocations.encoding.result'])" [allowSearch]="false" caption="Résultat"
                [alignment]="'center'">
        <dxi-column [alignment]="'center'" dataType="string" dataField="code_encodage" [visible]="false"
                    caption="Réf encodage"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="division_source" [visible]="false"
                    caption="Division (source)"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="division_reception" [visible]="false"
                    caption="Division (destination)"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="numero_bl" [visible]="false"
                    caption="Numéro BL"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="numero_bc" [visible]="false"
                    caption="Numéro BC"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" [visible]="false" dataField="bl_ref"
                    caption="bl_ref"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="numero_entree" [visible]="false"
                    caption="Numéro d'entrée"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="date" dataField="date_entree" caption="Date d'entrée"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="heure_entree"
                    caption="Heure d'entrée"></dxi-column>

        <dxi-column [alignment]="'center'" dataType="date" dataField="date_sortie"
                    caption="Date de sortie"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="heure_sortie"
                    caption="Heure de sortie"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="ptc" caption="PTC" [visible]="false"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="pav" caption="PAV" [visible]="false"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" [visible]="false" dataField="charge"
                    caption="charge"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="ridelle" [visible]="false"
                    caption="Code ridelle"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="flag_modif" [visible]="false"
                    caption="flag_modif"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="numero_centre" [visible]="false"
                    caption="Numéro de centre"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="brut" [visible]="false"
                    caption="brut"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="net" [visible]="false" caption="net"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="tare" [visible]="false"
                    caption="tare"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="date" dataField="date_tare" [visible]="false"
                    caption="date_tare"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="heure_tare" [visible]="false"
                    caption="heure_tare"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="richesse" [visible]="false"
                    caption="Richesse"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="contre" [visible]="false"
                    caption="Centre"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="poids_net" [visible]="true"
                    caption="Poids net"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="date" dataField="date_saccha" [visible]="false"
                    caption="date_saccha"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="heure_saccha" [visible]="false"
                    caption="heure_saccha"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="cin" [visible]="false" caption="CIM"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="immat" [visible]="false"
                    caption="Immatriculation"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="numero_chrono" [visible]="false"
                    caption="numero_chrono"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="fru" [visible]="false" caption="fru"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="glu" [visible]="false" caption="glu"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="az" [visible]="false" caption="az"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="k" [visible]="false" caption="k"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="na" [visible]="false" caption="na"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="pur" [visible]="false" caption="pur"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="sm" [visible]="false" caption="sm"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="se" [visible]="false" caption="se"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="rd" [visible]="false" caption="rd"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="date" dataField="date_purete" [visible]="false"
                    caption="date_purete"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="fiche_envoye" [visible]="false"
                    caption="fiche_envoye"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="date" dataField="date_envoi" [visible]="false"
                    caption="date_envoi"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="nom_modif" [visible]="false"
                    caption="nom_modif"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="date" dataField="date_modif" [visible]="false"
                    caption="date_modif"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="index_modif" [visible]="false"
                    caption="index_modif"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="heure_modif" [visible]="false"
                    caption="heure_modif"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="type_bl" [visible]="false"
                    caption="type_bl"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="date" dataField="date_bl" [visible]="false"
                    caption="date_bl"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="categorie" [visible]="false"
                    caption="Categorie"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="purete_envoyee" [visible]="false"
                    caption="purete_envoyee"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="date" dataField="date_envoi_purete" [visible]="false"
                    caption="date_envoi_purete"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="mecanique" [visible]="false"
                    caption="mecanique"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="code_fournisseur_transport" [visible]="false"
                    caption="Code fournisseur transport"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="code_fournisseur_chargement" [visible]="false"
                    caption="Code fournisseur _hargement"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="livraison_finale_globale" [visible]="false"
                    caption="livraison_finale_globale"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="date" dataField="date_prevu" [visible]="false"
                    caption="Date prévu"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="annee_plantation" [visible]="false"
                    caption="annee_plantation"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="secteur_parcelle" [visible]="false"
                    caption="secteur_parcelle"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="etat_impurete" [visible]="false"
                    caption="etat_impurete"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="etat_gateau" [visible]="false"
                    caption="etat_gateau"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="etat_brix_pol" [visible]="false"
                    caption="etat_brix_pol"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="poids_gateau" [visible]="false"
                    caption="poids_gateau"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="brut_gateau" [visible]="false"
                    caption="brut_gateau"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="fibre" [visible]="false"
                    caption="fibre"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="brix" [visible]="false"
                    caption="brix"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="l_pol" [visible]="false"
                    caption="l_pol"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="pol" [visible]="false" caption="pol"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="purete" [visible]="false"
                    caption="purete"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="srt_labo" [visible]="false"
                    caption="srt_labo"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="srt_calc" [visible]="false"
                    caption="srt_calc"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="net_impurete" [visible]="false"
                    caption="net_impurete"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="machine" [visible]="false"
                    caption="machine"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="mode_coupe" [visible]="false"
                    caption="mode_coupe"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="n_richesse" [visible]="false"
                    caption="n_richesse"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="n_srt" [visible]="false"
                    caption="n_srt"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="string" dataField="canne_refoulee" [visible]="false"
                    caption="canne_refoulee"></dxi-column>
        <

    </dxi-column>


        <dxi-column [visible]="modeHaspermission(['convocations.rotations.cancel'])"  [alignment]="'center'" dataType="string" dataField="canne_refoulee" [allowFiltering]="false"
                    caption="" cellTemplate="deleteButtonTemplate"></dxi-column>

    <div *dxTemplate="let data of 'deleteButtonTemplate'">
        <dx-button type="danger" [disabled]="disableDeleteBtn(data)" [text]="'Annuler'"
                   [visible]="modeHaspermission(['convocations.rotations.cancel'])"
                   (onClick)="cancel(data,cancelBtn)" #cancelBtn>
        </dx-button>
    </div>

    <div *dxTemplate="let data of 'consulterTemplate'">
        <i *ngIf="data.data.status !== 'done'" (click)="showRotations(data)"
           style="font-size: 150%; align-content: center; cursor: pointer; color: #000 !important;"
           class="fa fa-info-circle fa-5x"></i>
    </div>

    <div *dxTemplate="let data of 'statusTemplate'">
      <span [ngClass]="helper.getEncodageStatus(data).cssClass">
           {{ helper.getEncodageStatus(data).text }}
      </span>
    </div>
    <div *dxTemplate="let data of 'rotationStatusTemplate'">
      <span [ngClass]="helper.getRotationEncodageStatus(data).cssClass">
           {{ helper.getRotationEncodageStatus(data).text }}
      </span>
    </div>

</dx-data-grid>

<dx-popup
        class="popup"
        (onShowing)="loadVehicles($event)"
        [showTitle]="true"
        [title]="'Affectation et encodage manuel '"
        [dragEnabled]="false"
        [closeOnOutsideClick]="true"
        [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view
                direction="both">
            <div id="content">
                <form>
                    <dx-form id="ms_form"
                             [(formData)]="manual_assignment"
                             #form>
                        <dxi-item itemType="group" caption="Affectation" [colCount]="2"
                                  [visible]="modeHaspermission(['convocations.rotations.manual_assign'])">
                            <dxi-item dataField="id_truck" [colCount]="1" editorType="dxSelectBox"
                                      [editorOptions]="manualAssignmentEditorOptios">
                                <dxo-label text="Camion"></dxo-label>
                                <dxi-validation-rule type="required" message="Champs obligatoire"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="id_loader" [colCount]="1" editorType="dxSelectBox"
                                      [editorOptions]="loaderManualAssignmentEditorOptios">
                                <dxo-label text="Chargeuse"></dxo-label>
                                <dxi-validation-rule type="required" message="Champs obligatoire"></dxi-validation-rule>
                            </dxi-item>
                        </dxi-item>

                        <dxi-item itemType="group" caption="Encodage"
                                  [visible]="modeHaspermission(['convocations.rotations.manual_assign'])">
                            <dxi-item dataField="encoding_status" editorType="dxSelectBox"
                                      [editorOptions]="encodingStatusEditorOptions">
                                <dxo-label text="État d'encodage"></dxo-label>
                                <dxi-validation-rule type="required" message="Champs obligatoire"></dxi-validation-rule>
                            </dxi-item>
                        </dxi-item>

                        <dxi-item itemType="group" caption="Dernière livraison déclarée"
                                  [visible]="modeHaspermission(['convocations.encoding.last_rotation'])">
                            <dxi-item dataField="last_rotation" editorType="dxSwitch"
                                      [editorOptions]="lastRotationEditorOptions">
                                <dxo-label text="Confirmer la dernière livraison"></dxo-label>
                                <dxi-validation-rule type="required" message="Champs obligatoire"></dxi-validation-rule>
                            </dxi-item>
                        </dxi-item>

                        <dxi-item editorType="dxButton"
                                  [editorOptions]="manualAssignmentSubmitButtonEditorOptios"></dxi-item>
                    </dx-form>
                </form>
            </div>
        </dx-scroll-view>
    </div>
</dx-popup>
<dx-popup
        class="popup"
        [showTitle]="true"
        [title]="'Affectation par code ridelle'"
        [dragEnabled]="false"
        [closeOnOutsideClick]="true"
        (onShown)="clearAssignmentData()"
        [(visible)]="assignPopUpVisible">
    <div *dxTemplate="let data of 'content'">
        <dx-form id="form"
                 [formData]="ridelle">
            <dxi-item itemType="group" cssClass="first-group" [colCount]="1">
                <dxi-item itemType="group">
                    <dxi-item dataField="code" editorType="dxTextBox">
                        <dxo-label text="Code ridelle"></dxo-label>
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                    </dxi-item>
                </dxi-item>
                <dxi-item itemType="group">
                    <dxi-item
                            itemType="button"
                            horizontalAlignment="right"
                            verticalAlignment="bottom"
                            [buttonOptions]="submitButtonOptions">
                    </dxi-item>
                </dxi-item>
            </dxi-item>
        </dx-form>
        <br>
        <dx-data-grid
                [dataSource]="dataSource"
                [visible]="returnedRotation"
                [showBorders]="true"
                [columnAutoWidth]="true">
            <dxi-column [allowFiltering]="false" [allowSorting]="false" [allowSearch]="false" caption="Camion"
                        [alignment]="'center'">
                <dxi-column dataField="returnedCamion.ridelle_code" caption="Code Ridelle"></dxi-column>
                <dxi-column dataField="returnedCamion.taille" caption="Taille"></dxi-column>
                <dxi-column dataField="returnedCamion.immatricule_number" caption="Immatricule"></dxi-column>
                <dxi-column dataField="returnedCamion.ptc" caption="PTC"></dxi-column>
            </dxi-column>
            <dxi-column [allowFiltering]="false" [allowSorting]="false" [allowSearch]="false" caption="Rotation"
                        [alignment]="'center'">
                <dxi-column dataField="returnedRotation.cda_name" caption="CDA"></dxi-column>
                <dxi-column dataField="returnedRotation.z_name" caption="Zone"></dxi-column>
                <dxi-column dataField="returnedRotation.p_name" caption="Nom de la parcelle"></dxi-column>
                <dxi-column dataField="returnedRotation.p_harvest_order" caption="Ordre"></dxi-column>
                <dxi-column dataField="returnedRotation.tp_cin" caption="CIN"></dxi-column>
                <dxi-column dataField="returnedRotation.tp_full_name" [visible]="true" caption="Nom complet"
                            style="color: #6d7fcc; align-content: center; cursor: pointer"></dxi-column>
            </dxi-column>
        </dx-data-grid>
        <br>
        <dx-button
                text="Valider"
                type="success"
                [visible]="returnedRotation"
                class="mybutton"
                (onClick)="validateAssignment()"
                icon="check"></dx-button>
    </div>
</dx-popup>
<dx-load-panel
        #loadPanel
        shadingColor="rgba(0,0,0,0.4)"
        [position]="{ of: 'me' }"
        style="z-index: 2000;"
        [(visible)]="loadingVisible"
        [showIndicator]="true"
        [showPane]="true"
        [shading]="true"
        [closeOnOutsideClick]="false">
</dx-load-panel>
<!--
<div style="display:none;">
    <div id="t2">
        <div id="receipt-wrapper">
            <div class="receipt-block">
                <div class="receipt-head">
                    <div>BON DE CHARGEMENT</div>
                </div>
                <div style="text-align : center; margin-bottom: 5px;">
                    <div>N° {{ this.selectedRow.id }}</div>
                </div>
                <div class="receipt-info">
                    <div class="receipt-item">
                        <div class="receipt-item-lbl">CDA</div>
                        <div class="receipt-item-price">{{this.selectedRow.cda}}</div>
                    </div>
                    <div class="receipt-item">
                        <div class="receipt-item-lbl">ZONE</div>
                        <div class="receipt-item-price">{{this.selectedRow.zone }}</div>
                    </div>
                    <div class="receipt-item">
                        <div class="receipt-item-lbl">PARCELLE</div>
                        <div class="receipt-item-price">{{this.selectedRow.parcel_name}}</div>
                    </div>
                </div>
                <div class="receipt-info">
                    <div style="text-align : right;  margin-bottom: 5px;">
                        <div>La Date : {{this.selectedRow.date }}</div>
                    </div>
                    <div style="text-align : right; margin-bottom: 10px;">
                        <div>{{this.selectedRow.ca_desc}}</div>
                    </div>
                    <div class="receipt-items" style="text-align : center; ">
                        <div style="text-align : center !important; ">
                            <div class="receipt-item-lbl" style="text-align : center; ">Ridelle</div>
                        </div>
                        <div style="text-align : center !important; ">
                            <div class="receipt-item-price" style="text-align : center; ">{{this.selectedRow.ridelle_code}}</div>
                        </div>
                    </div>
                    <div class="receipt-items" style="text-align : center; ">
                        <div style="text-align : center !important; ">
                            <div class="receipt-item-lbl" style="text-align : center; ">Numero Mineralogique</div>
                        </div>
                        <div style="text-align : center !important; ">
                            <div class="receipt-item-price" style="text-align : center; "> {{this.selectedRow.immatricule_number}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="receipt-info">
                    <div class="signature">
                        <div>** **</div>
                        <div>* *</div>
                        <div>** MERCI **</div>
                        <div>*****</div>
                        <div>***</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
