<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="siam-page-header">
      <a class="siam-header-back-btn" routerLink="/index"><i class="fa fa-angle-left"></i> Tableau de bord</a>
      <h2>Liste des contrats</h2>
      <a class="siam-header-btn-new" routerLink="/contrats/ajouter" title="Ajouter contrat"><i
        class="fa fa-plus"></i></a>
    </div>
  </div>
</div>

<div class="m-content">
  <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height m-portlet--rounded ">
    <div class="m-portlet__body m-portlet__body--no-padding">
      <dx-data-grid
        id="gridContainer"
        [dataSource]="contracts"
        showBorders="true"
        (onSelectionChanged)="selectionChanged($event)"
        (onEditingStart)="onStartEdit($event.data.id)"
        (onContentReady)="contentReady($event)"
        (onCellPrepared)="onCellPrepared($event)"
        [columnHidingEnabled]="true"
        [allowColumnResizing]="false"
        [allowColumnReordering]="true"
        [columnAutoWidth]="true"
        [remoteOperations]="{ paging: true, sorting: true, filtering: true}"
        [masterDetail]="{ enabled: false, template: 'detail' }"
        KeyExpr="id">

        <dxo-scrolling [showScrollbar]="'always'"></dxo-scrolling>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>

        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxo-editing
          mode="row"
          [useIcons]="true"
          [allowDeleting]="true"
          [allowEditing]="false"
          [allowUpdating]="false">
        </dxo-editing>
        <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
        <dxo-selection mode="multiple"></dxo-selection>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-export [enabled]="true" fileName="Tiers" [allowExportSelectedData]="true"></dxo-export>

        <dxo-pager
          [allowedPageSizes]="[5, 8, 15, 30]"
          [showInfo]="true"
          [showNavigationButtons]="true"
          [showPageSizeSelector]="true"
          [visible]="true">
        </dxo-pager>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>

        <dxo-search-panel [visible]="false"></dxo-search-panel>

        <dxi-column cellTemplate="cellTemplate" [allowSorting]="false" caption="" width="50px" allowColumnResizing="true">
        </dxi-column>

        <dxi-column dataField="code" [hidingPriority]="2" caption="Code">
        </dxi-column>
        <dxi-column dataField="application_date" [hidingPriority]="4" caption="Date d'application" dataType="date">
        </dxi-column>
        <dxi-column dataField="expiration_date" caption="Date d'expiration" [hidingPriority]="1" dataType="date">
        </dxi-column>
        <!--<dxi-column dataField="type" caption="type de contrat" dataType="Text">
        </dxi-column>
        <dxi-column dataField="cda" caption="CDA" i18n-caption>
        </dxi-column>
        <dxi-column dataField="zone" caption="ZONE" i18n-caption>
        </dxi-column>-->

        <dxi-column cellTemplate="typeTemplate" caption="Type">
        </dxi-column>

        <dxi-column dataField="status" [hidingPriority]="3" cellTemplate="contractListTemplate" caption="Statut">
        </dxi-column>
        <dxi-column dataField="third_full_name" cellTemplate="thirdNameTemplate" caption="Nom" datatype="Text"></dxi-column>
        <dxi-column dataField="structure_name" caption="Division" [hidingPriority]="0" dataType="Text"></dxi-column>
        <div *dxTemplate="let contract of 'typeTemplate'">
          <span>
                {{ (contract.data['parent_id']) ? 'Avenant' : 'Contrat' }}
          </span>
        </div>
        <div *dxTemplate="let contract of 'thirdNameTemplate'">
          <span>
                {{ (contract.data['third_type'] === 'natural') ? contract.data['third_full_name'] : contract.data['third_company_name'] }}
          </span>
        </div>
        <dxi-column dataField="structure_name" caption="Division" [hidingPriority]="0" dataType="Text"></dxi-column>

        <div *dxTemplate="let data of 'cellTemplate'">
          <i style="font-size: 150%; align-content: center; cursor: pointer" (click)="showDetails(data.data.id)"
             class="fa fa-info-circle fa-5x">
          </i>
        </div>
        <div *dxTemplate="let data of 'contractListTemplate'">
          <span [ngClass]="helper.getStatusColor(data.value)">
              {{ data.value }}
          </span>
        </div>

      </dx-data-grid>
    </div>
  </div>
</div>
