<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">
        {{ third?.first_name | uppercase }} {{ third?.last_name | uppercase }}
      </h3>
    </div>
    <div>
      <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
           m-dropdown-toggle="hover" aria-expanded="true">
        <a href="#"
           class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
          <i class="la la-plus m--hide"></i>
          <i class="la la-ellipsis-h"></i>
        </a>
        <div class="m-dropdown__wrapper">
          <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
          <div class="m-dropdown__inner">
            <div class="m-dropdown__body">
              <div class="m-dropdown__content">
                <ul class="m-nav">
                  <li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
                  </li>
                  <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-share"></i>
                      <span class="m-nav__link-text">
												Activity
											</span>
                    </a>
                  </li>
                  <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-chat-1"></i>
                      <span class="m-nav__link-text">
												Messages
											</span>
                    </a>
                  </li>
                  <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-info"></i>
                      <span class="m-nav__link-text">
												FAQ
											</span>
                    </a>
                  </li>
                  <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                      <span class="m-nav__link-text">
												Support
											</span>
                    </a>
                  </li>
                  <li class="m-nav__separator m-nav__separator--fit"></li>
                  <li class="m-nav__item">
                    <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                      Submit
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
  <div class="row">
    <div class="col-xl-3 col-lg-4">
      <div class="m-portlet m-portlet--full-height   m-portlet--unair">
        <div class="m-portlet__body">
          <div class="m-card-profile">
            <div class="m-card-profile__title m--hide">
              {{ third?.first_name | uppercase }} {{ third?.last_name }}
            </div>
            <div class="m-card-profile__pic">
              <div class="m-card-profile__pic-wrapper">
                <avatar [letter]="'NA'" [background]="'#065c82'" [email]="third?.first_name + ' ' + third?.last_name | uppercase" [displayType]="'circle'"></avatar>
              </div>
            </div>
            <div class="m-card-profile__details">
							<span class="m-card-profile__name">
              {{ third?.first_name }} {{ third?.last_name }}
							</span>
              <a href="" class="m-card-profile__email m-link">
                <strong>{{ third?.address_email }}</strong>
              </a>
            </div>
          </div>
          <ul class="m-nav m-nav--hover-bg m-portlet-fit--sides">
            <li class="m-nav__separator m-nav__separator--fit"></li>
            <li class="m-nav__section m--hide">
              <span class="m-nav__section-text">
                Section
              </span>
            </li>
            <li class="m-nav__item"  style="padding-bottom: 3px" disabled *ngIf="third?.retraite">
              <button class="btn m-btn--square  btn-danger btn-block" type="button">
                Retraité
              </button>
            </li>
            <li class="m-nav__item"  style="padding-bottom: 3px" disabled *ngIf="third?.assurance">
              <button class="btn m-btn--square  btn-primary btn-block" type="button">
                Assuré
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xl-9 col-lg-8">
      <div class="m-portlet m-portlet--full-height m-portlet--tabs   m-portlet--unair">
        <div class="m-portlet__head">
          <div class="m-portlet__head-tools">
            <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
                  <i class="flaticon-share m--hide"></i>
                  Profile
                </a>
              </li>
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_2" role="tab">
                  Contrats
                </a>
              </li>
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_3" role="tab">
                  Paramétres
                </a>
              </li>
            </ul>
          </div>
          <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
              <li class="m-portlet__nav-item m-portlet__nav-item--last">
                <div
                  class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                  m-dropdown-toggle="hover" aria-expanded="true">
                  <a href="#"
                     class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                    <i class="la la-gear"></i>
                  </a>
                  <div class="m-dropdown__wrapper">
                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                    <div class="m-dropdown__inner">
                      <div class="m-dropdown__body">
                        <div class="m-dropdown__content">
                          <ul class="m-nav">
                            <li class="m-nav__section m-nav__section--first">
															<span class="m-nav__section-text">
																Quick Actions
															</span>
                            </li>
                            <li class="m-nav__item">
                              <a href="" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-share"></i>
                                <span class="m-nav__link-text">
																	Create Post
																</span>
                              </a>
                            </li>
                            <li class="m-nav__item">
                              <a href="" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-chat-1"></i>
                                <span class="m-nav__link-text">
																	Send Messages
																</span>
                              </a>
                            </li>
                            <li class="m-nav__item">
                              <a href="" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-multimedia-2"></i>
                                <span class="m-nav__link-text">
																	Upload File
																</span>
                              </a>
                            </li>
                            <li class="m-nav__section">
															<span class="m-nav__section-text">
																Useful Links
															</span>
                            </li>
                            <li class="m-nav__item">
                              <a href="" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-info"></i>
                                <span class="m-nav__link-text">
																	FAQ
																</span>
                              </a>
                            </li>
                            <li class="m-nav__item">
                              <a href="" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                <span class="m-nav__link-text">
																	Support
																</span>
                              </a>
                            </li>
                            <li class="m-nav__separator m-nav__separator--fit m--hide"></li>
                            <li class="m-nav__item m--hide">
                              <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                                Submit
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="tab-content">
          <div class="tab-pane active" id="m_user_profile_tab_1">
            <div class="m-form m-form--fit m-form--label-align-right">
              <div class="m-portlet__body">
                <div class="form-group m-form__group row">
                  <div class="col-10 ml-auto">
                    <h3 class="m-form__section">
                      1. Informations générales
                    </h3>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-2 col-form-label">
                    Nom complet
                  </label>
                  <div class="col-7">
                    <input class="form-control m-input" type="text" [value]="third?.first_name + ' ' + third?.last_name"
                           readonly>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-2 col-form-label">
                    CIN
                  </label>
                  <div class="col-7">
                    <input class="form-control m-input" type="text" [value]="third?.cin | uppercase" readonly>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-2 col-form-label">
                    Date de naissance
                  </label>
                  <div class="col-7">
                    <input class="form-control m-input" type="text" [value]="third?.date_birth | uppercase" readonly>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-2 col-form-label">
                    numéro de téléphone principal
                  </label>
                  <div class="col-7">
                    <input class="form-control m-input" type="text" [value]="third?.tel1 | uppercase" readonly>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-2 col-form-label">
                    numéro de téléphone secondaire
                  </label>
                  <div class="col-7">
                    <input class="form-control m-input" type="text" [value]="third?.tel2 | uppercase" readonly>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-2 col-form-label">
                    Email
                  </label>
                  <div class="col-7">
                    <input class="form-control m-input" type="text" [value]="third?.address_email" readonly>
                  </div>
                </div>
                <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
                <div class="form-group m-form__group row">
                  <div class="col-10 ml-auto">
                    <h3 class="m-form__section">
                      2.Adresse
                    </h3>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-2 col-form-label">
                    Adresse
                  </label>
                  <div class="col-7">
                    <input class="form-control m-input" type="text" [value]="third?.address" readonly>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-2 col-form-label">
                    Ville
                  </label>
                  <div class="col-7">
                    <input class="form-control m-input" type="text" [value]="third?.city" readonly>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-2 col-form-label">
                    Rue
                  </label>
                  <div class="col-7">
                    <input class="form-control m-input" type="text" [value]="third?.street" readonly>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-2 col-form-label">
                    Code postal
                  </label>
                  <div class="col-7">
                    <input class="form-control m-input" type="text" [value]="third?.postal_code" readonly>
                  </div>
                </div>
                <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
                <div class="form-group m-form__group row">
                  <div class="col-10 ml-auto">
                    <h3 class="m-form__section">
                      3. Société
                    </h3>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-2 col-form-label">
                    Raison sociale
                  </label>
                  <div class="col-7">
                    <input class="form-control m-input" type="text" [value]="third?.social_reason" readonly>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-2 col-form-label">
                    Numéro de patente
                  </label>
                  <div class="col-7">
                    <input class="form-control m-input" type="text" [value]="third?.patent_number" readonly>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-2 col-form-label">
                    Code TVA
                  </label>
                  <div class="col-7">
                    <input class="form-control m-input" type="text" [value]="third?.tva_code">
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-2 col-form-label">
                    ICE
                  </label>
                  <div class="col-7">
                    <input class="form-control m-input" type="text" [value]="third?.ice">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="m_user_profile_tab_2"></div>
          <div class="tab-pane" id="m_user_profile_tab_3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
