.dx-button-has-icon .dx-icon {
  font-size: 26px;
  width: 30px;
}


.glisser {
  align-content: center;
  text-align: center;
  color: #4b4e55;
}

.rfid-input {
  width: 0;
  height: 0;
  border: none;
}

.m-portlet__body {
  padding: 0;
  margin-left: -80px;
}
.m-portlet__head {
  margin-left: -2%;
}
.m-portlet .m-portlet__body {
  margin-right: 4%;
}

