<div class="m-portlet__head" style="padding: 2%;">
  <button type="button" (click)="onGoback()" class="btn btn-primary float-right" style="margin-right: 5%;">Etape presedente </button>
  <div class="m-portlet__head-title">
    <h3 class="m-portlet__head-text">
      Rechercher un agrégé
    </h3>
    <p>Taper le C.I.N de l'agrégé, ou bien scanner la carte d'agriculteur</p>
    <hr>
  </div>
  <dx-form id="form2">
    <dxi-item itemType="group" [colCount]="2">
      <dxi-item>
        <dx-text-box placeholder="Tape le C.I.N." (onInput)="onCinInput($event)">
        </dx-text-box>
      </dxi-item>
      <dxi-item>
        <dx-button style="background-color: #676767; border: none" icon="fa fa-id-card" text="Scanner la carte agriculteur" (onClick)="Scan()" type="default"></dx-button>
      </dxi-item>
    </dxi-item>
  </dx-form>
  <div   name="popup" id="popup">
    <dx-popup
      class="popup"
      [width]="600"
      [height]="400"
      [showTitle]="true"
      shadingColor="rgba(0,0,0,0.6)"
      title="Glisser la carte"
      [dragEnabled]="false"
      (onShown)="ReadCard()"
      [closeOnOutsideClick]="true"
      [(visible)]="popupVisible" >
      <div *dxTemplate="let data of 'content'">
        <div class="glisser" #popup>
          <h1>GLISSER LA CARTE</h1>
          <p>Faire glisser la carte sur le lecteur de carte pour lancer la recherche</p>
          <div class="glisser-carte-agriculteur">
            <div class="credit-card">
              <div class="rfid-tripe"></div>
            </div>
            <div class="swiper-top"></div>
            <div class="swiper-bottom">
              <div class="light-indicator"></div>
            </div>
          </div>
        </div>
      </div>
    </dx-popup>
  </div>
  <input class="rfid-input" type="text" name="rfid"  #rfid>
  <input class="rfid-input" type="text" name="focusout"  #focusout>
</div>
