<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="siam-page-header">
      <a class="siam-header-back-btn" routerLink="/tiers/liste"><i class="fa fa-angle-left"></i> Tableau de bord</a>
      <h2>Modification les information de {{ tier.first_name?.toUpperCase() }} {{ tier.last_name?.toUpperCase() }}</h2>

    </div>

  </div>
</div>

<div class="m-content">
  <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height m-portlet--rounded ">
    <div class="m-portlet__body">
      <app-tiers-form  [isEdit]="true" [id]="id" [readOnly]="false" [tier]="tier" (submit)="onFormSubmit($event)"></app-tiers-form>
    </div>
  </div>
</div>
