<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close  m-aside-left-close--skin-dark" id="m_aside_left_close_btn" appunwraptag="">
  <i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark" style="min-height: 100vh">
  <!-- BEGIN: Aside Menu -->
  <!--<div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark" m-menu-vertical="1"-->
  <!--     m-menu-scrollable="0" m-menu-dropdown-timeout="500">-->
  <!--  <ul class="m-menu__nav">-->
  <!--    <li class="m-menu__section m-menu__section--first">-->
  <!--      <h4 class="m-menu__section-text">-->
  <!--        Rubriques-->
  <!--      </h4>-->
  <!--      <i class="m-menu__section-icon flaticon-more-v3"></i>-->
  <!--    </li>-->
  <!--    <li class="m-menu__item " routerLinkActive="m-menu__item--active" [routerLinkActiveOptions]="{ exact: true }"-->
  <!--        aria-haspopup="true" *ngFor="let section of sections">-->
  <!--      <a [routerLink]="section.url" class="m-menu__link">-->
  <!--        <span class="m-menu__item-here"></span>-->
  <!--        <i  [ngClass]="'m-menu__link-icon flaticon-' + section.icon"></i>-->
  <!--        <span class="m-menu__link-text" i18n="">-->
		<!--				{{ section.name }}-->
		<!--			</span>-->
  <!--      </a>-->
  <!--    </li>-->
  <!--  </ul>-->

  <!--</div>-->
        <!-- BEGIN: Brand -->
      <div class="m-stack__item m-brand  m-brand--skin-dark">
        <div class="m-stack m-stack--ver m-stack--general">
          <div class="m-stack__item m-stack__item--middle m-stack__item--center m-brand__logo">
            <a routerLink="/index" class="m-brand__logo-wrapper">
              <img alt="" src="./assets/images/logo_cosumar.png" width="128"/>
            </a>
          </div>
          <div class="m-stack__item m-stack__item--middle m-stack__item--center m-brand__symbol">
            <a routerLink="/index" class="m-brand__logo-wrapper">
              <img alt="" src="./assets/images/symbol_cosumar.png" width="60"/>
            </a>
          </div>
          <!--<div class="m-stack__item m-stack__item--middle m-brand__tools">-->
            <!-- BEGIN: Left Aside Minimize Toggle -->
            <!-- END -->                    <!-- BEGIN: Responsive Aside Left Menu Toggler -->
          <!--  <a href="javascript:;" id="m_aside_left_offcanvas_toggle"-->
          <!--     class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">-->
          <!--    <span></span>-->
          <!--  </a>-->
            <!-- END -->                                  <!-- BEGIN: Responsive Header Menu Toggler -->
          <!--  <a id="m_aside_header_menu_mobile_toggle" href="javascript:;"-->
          <!--     class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">-->
          <!--    <span></span>-->
          <!--  </a>-->
            <!-- END -->                    <!-- BEGIN: Topbar Toggler -->
          <!--  <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;"-->
          <!--     class="m-brand__icon m--visible-tablet-and-mobile-inline-block">-->
          <!--    <i class="flaticon-more"></i>-->
          <!--  </a>-->
            <!-- BEGIN: Topbar Toggler -->
          <!--</div>-->
        </div>
      </div>
      <!-- END: Brand -->

  	<div
		id="m_ver_menu"
		class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark "
		m-menu-vertical="1"
		 m-menu-scrollable="0" m-menu-dropdown-timeout="500"
		>




						<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
							<li class="m-menu__item" aria-haspopup="true" >
								<a  href="javascript:;" class="m-menu__link " routerLink="/index">
									<i class="m-menu__link-icon flaticon-line-graph"></i>
									<span class="m-menu__link-title">
										<span class="m-menu__link-wrap">
											<span class="m-menu__link-text">
												Tableau de bord
											</span>
										</span>
									</span>
								</a>
							</li>

							<li class="m-menu__item m-menu__item--wd  m-menu__item--submenu {{menuItem.disabled == 'true' ? 'm-menu__item-disabled' : ''}}" aria-haspopup="true" routerLinkActive="m-menu__item--open"
                routerLinkActiveOptions="{ exact: true }" m-menu-submenu-toggle="hover" m-menu-link-redirect="1"
                aria-haspopup="true" *ngFor="let menuItem of mainMenu">
								<a  href="javascript:;" class="m-menu__link m-menu__toggle"  [routerLink]="menuItem.url">
									<i class="m-menu__link-icon {{ menuItem.icon }}"></i>
									<span class="m-menu__link-text" i18n="">
										{{ menuItem.name }}
									</span>
									<span class="m-menu__link-description" i18n="">
										{{ menuItem.description }}
									</span>
									<i class="m-menu__ver-arrow la la-angle-right"></i>
								</a>
								<div class="m-menu__submenu " *ngIf="menuItem.subMenu">
									<span class="m-menu__arrow"></span>
									<ul class="m-menu__subnav">
                    <li class="m-menu__item " routerLinkActive="m-menu__item--active" [routerLinkActiveOptions]="{ exact: true }"
                        aria-haspopup="true" *ngFor="let subMenuItem of menuItem.subMenu">
                      <a [routerLink]="subMenuItem.url" class="m-menu__link">
                        <span class="m-menu__item-here"></span>
                        <i  [ngClass]="'m-menu__link-icon ' + subMenuItem.icon"></i>
                        <span class="m-menu__link-text" i18n="">
              						{{ subMenuItem.name }}
              					</span>
                      </a>
                    </li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
  <!-- END: Aside Menu -->


</div>
<!-- END: Left Aside -->

<!-- Left Nav -->

