<h1>Fiche article ({{ article?.name | uppercase }})</h1>
<hr>
<div class="clr-row">
    <div class="clr-col">
        <h2 class="m-form__section">
            Informations générales
        </h2>
        <hr>
    </div>
</div>
<div class="clr-row">
    <div class="clr-col-4">
        <div class="clr-row">
            <label class="clr-col-12">
                Nom
            </label>
            <div class="clr-col-12">

                <p class="siam-form-input-value siam-form-input-value-nodata">
                    {{article?.name}}
                </p>

            </div>
        </div>
    </div>
    <div class="clr-col-4">
        <div class="clr-row">
            <label class="clr-col-12">
                Dose (unite)
            </label>
            <div class="clr-col-12">

                <p class="siam-form-input-value siam-form-input-value-nodata">
                    {{ article?.dose || 'Pas de donnée' }} ({{ article?.unit }}

                </p>
            </div>
        </div>

    </div>
    <div class="clr-col-4">
        <div class="clr-row">
            <label class="clr-col-12">
                Caractér technique
            </label>
            <div class="clr-col-12">

                <p class="siam-form-input-value siam-form-input-value-nodata">
                    {{article.technical_caracteristics}}

                </p>

            </div>
        </div>
    </div>
    <div class="clr-col-4">
        <div class="clr-row">
            <label class="clr-col-12">
                Code
            </label>
            <div class="clr-col-12">

                <p class="siam-form-input-value siam-form-input-value-nodata">
                    {{article?.code}}

                </p>

            </div>
        </div>
    </div>
    <div class="clr-col-4">
        <div class="clr-row">
            <label class="clr-col-12">
                Prix
            </label>
            <div class="clr-col-12">

                <p class="siam-form-input-value siam-form-input-value-nodata">

                    {{article?.price}}

                </p>

            </div>
        </div>
    </div>
    <div class="clr-col-4">
        <div class="clr-row">
            <label class="clr-col-12">
                Type
            </label>
            <div class="clr-col-12">

                <p class="siam-form-input-value siam-form-input-value-nodata">

                    {{article?.type}}

                </p>
            </div>
        </div>
    </div>
    <div class="clr-col-4">
        <div class="clr-row">
            <label class="clr-col-12">
                Groupe de marchandise

            </label>
            <div class="clr-col-12">

                <p class="siam-form-input-value siam-form-input-value-nodata">

                    {{article?.article_group}}

                </p>
            </div>
        </div>
    </div>
    <div class="clr-col-4">
        <div class="clr-row">
            <label class="clr-col-12">
                Famille
            </label>
            <div class="clr-col-12">

                <p class="siam-form-input-value siam-form-input-value-nodata">

                    {{article?.parent_category['name']}}

                </p>
            </div>
        </div>
    </div>
    <div class="clr-col-4">
        <div class="clr-row">
            <label class="clr-col-12">
                Sous-Famille

            </label>
            <div class="clr-col-12">

                <p class="siam-form-input-value siam-form-input-value-nodata">

                    {{article?.category['name']}}

                </p>
            </div>
        </div>
    </div>
</div>
<!--<div class="m-content">
  <div class="m-portlet m-portlet&#45;&#45;bordered-semi m-portlet&#45;&#45;full-height m-portlet&#45;&#45;rounded ">
    <div class="m-portlet__body">
      <div class="row">
        <div class="col-xl-12 col-lg-12">
          &lt;!&ndash;<ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line&#45;&#45;left m-tabs-line&#45;&#45;primary" role="tablist">
            <li class="nav-item m-tabs__item">
              <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
                <i class="flaticon-share m&#45;&#45;hide"></i>
                Fiche
              </a>
            </li>
          </ul>&ndash;&gt;
          <div class="tab-content">
            <div class="tab-pane active" id="m_user_profile_tab_1">
              <div class="m-form m-form&#45;&#45;fit">
                <div class="m-portlet__body">
                  <div class="row">
                    <div class="col-12">
                      <h3 class="m-form__section">
                        Informations générales
                      </h3>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <div class="row">
                        <label class="col-12">
                          Nom
                        </label>
                        <div class="col-12">
                          <p class="siam-form-input-value">{{ article?.name || 'Pas de donnée' }}</p>
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-12">
                          Code
                        </label>
                        <div class="col-12">
                          <p class="siam-form-input-value">{{ article?.code || 'Pas de donnée' }}</p>
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-12">
                          Groupe de marchandise
                        </label>
                        <div class="col-12">
                          <p class="siam-form-input-value">{{ article?.article_group || 'Pas de donnée' }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="row">
                        <label class="col-12">
                          Dose (unite)
                        </label>
                        <div class="col-12">
                          <p class="siam-form-input-value">{{ article?.dose || 'Pas de donnée' }} ({{ article?.unit
                            }})</p>
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-12">
                          Prix
                        </label>
                        <div class="col-12">
                          <p class="siam-form-input-value">{{ article?.price || 'Pas de donnée' }} DH</p>
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-12">
                          Famille
                        </label>
                        <div class="col-12">
                          <p class="siam-form-input-value">{{ article?.parent_category['name'] || 'Pas de donnée' }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="row">
                        <label class="col-12">
                          Caractér technique
                        </label>
                        <div class="col-12">
                          <p class="siam-form-input-value">{{ article?.technical_caracteristics || 'Pas de donnée' }}</p>
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-12">
                          Type
                        </label>
                        <div class="col-12">
                          <p class="siam-form-input-value">{{ article?.type || 'Pas de donnée' }}</p>
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-12">
                          Sous-Famille
                        </label>
                        <div class="col-12">
                          <p class="siam-form-input-value">{{ article?.category['name'] || 'Pas de donnée' }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
