<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="siam-page-header">
      <a class="siam-header-back-btn" href="/index"><i class="fa fa-angle-left"></i> Tableau de bord</a>
    </div>
  </div>
</div>
<div class="m-content">
  <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height m-portlet--rounded ">
    <div class="m-portlet__body">



      <div class="content" style="z-index: 2; margin-bottom: 80px">
        <div class="card">
          <div class="firstinfo"> <avatar [name]="'hamza'"   [displayType]="'circle'" [background]="'green'" [size]="120"></avatar>
            <div class="profileinfo">
              <h1>{{userInfo.name}}</h1>
              <h3>Role : {{role}}</h3>
              <p class="bio">  Structures :  {{nbr_structs}} &nbsp;  &nbsp; Cda : {{nbr_cdas}} &nbsp; Zone :  {{nbr_zones}} </p>
            </div>
          </div>
        </div>
      </div>

      <dx-form id="form"
               [formData]="user">


        <dxi-item itemType="group"  [colCount]="2">

          <dxi-item>
            <div class="dx-field">
              <div class="dx-field-label">Email</div>
              <div class="dx-field-value">
                <dx-text-box [value]="userInfo.email"></dx-text-box>
              </div>
            </div>
          </dxi-item>



        </dxi-item>

        <dxi-item itemType="group" cssClass="first-group" [colCount]="4">




        </dxi-item>
        <dxi-item itemType="group" cssClass="second-group" [colCount]="2">
          <dxi-item itemType="group">


            <dxi-item dataField="Mot de passe"></dxi-item>
          </dxi-item>
          <dxi-item itemType="group">
            <dxi-item dataField="Confirmer le mot de passe"></dxi-item>
          </dxi-item>
        </dxi-item>




      <dxi-item>

        <div class="faq-header">Structures</div>

        <div class="faq-content">
          <div *ngFor="let structure of structures; let i = index" class="faq-question">
            <input [id]="i" type="checkbox" class="panel">
            <div class="plus">+</div>
            <label [for]="i" class="panel-title"> {{structure.structure_name}} </label>
            <div class="panel-content">

              <ul class="tree-menu">
                <li *ngFor="let cda of structure.cdas" > {{cda.name}}
                  <ul *ngFor="let zone of cda.zones">
                    <li>{{zone.name}}</li>
                  </ul>
                </li>

              </ul>

            </div>
          </div>
        </div>

        </dxi-item>



        <div class="dx-fieldset">
          <div class="dx-field">
            <div class="dx-field-value">
              <dxi-item  itemType="button"  [buttonOptions]="buttonsave"></dxi-item>
            </div>
          </div>
        </div>


      </dx-form>







    </div>
  </div>


</div>







