<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title" i18n>
        CONTRACTUALIZATION
      </h3>
    </div>
    <div>
      <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
           m-dropdown-toggle="hover" aria-expanded="true">
        <a href="#"
           class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
          <i class="la la-plus m--hide"></i>
          <i class="la la-ellipsis-h"></i>
        </a>
        <div class="m-dropdown__wrapper">
          <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
          <div class="m-dropdown__inner">
            <div class="m-dropdown__body">
              <div class="m-dropdown__content">
                <ul class="m-nav">
                  <li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
                  </li>
                  <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-share"></i>
                      <span class="m-nav__link-text">
												Activity
											</span>
                    </a>
                  </li>
                  <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-chat-1"></i>
                      <span class="m-nav__link-text">
												Messages
											</span>
                    </a>
                  </li>
                  <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-info"></i>
                      <span class="m-nav__link-text">
												FAQ
											</span>
                    </a>
                  </li>
                  <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                      <span class="m-nav__link-text">
												Support
											</span>
                    </a>
                  </li>
                  <li class="m-nav__separator m-nav__separator--fit"></li>
                  <li class="m-nav__item">
                    <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                      Submit
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="m-content">
  <aw-wizard [navBarLayout]="navBarLayout">
    <aw-wizard-step stepTitle="Agreggated Informations" [navigationSymbol]="{ symbol: '&#xf007;', fontFamily: 'FontAwesome'}" i18n-step-title>

      <div>
        <h1 i188n>Agreggated Informations</h1>
        <app-tiers-form [isEdit]="false" [tier]="tier" [isWizard]="true"></app-tiers-form>
      </div>

      <button type="button" class="btn btn-success" awNextStep i18n>Next Step</button>
    </aw-wizard-step>
    <aw-wizard-step stepTitle="Contracted area" i18n-step-title [navigationSymbol]="{ symbol: '&#xf039;', fontFamily: 'FontAwesome'}" awOptionalStep>

      <div>
        <h1 i18n>Contracted area</h1>
        <form >
          <dx-form id="form"
                   [formData]="tier"
                   [readOnly]="false"
                   [showColonAfterLabel]="true"
                   [showValidationSummary]="true"
                   validationGroup="tierData">

            <dxi-item itemType="group" caption="" [colCount]="12" *ngFor="let camp of campaigns">

              <dxi-item dataField="campaign" [editorOptions]="{ value: campaignProps(camp) }" [colSpan]="5">
                <dxo-label
                  text="Campaign" i18n-text>
                </dxo-label>
              </dxi-item>
              <dxi-item dataField="superficies[]" editorType="dxNumberBox" [colSpan]="5">
                <dxo-label
                  text="Superficie" i18n-text>
                </dxo-label>
              </dxi-item>

              <dxi-item *ngIf="(camp === campaigns[campaigns.length -1]) && (campaigns.length < 5)"
                        itemType="button"
                        alignment="left"
                        [buttonOptions]="addButtonOptions">
              </dxi-item>
              <dxi-item *ngIf="(camp === campaigns[campaigns.length -1]) && (campaigns.length > 1)"
                        itemType="button"
                        alignment="left"
                        [buttonOptions]="removeButtonOptions">
              </dxi-item>

            </dxi-item>
          </dx-form>
        </form>
      </div>

      <button type="button" class="btn default" awPreviousStep i18n i18n>Previous Step</button>
      <button type="button" class="btn btn-success" awNextStep i18n i18n>Next Step</button>
    </aw-wizard-step>
    <aw-wizard-step stepTitle="Parcels" i18n-step-title [navigationSymbol]="{ symbol: '&#xf1ad;', fontFamily: 'FontAwesome'}">

      <div>
        <h1 i18n>Parcels</h1>
        <dx-data-grid
          id="gridContainer"
          [dataSource]="structures"

          (onEditingStart)="logEvent('EditingStart')"
          (onInitNewRow)="logEvent('InitNewRow')"
          (onRowInserting)="logEvent('RowInserting')"
          (onRowInserted)="logEvent('RowInserted')"
          (onRowUpdating)="logEvent('RowUpdating')"
          (onRowUpdated)="logEvent('RowUpdated')"
          (onRowRemoving)="logEvent('RowRemoving')"
          (onRowRemoved)="logEvent('RowRemoved')">

          <dxo-paging [enabled]="true"></dxo-paging>
          <dxo-editing
            mode="row"
            [allowUpdating]="true"
            [allowDeleting]="true"
            [allowAdding]="true">
          </dxo-editing>

        </dx-data-grid>
      </div>

      <button type="button" class="btn default" awPreviousStep i18n>Previous Step</button>
      <button type="button" class="btn btn-success" (click)="finishFunction()" i18n>Finish</button>
    </aw-wizard-step>
  </aw-wizard>

</div>
