<aw-wizard [navBarLayout]="navBarLayout">
  <aw-wizard-step stepTitle="Agreggated Informations"
                  [navigationSymbol]="{ symbol: '&#xf007;', fontFamily: 'FontAwesome'}" (stepExit)="goToArea()"
                  i18n-step-title>

    <!-- Agreggated Informations -->
    <div class="">
      <h1 i188n>Agreggated Informations</h1>
      <hr>

      <div *ngIf="!addThird">
        <div class="left">
          <dx-list
            class="list"
            [dataSource]="thirds"
            [grouped]="false"
            [searchEnabled]="true"
            selectionMode="single"
            [selectedItemKeys]="[currentThird?.id]"
            (onSelectionChanged)=listSelectionChanged($event)
          >
            <div *dxTemplate="let item of 'item'">
              <div>
                <div class="third">
                  <div class="first_name"><b>{{ item.cin }}</b> {{item.first_name}}</div>
                </div>
              </div>
            </div>
          </dx-list>
        </div>
        <div class="right">
          <dx-form id="form"
                   [formData]="currentThird">
            <dxi-item itemType="group" cssClass="first-group" [colCount]="2">

              <dxi-item dataField="first_name" [disabled]="true"></dxi-item>
              <dxi-item dataField="last_name" [disabled]="true"></dxi-item>
              <dxi-item dataField="first_name_ar" [disabled]="true"></dxi-item>
              <dxi-item dataField="last_name_ar" [disabled]="true"></dxi-item>
              <dxi-item dataField="id" [disabled]="true"></dxi-item>
              <dxi-item dataField="date_birth" [editorOptions]="{ width: '100%'}" [disabled]="true"></dxi-item>

            </dxi-item>
            <dxi-item itemType="group" cssClass="second-group" [colCount]="2">
              <dxi-item itemType="group">
                <dxi-item dataField="address" [disabled]="true"></dxi-item>
                <dxi-item dataField="city" [disabled]="true"></dxi-item>
                <dxi-item dataField="postal_code" [disabled]="true"></dxi-item>
              </dxi-item>
              <dxi-item itemType="group">
                <dxi-item dataField="email" [label]="{text: 'Email'}" [disabled]="true"></dxi-item>
                <dxi-item dataField="tel1" [label]="{text: 'Telephone 1'}" [disabled]="true"></dxi-item>
                <dxi-item dataField="tel2" [label]="{text: 'Telephone 2'}" [disabled]="true"></dxi-item>
              </dxi-item>
            </dxi-item>
          </dx-form>
        </div>
        <button class="btn btn-accent btn-float" *ngIf="!addThird" (click)="addThird = true"><i
          class="fa fa-plus"></i> <span i18n>Add Third party</span></button>
      </div>

      <app-tiers-form [isEdit]="false" [tier]="tier" [isWizard]="true" *ngIf="addThird"></app-tiers-form>
      <div class="btn-float">
        <div class="row">
          <div class="col-sm-6">
            <button class="btn btn-success" *ngIf="addThird" (click)="saveThird()"><i
              class="fa fa-save"></i> <span i18n>Save</span></button>
          </div>
          <div class="col-sm-6">
            <button class="btn btn-accent btn-float" *ngIf="addThird" (click)="cancelThird()"><i
              class="fa fa-remove"></i> <span i18n>Cancel</span></button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Agreggated Informations -->

    <p>
      <button type="button" class="btn btn-success" awNextStep i18n>Next Step</button>
    </p>
  </aw-wizard-step>
  <!--<aw-wizard-step stepTitle="">

  </aw-wizard-step>-->
  <aw-wizard-step stepTitle="Contracted area" [canEnter]="!!currentThird.cin"
                  (stepExit)="goToParcels()"
                  [navigationSymbol]="{ symbol: '&#xf039;', fontFamily: 'FontAwesome'}"
                  awOptionalStep i18n-step-title>

    <div>
      <h1 i18n>Contracted area</h1>
      <form>
        <dx-form id="form2" *ngFor="let camp of campaigns; let i = index;"
                 [formData]="camp"
                 [readOnly]="false"
                 [showColonAfterLabel]="true"
                 [showValidationSummary]="true">

            <dxi-item itemType="group" caption="" [colCount]="12"
                      [attr.data-index]="i">
              <dxi-item dataField="campaignYear" [editorOptions]="{ value: camp?.label }" [colSpan]="5"
                        [disabled]="true">
                <dxo-label
                  text="Campaign" i18n-text>
                </dxo-label>
              </dxi-item>

              <dxi-item dataField="area" editorType="dxNumberBox" [colSpan]="5">
                <dxo-label
                  text="Superficie" i18n-text>
                </dxo-label>
              </dxi-item>

              <dxi-item *ngIf="(camp.start_date === campaigns[campaigns.length - 1].start_date) && (campaigns.length < maxYears)"
                        itemType="button"
                        alignment="left"
                        [buttonOptions]="addButtonOptions">
              </dxi-item>
              <dxi-item *ngIf="(camp.start_date === campaigns[campaigns.length -1].start_date) && (campaigns.length > 1)"
                        itemType="button"
                        alignment="left"
                        [buttonOptions]="removeButtonOptions">
              </dxi-item>
            </dxi-item>
        </dx-form>
      </form>
    </div>

    <p>
      <button type="button" class="btn default" awPreviousStep i18n i18n>Previous Step</button>
      <button type="button" class="btn btn-success" awNextStep i18n i18n>Next Step</button>
    </p>
  </aw-wizard-step>
  <aw-wizard-step stepTitle="Parcels" [canEnter]="!!currentThird.cin && (campaigns.length > 0 && campaigns[0].area > 0)" i18n-step-title
                  [navigationSymbol]="{ symbol: '&#xf1ad;', fontFamily: 'FontAwesome'}">

    <div>
      <h1 i18n>Parcels</h1>
      <div class="long-title">
        <h3>Employee Details</h3>
      </div>
      <div id="form-container">
        <dx-form id="form3"
                 [colCount]="5"
                 [formData]="parcelForm">

            <dxi-item dataField="cda" caption="CDA" i18n-caption editorType="dxSelectBox" [editorOptions]="cdaEditorOptions">
              <dxi-validation-rule type="required" message="CDA is required"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="zone" caption="Zone" i18n-caption editorType="dxSelectBox"[editorOptions]="zoneEditorOptions">
              <dxi-validation-rule type="required" message="Zone is required"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="matricules" caption="Mle" i18n-caption editorType="dxSelectBox" [editorOptions]="matriculeEditorOption">
              <dxi-validation-rule type="required" message="Zone is required"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="FirstName" caption="Total Sup" i18n-caption="Sup totale" editorType="dxNumberBox"></dxi-item>
            <dxi-item dataField="FirstName" caption="Yearly Sup" i18n-caption="Sup annuelle" editorType="dxNumberBox"></dxi-item>

          <a class="btn btn-success" (click)="AddParcel()"><i class="fa fa-save"></i></a>
        </dx-form>
      </div>

      <hr class="separate">

      <div class="">
        <dx-data-grid
          id="gridContainer"
          [dataSource]="parcels"
          (onRowInserting)="addGround($event)"
          (onRowUpdating)="editGround($event)"
          (onRowRemoving)="deleteGround($event)">

          <dx-button id="gridDeleteSelected"
                     text="Delete Selected Records" i18n-text
                     [height]="34"
                     [width]="195"
                     [useIcons]="true"
                     (onClick)="deleteRecords($event)">
          </dx-button>
          <dxo-editing
            mode="popup"
            [useIcons]="true"
            [allowDeleting]="true"
            [allowEditing]="true"
            [allowUpdating]="true">
          </dxo-editing>

          <dxo-remote-operations
            [sorting]="true"
            [paging]="true">
          </dxo-remote-operations>
          <dxo-paging [enabled]="true"></dxo-paging>
          <dxo-editing
            mode="row"
            [allowUpdating]="true"
            [allowDeleting]="true"
            [allowAdding]="true">
          </dxo-editing>

        </dx-data-grid>
      </div>
    </div>

    <p>
      <button type="button" class="btn default" awPreviousStep i18n>Previous Step</button>
      <button type="button" class="btn btn-success" (click)="finishFunction()" i18n>Finish</button>
    </p>
  </aw-wizard-step>
</aw-wizard>
