<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="siam-page-header">
      <a class="siam-header-back-btn" routerLink="/index"><i class="fa fa-angle-left"></i> Dashboard</a>
      <h2>Liste des contrats</h2>
      <a class="siam-header-btn-new" routerLink="/contrats/ajouter"><i class="fa fa-plus"></i></a>
    </div>
  </div>
</div>

<div class="m-content">
    <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height m-portlet--rounded ">
      <div class="m-portlet__body m-portlet__body--no-padding">
        <dx-data-grid
    id="gridContainer"
    (onEditStart)="onEditcontrat($event)"
    (onRowRemoving)="onDeleteContract($event)"
    [dataSource]="contracts"
    [remoteOperations]="true"
    showBorders="true"
    (onSelectionChanged)="selectionChanged($event)"
    (onContentReady)="contentReady($event)"
    [masterDetail]="{ enabled: false, template: 'detail' }"
    KeyExpr="id">

    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-editing
      mode="popup"
      [useIcons]="true"
      [allowDeleting]="true"
      [allowEditing]="false"
      [allowUpdating]="false">
    </dxo-editing>
    <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
    <dxo-selection mode="multiple"></dxo-selection>

    <dxi-column dataField="code" caption="Réf Contrat">
    </dxi-column>
    <dxi-column dataField="application_date" caption="Date d'application" dataType="date">
    </dxi-column>
    <dxi-column dataField="expiration_date" caption="Date d'expiration" dataType="date">
    </dxi-column>
    <dxi-column dataField="contrat_type" caption="type de contrat" dataType="Text">
    </dxi-column>
    <dxi-column dataField="status" caption="Status" cellTemplate="statusTemplate">
    </dxi-column>
    <div *dxTemplate="let data of 'statusTemplate'">
      <span [ngClass]="getStatusColor(data.value)">{{ data.value }}</span>
    </div>
    <dxi-column dataField="third_name" caption="Nom agrégé" datatype="Text"></dxi-column>
    <dxi-column dataField="dets" cellTemplate="cellTemplate" caption="Détails" allowColumnResizing="true">
    </dxi-column>
    <div *dxTemplate="let data of 'cellTemplate'">
      <i style="font-size: 150%; align-content: center; cursor: pointer" (click)="showDetails(data.data.id)"
         class="fa fa-info-circle fa-5x"></i>
    </div>

  </dx-data-grid>
      </div>
    </div>
</div>
