<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title" i18n>
        LIST DES CONTRATS
      </h3>
    </div>
    <div>
      <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
           m-dropdown-toggle="hover" aria-expanded="true">
        <a href="#"
           class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
          <i class="la la-plus m--hide"></i>
          <i class="la la-ellipsis-h"></i>
        </a>
        <div class="m-dropdown__wrapper">
          <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
          <div class="m-dropdown__inner">
            <div class="m-dropdown__body">
              <div class="m-dropdown__content">
                <ul class="m-nav">
                  <li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
                  </li>
                  <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-share"></i>
                      <span class="m-nav__link-text">
												Activity
											</span>
                    </a>
                  </li>
                  <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-chat-1"></i>
                      <span class="m-nav__link-text">
												Messages
											</span>
                    </a>
                  </li>
                  <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-info"></i>
                      <span class="m-nav__link-text">
												FAQ
											</span>
                    </a>
                  </li>
                  <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                      <span class="m-nav__link-text">
												Support
											</span>
                    </a>
                  </li>
                  <li class="m-nav__separator m-nav__separator--fit"></li>
                  <li class="m-nav__item">
                    <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                      Submit
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="m-content">
  <dx-data-grid
    id="gridContainer"
    (onEditStart)="onEditcontrat($event)"
    (onRowRemoving)="onDeleteContract($event)"
    [dataSource]="contracts"
    [remoteOperations]="true"
    height="800"
    showBorders="true"
    (onSelectionChanged)="selectionChanged($event)"
    (onContentReady)="contentReady($event)"
    [masterDetail]="{ enabled: false, template: 'detail' }"
    KeyExpr="id">

    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-editing
      mode="popup"
      [useIcons]="true"
      [allowDeleting]="true"
      [allowEditing]="false"
      [allowUpdating]="false">
    </dxo-editing>
    <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
    <dxo-selection mode="multiple"></dxo-selection>

    <dxi-column dataField="id" caption="Id Contrat">
    </dxi-column>
    <dxi-column dataField="date_de_signature" caption="Date de signature" dataType="date">
    </dxi-column>
    <dxi-column dataField="date_de_debut" caption="Date de début" dataType="date">
    </dxi-column>
    <dxi-column dataField="duree_de_contrat" caption="durée de contrat" dataType="Text">
    </dxi-column>
    <dxi-column dataField="campagne" caption="Campagne">
    </dxi-column>
    <dxi-column dataField="tiers.last_name" caption="Nom agrégé" datatype="Text"></dxi-column>
    <dxi-column dataField="tiers.first_name" caption="Prénom agrégé" datatype="Text"></dxi-column>
    <dxi-column dataField="structure.libelle" caption="Structure" dataType="Text">
    </dxi-column>
    <dxi-column dataField="dets" cellTemplate="cellTemplate" caption="Détails" allowColumnResizing="true">
    </dxi-column>
    <div *dxTemplate="let data of 'cellTemplate'">
      <i style="font-size: 150%; align-content: center; cursor: pointer" (click)="showDetails(data.data.id)"
         class="fa fa-info-circle fa-5x"></i>
    </div>


    <!--<div *dxTemplate="let contract of 'detail'">
      <div class="m-portlet m-portlet&#45;&#45;tabs">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text" style="padding-left: 5%">
                Informations supplementaire
              </h3>
            </div>
          </div>
          <div class="m-portlet__head-tools" style="float: left">
            <ul class="nav nav-tabs m-tabs-line m-tabs-line&#45;&#45;right" role="tablist">
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link active show" data-toggle="tab" [href]="'#tab2'+contract.data.id"
                   role="tab" aria-selected="true">
                  <i class="flaticon-avatar"></i> Agrégé
                </a>
              </li>
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link" data-toggle="tab" [href]="'#tab1'+contract.data.id" role="tab"
                   aria-selected="false">
                  <i class="flaticon-file"></i> Contrat
                </a>
              </li>
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link" data-toggle="tab" [href]="'#tab3'+contract.data.id" role="tab"
                   aria-selected="false">
                  <i class="flaticon-info"></i> Structure
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="tab-content">
            <div class="tab-pane" [id]="'tab1'+contract.data.id" role="tabpanel">

            </div>
            <div class="tab-pane active" [id]="'tab2'+contract.data.id" role="tabpanel">
              <table>
                <div class="card ">
                  <h5 class="card-header">
                    Informations générale
                  </h5>
                  <div class="card-body">
                    <tr>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="row">
                                <td>
                                  <div class="col-md-3">
                                    Nom:
                                  </div>
                                </td>
                                <td>
                                  <div class="col-md-9">
                                    <p class="font-weight-bold">{{ contract.data.third.last_name }}</p>
                                  </div>
                                </td>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="row">
                                <td>
                                  <div class="col-md-3">
                                    Prénom:
                                  </div>
                                </td>
                                <td>
                                  <div class="col-md-9">
                                    <p class="font-weight-bold">{{ contract.data.third.first_name }}</p>
                                  </div>
                                </td>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6" dir="rtl">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="row">
                                <td>
                                  <div class="col-md-9">
                                    الاسم الشخصي:
                                  </div>
                                <td>
                                <td>
                                  <div class="col-md-3">
                                    <p class="font-weight-bold">{{ contract.data.third.ar_first_name }}</p>
                                  </div>
                                </td>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-9">
                                  الاسم العائلي:
                                </div>
                                <div class="col-md-3">
                                  <p class="font-weight-bold">{{ contract.data.third.ar_last_name }}</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </tr>
                    <hr>
                    <tr>
                      <div class="row">
                        <div class="col-md-2">
                          <div class="row">
                            <td>
                              <div class="col-md-3">
                                CIN:
                              </div>
                            </td>
                            <td>
                              <div class="col-md-9">
                                <p class="font-weight-bold">{{ contract.data.third.cin }}</p>
                              </div>
                            </td>
                          </div>
                        </div>
                        <div class="col-md-5">
                          <div class="row">
                            <td>
                              <div class="col-6">
                                numéro de téléphone principal:
                              </div>
                            </td>
                            <td>
                              <div class="col-6">
                                <p class="font-weight-bold">{{ contract.data.third.tel1 }}</p>
                              </div>
                            </td>
                          </div>
                        </div>
                        <div class="col-md-5">
                          <div class="row">
                            <td>
                              <div class="col-md-6">
                                numéro de téléphone secondaire:
                              </div>
                            </td>
                            <td>
                              <div class="col-md-6">
                                <p class="font-weight-bold">{{ contract.data.third.tel2 || 'N/A'}}</p>
                              </div>
                            </td>
                          </div>
                        </div>
                      </div>
                    </tr>
                    <hr>
                    <tr>
                      <div class="row">
                        <div class="col-md-7 container">
                          <div class="row">
                            <div class="col-md-6 container">
                              <div class="row">
                                <td>
                                  <div class="col-md-1">
                                    Email:
                                  </div>
                                </td>
                                <td>
                                  <div class="col-md-11">
                                    <p class="font-weight-bold">{{ contract.data.third.address_email }}</p>
                                  </div>
                                </td>
                              </div>
                            </div>
                            <div class="col-md-6 container">
                              <div class="row">
                                <td>
                                  <div class="col-md-6">
                                    Situation familiale:
                                  </div>
                                </td>
                                <td>
                                  <div class="col-md-6">
                                    <p class="font-weight-bold">{{ contract.data.third.situation }}</p>
                                  </div>
                                </td>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-5">
                          <div class="row">
                            <div class="col-md-7">
                              <div class="row">
                                <td>
                                  <div class="col-md-2">
                                    Education:
                                  </div>
                                </td>
                                <td>
                                  <div class="col-md-10">
                                    <p class="font-weight-bold">{{ contract.data.third.education_level }}</p>
                                  </div>
                                </td>
                              </div>
                            </div>
                            <div class="col-md-5">
                              <div class="row">
                                <td>
                                  <div class="col-md-6">
                                    Nombre d'enfants:
                                  </div>
                                </td>
                                <td>
                                  <div class="col-md-6">
                                    <p class="font-weight-bold">{{ contract.data.third.children_number }}</p>
                                  </div>
                                </td>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </tr>
                  </div>
                </div>
              </table>
              <hr>
              <table>
                <div class="card ">
                  <h5 class="card-header">
                    Adresse
                  </h5>
                  <div class="card-body">
                    <tr>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="row">
                            <td>
                              <div class="col-md-3">
                                Adresse:
                              </div>
                            </td>
                            <td>
                              <div class="col-md-9">
                                <p class="font-weight-bold">{{ contract.data.third.address }}</p>
                              </div>
                            </td>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="row">
                            <td>
                              <div class="col-3">
                                Ville:
                              </div>
                            </td>
                            <td>
                              <div class="col-7">
                                <p class="font-weight-bold">{{ contract.data.third.city }}</p>
                              </div>
                            </td>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="row">
                            <td>
                              <div class="col-md-5">
                                Commune:
                              </div>
                            </td>
                            <td>
                              <div class="col-md-7">
                                <p class="font-weight-bold">{{ contract.data.third.commune }}</p>
                              </div>
                            </td>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="row">
                            <td>
                              <div class="col-md-5">
                                Code postale:
                              </div>
                            </td>
                            <td>
                              <div class="col-md-7">
                                <p class="font-weight-bold">{{ contract.data.third.postal_code }}</p>
                              </div>
                            </td>
                          </div>
                        </div>
                      </div>
                    </tr>
                  </div>
                </div>
              </table>
              <hr>
              <div class="card ">
                <h5 class="card-header">
                  Informations techniques
                </h5>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="row">
                        <div class="col-md-6">
                          Code SIAM:
                        </div>
                        <div class="col-md-6">
                          <p class="font-weight-bold">{{ contract.data.third.code_siam }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="row">
                        <div class="col-md-6">
                          Code AS400:
                        </div>
                        <div class="col-md-6">
                          <p class="font-weight-bold">{{ contract.data.third.code_as400 }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="row">
                        <div class="col-md-8">
                          Registre de commerce:
                        </div>
                        <div class="col-md-4">
                          <p class="font-weight-bold">{{ contract.data.third.rc }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="row">
                        <div class="col-md-7">
                          Numéro de patente:
                        </div>
                        <div class="col-md-5">
                          <p class="font-weight-bold">{{ contract.data.third.patent_number }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="row">
                        <div class="col-md-7">
                          Identification fiscale:
                        </div>
                        <div class="col-md-3">
                          <p class="font-weight-bold">{{ contract.data.third.if }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="row">
                        <div class="col-7">
                          Identifiant commun de l’entreprise:
                        </div>
                        <div class="col-3">
                          <p class="font-weight-bold">{{ contract.data.third.ice }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="row">
                        <div class="col-7">
                          Retraité:
                        </div>
                        <div class="col-3">
                          <p class="font-weight-bold" *ngIf="contract.data.third.retreat">Oui</p>
                          <p class="font-weight-bold" *ngIf="!contract.data.third.retreat">Non</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="row">
                        <div class="col-7">
                          Assuré:
                        </div>
                        <div class="col-3">
                          <p class="font-weight-bold" *ngIf="contract.data.third.assurance">Oui</p>
                          <p class="font-weight-bold" *ngIf="!contract.data.third.assurance">Non</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="card ">
                <h5 class="card-header">
                  Information bancaire
                </h5>
                <div class="card-body">
                  <div *ngFor="let bank_account of contract.data.third.bank_accounts; let i = index">
                    <div class="row">
                      <div class="col-md-3">
                        <div class="row">
                          <div class="col-md-9">
                            Compte №:
                          </div>
                          <div class="col-md-3">
                            <p class="font-weight-bold">{{ i }}</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                          <div class="col-3">
                            Banque:
                          </div>
                          <div class="col-9">
                            <p class="font-weight-bold">{{ bank_account.bank }}</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                          <div class="col-md-3">
                            RIB:
                          </div>
                          <div class="col-md-9" style="float: right;">
                            <p class="font-weight-bold">{{ bank_account.rib }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" [id]="'tab3'+contract.data.id" role="tabpanel">
              <div class="card ">
                <h5 class="card-header">
                  Informations générale
                </h5>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="row">
                            <div class="col-md-3">
                              Libelle:
                            </div>
                            <div class="col-md-9">
                              <p class="font-weight-bold">{{ contract.data.structure.libelle }}</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="row">
                            <div class="col-md-3">
                              Code:
                            </div>
                            <div class="col-md-9">
                              <p class="font-weight-bold">{{ contract.data.structure.code }}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="row">
                            <div class="col-md-6">
                              Ville:
                            </div>
                            <div class="col-md-6">
                              <p class="font-weight-bold">{{ contract.data.structure.city }}</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="row">
                            <div class="col-md-5">
                              Code postale:
                            </div>
                            <div class="col-md-7">
                              <p class="font-weight-bold">{{ contract.data.structure.postal_code }}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="row">
                        <div class="col-md-3">
                          Adresse:
                        </div>
                        <div class="col-md-9">
                          <p class="font-weight-bold">{{ contract.data.structure.address }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="row">
                        <div class="col-8">
                          numéro de téléphone principal:
                        </div>
                        <div class="col-4">
                          <p class="font-weight-bold">{{ contract.data.structure.tel1 || 'N/A' }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="row">
                        <div class="col-md-8">
                          numéro de téléphone secondaire:
                        </div>
                        <div class="col-md-4">
                          <p class="font-weight-bold">{{ contract.data.structure.tel2 || 'N/A'}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>-->

  </dx-data-grid>
</div>
