<!-- BEGIN: Header -->

<header id="m_header" class="m-grid__item m-header" m-minimize-offset="200" m-minimize-mobile-offset="200"
        appunwraptag="">






  <div class="m-container m-container--fluid m-container--full-height   d-none d-lg-block">
    <div class="m-stack m-stack--ver m-stack--desktop">

      <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
        <!-- BEGIN: Horizontal Menu -->
        <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-dark"
                id="m_aside_header_menu_mobile_close_btn">
          <i class="la la-close"></i>
        </button>
        <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general float-left">
          <div class=" m-stack__item m-stack__item--middle m-stack__item--fit">
            <a href="javascript:;" id="m_aside_left_minimize_toggle"
               class="siam-sidebar-toggler float-left">

              <span></span>
            </a>
            <div class="siam-search-form-header">
              <!--<form class="search-form" role="form">
                <div class="input-icon">
                  <i class="flaticon-search"></i>
                  <input type="text" class="form-control input-sm" disabled name="query"
                         placeholder="Rechercher les contrats ,agrégés...">
                </div>
              </form> !-->



<form class="search-form2 d-none d-sm-block">
  <input Support  (keyup.enter)="searchBtn(searchType,search.value)" type="search" value="" #search  placeholder="Search" class="search-input2">
  <button type="submit" class="search-button2">
    <svg class="submit-button">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search"></use>
    </svg>
  </button>
  <div class="search-option2">
    <div>
      <input name="type" type="radio" value="type-users" id="type-users" checked>
      <label for="type-users" (click)="searchBtn('agre',search.value)">
          <i class="fa flaticon-users" aria-hidden="true"></i>


        <span>Agrégés</span>
      </label>
    </div>

    <div>
      <input name="type" type="radio" value="type-posts" id="type-posts">
      <label for="type-posts"  (click)="searchBtn('contrat',search.value)">
          <i class=" flaticon-list" aria-hidden="true"></i>

        <span>Contrats</span>
      </label>
    </div>
    <div>
      <input name="type" type="radio" value="type-images" id="type-images">
      <label for="type-images" (click)="searchBtn('distribution',search.value)">
          <i class="fa  flaticon-user" aria-hidden="true"></i>

        <span>Centre de distribution</span>
      </label>
    </div>
  </div>
</form>

<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" display="none">
  <symbol id="search" viewBox="0 0 32 32">
    <path d="M 19.5 3 C 14.26514 3 10 7.2651394 10 12.5 C 10 14.749977 10.810825 16.807458 12.125 18.4375 L 3.28125 27.28125 L 4.71875 28.71875 L 13.5625 19.875 C 15.192542 21.189175 17.250023 22 19.5 22 C 24.73486 22 29 17.73486 29 12.5 C 29 7.2651394 24.73486 3 19.5 3 z M 19.5 5 C 23.65398 5 27 8.3460198 27 12.5 C 27 16.65398 23.65398 20 19.5 20 C 15.34602 20 12 16.65398 12 12.5 C 12 8.3460198 15.34602 5 19.5 5 z" />
  </symbol>
  <symbol id="user" viewBox="0 0 32 32">
    <path d="M 16 4 C 12.145852 4 9 7.1458513 9 11 C 9 13.393064 10.220383 15.517805 12.0625 16.78125 C 8.485554 18.302923 6 21.859881 6 26 L 8 26 C 8 21.533333 11.533333 18 16 18 C 20.466667 18 24 21.533333 24 26 L 26 26 C 26 21.859881 23.514446 18.302923 19.9375 16.78125 C 21.779617 15.517805 23 13.393064 23 11 C 23 7.1458513 19.854148 4 16 4 z M 16 6 C 18.773268 6 21 8.2267317 21 11 C 21 13.773268 18.773268 16 16 16 C 13.226732 16 11 13.773268 11 11 C 11 8.2267317 13.226732 6 16 6 z" /></symbol>
  <symbol id="images" viewbox="0 0 32 32">
    <path d="M 2 5 L 2 6 L 2 26 L 2 27 L 3 27 L 29 27 L 30 27 L 30 26 L 30 6 L 30 5 L 29 5 L 3 5 L 2 5 z M 4 7 L 28 7 L 28 20.90625 L 22.71875 15.59375 L 22 14.875 L 21.28125 15.59375 L 17.46875 19.40625 L 11.71875 13.59375 L 11 12.875 L 10.28125 13.59375 L 4 19.875 L 4 7 z M 24 9 C 22.895431 9 22 9.8954305 22 11 C 22 12.104569 22.895431 13 24 13 C 25.104569 13 26 12.104569 26 11 C 26 9.8954305 25.104569 9 24 9 z M 11 15.71875 L 20.1875 25 L 4 25 L 4 22.71875 L 11 15.71875 z M 22 17.71875 L 28 23.71875 L 28 25 L 23.03125 25 L 18.875 20.8125 L 22 17.71875 z" />
  </symbol>
  <symbol id="post" viewbox="0 0 32 32">
    <path d="M 3 5 L 3 6 L 3 23 C 3 25.209804 4.7901961 27 7 27 L 25 27 C 27.209804 27 29 25.209804 29 23 L 29 13 L 29 12 L 28 12 L 23 12 L 23 6 L 23 5 L 22 5 L 4 5 L 3 5 z M 5 7 L 21 7 L 21 12 L 21 13 L 21 23 C 21 23.73015 21.221057 24.41091 21.5625 25 L 7 25 C 5.8098039 25 5 24.190196 5 23 L 5 7 z M 7 9 L 7 10 L 7 13 L 7 14 L 8 14 L 18 14 L 19 14 L 19 13 L 19 10 L 19 9 L 18 9 L 8 9 L 7 9 z M 9 11 L 17 11 L 17 12 L 9 12 L 9 11 z M 23 14 L 27 14 L 27 23 C 27 24.190196 26.190196 25 25 25 C 23.809804 25 23 24.190196 23 23 L 23 14 z M 7 15 L 7 17 L 12 17 L 12 15 L 7 15 z M 14 15 L 14 17 L 19 17 L 19 15 L 14 15 z M 7 18 L 7 20 L 12 20 L 12 18 L 7 18 z M 14 18 L 14 20 L 19 20 L 19 18 L 14 18 z M 7 21 L 7 23 L 12 23 L 12 21 L 7 21 z M 14 21 L 14 23 L 19 23 L 19 21 L 14 21 z" />
  </symbol>
  <symbol id="special" viewbox="0 0 32 32">
    <path d="M 4 4 L 4 5 L 4 27 L 4 28 L 5 28 L 27 28 L 28 28 L 28 27 L 28 5 L 28 4 L 27 4 L 5 4 L 4 4 z M 6 6 L 26 6 L 26 26 L 6 26 L 6 6 z M 16 8.40625 L 13.6875 13.59375 L 8 14.1875 L 12.3125 18 L 11.09375 23.59375 L 16 20.6875 L 20.90625 23.59375 L 19.6875 18 L 24 14.1875 L 18.3125 13.59375 L 16 8.40625 z M 16 13.3125 L 16.5 14.40625 L 17 15.5 L 18.1875 15.59375 L 19.40625 15.6875 L 18.5 16.5 L 17.59375 17.3125 L 17.8125 18.40625 L 18.09375 19.59375 L 17 19 L 16 18.40625 L 15 19 L 14 19.59375 L 14.3125 18.40625 L 14.5 17.3125 L 13.59375 16.5 L 12.6875 15.6875 L 13.90625 15.59375 L 15.09375 15.5 L 15.59375 14.40625 L 16 13.3125 z" />
  </symbol>
</svg>




            </div>
          </div>
        </div>

        <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
          <div class="m-stack__item m-topbar__nav-wrapper">

            <ul class="m-topbar__nav m-nav m-nav--inline">
              <li
                class="m-nav__item m-topbar__user-profile  m-dropdown m-dropdown--medium m-dropdown--arrow  m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light"
                m-dropdown-toggle="click">
                <a href="#" (click)="showMenu()" (blur)="hideMenu()" class="m-nav__link m-dropdown__toggle">
                  <span class="m-nav__link-icon">
                    <i class="flaticon-apps"></i>
                  </span>
                </a>
                <div style="z-index: 1000;" class="m-dropdown__wrapper" *ngIf="displayMenu">
                  <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                  <div class="m-dropdown__inner">
                    <div class="m-dropdown__body">
                      <div class="m-dropdown__content">
                        <ul class="m-nav m-nav--skin-light">

                          <li class="m-nav__section m-nav__section--first">
                            <span class="m-nav__section-text">Division</span>
                          </li>
                          <li class="m-nav__item" *ngFor="let t of tenants; let i = index">
                            <a href="/" class="m-nav__link">
                              <i
                                class="m-menu__link-bullet m-menu__link-bullet--dot {{t.division_id == tenant ? 'active' : ''}}"><span></span></i>
                              <span class="m-nav__link-text" (click)="changeTenant(t.division_id)">
																{{ t.division }}
															</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li
                class="m-nav__item m-topbar__user-profile  m-dropdown m-dropdown--medium m-dropdown--arrow  m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light"
                m-dropdown-toggle="click">
                <a href="#" (click)="showMenu()" (blur)="hideMenu()" class="m-nav__link m-dropdown__toggle">
                  <!--<a href="#" class="m-nav__link m-dropdown__toggle">-->
                  <span class="siam-user-pic-wrapper">
                      <avatar [name]="currentUser.name" [displayType]="'circle'" [background]="'green'" [size]="30"></avatar>
                    <!--<span class="siam-user-pic">
                      <span>{{ currentUser.name }}</span>
                    </span>-->
                    </span>
                  <span class="m-topbar__username">{{ currentUser.name }}</span>
                </a>
                <div class="m-dropdown__wrapper" *ngIf="displayMenu">
                  <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                  <div class="m-dropdown__inner">
                    <div class="m-dropdown__header m--align-center">
                      <div class="m-card-user m-card-user--skin-light">


                       <a  style="text-decoration: none;">
                        <div class="m-card-user__pic">
                          <avatar [name]="currentUser.name" [displayType]="'circle'" [background]="'green'"></avatar>
                        </div>
                        </a>

                        <div class="m-card-user__details">

													<span class="m-card-user__name m--font-weight-500">
														{{ currentUser.name }}
                          </span>

                          <a class="m-card-user__email m--font-weight-300 m-link">
                            {{ currentUser.email }}
                          </a>
                          <hr>
                          <a routerLink="/logout" class="m-nav__link m-dropdown__toggle">
                            <span class="m-nav__link-icon">
                              <i class="flaticon-logout"></i> Se déconnecter
                            </span>
                          </a>
                        </div>
                      </div>

                    </div>

                  </div>
                </div>
              </li>
              <li id="m_quick_sidebar_toggle" class="m-nav__item">
                <a routerLink="/logout" class="m-nav__link m-dropdown__toggle">
									<span class="m-nav__link-icon">
										<i class="flaticon-logout"></i>
									</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- END: Topbar -->
      </div>
    </div>
  </div>




  <!-- Navbar burger on large screens -->
  <nav class="navbar navbar-light bg-light  d-block d-lg-none " style="
    background-color: #232f3e !important;
    color: #fff;
">
    <a class="navbar-brand" href="#" style="color: #fff; font-weight: 400;">

      <img alt="" src="./assets/images/symbol_cosumar.png"  style="width: 43px; height: 20px; margin-top: -10px;" >
      &nbsp; {{ currentUser.name }}</a>


<!--
    <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
      <div class="m-stack__item m-topbar__nav-wrapper">

        <ul class="m-topbar__nav m-nav m-nav--inline">
          <li
            class="m-nav__item m-topbar__user-profile  m-dropdown m-dropdown--medium m-dropdown--arrow  m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light"
            m-dropdown-toggle="click">
            <a href="#" (click)="showMenu()" (blur)="hideMenu()" class="m-nav__link m-dropdown__toggle">
                  <span class="m-nav__link-icon">
                    <i class="flaticon-apps"></i>
                  </span>
            </a>
            <div style="z-index: 1000;" class="m-dropdown__wrapper" *ngIf="displayMenu">
              <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
              <div class="m-dropdown__inner">
                <div class="m-dropdown__body">
                  <div class="m-dropdown__content">
                    <ul class="m-nav m-nav--skin-light">

                      <li class="m-nav__section m-nav__section--first">
                        <span class="m-nav__section-text">Division</span>
                      </li>
                      <li class="m-nav__item" *ngFor="let t of tenants; let i = index">
                        <a href="/" class="m-nav__link">
                          <i
                            class="m-menu__link-bullet m-menu__link-bullet--dot {{t.division_id == tenant ? 'active' : ''}}"><span></span></i>
                          <span class="m-nav__link-text" (click)="changeTenant(t.division_id)">
																{{ t.division }}
															</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      </div>
!-->

    <button class="navbar-toggler  pull-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars" style="
    color: white;
    font-size: 22px;"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto"  *ngFor="let menuItem of mainMenu" >



<!--

        <li class="nav-item dropdown" *ngFor="let t of tenants; let i = index">
          <a href="/" class="m-nav__link">
            <i
              class="m-menu__link-bullet m-menu__link-bullet--dot {{t.division_id == tenant ? 'active' : ''}}"><span></span></i>
            <span class="m-nav__link-text" (click)="changeTenant(t.division_id)">
																{{ t.division }}
															</span>
          </a>
        </li>
!-->







        <li class="nav-item dropdown"  *ngIf="helper.permissionMethod(menuItem.permission)" >



          <a  style="color: #ffffff" class="nav-link"  href="#"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="{{ menuItem.icon }}"></i> &nbsp; &nbsp; {{menuItem.name}}
          </a>


          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #2c3846;"   *ngIf="menuItem.subMenu">
            <a *ngFor="let subMenuItem of menuItem.subMenu"        [routerLink]="[subMenuItem.url]" [queryParams]="subMenuItem.queryParams"   class="dropdown-item" href="#"  style="color: #ffffff" > <i class="fa fa-circle-o-notch" aria-hidden="true"></i>
              {{ subMenuItem.name }}</a>

          </div>

        </li>

      </ul>


      <hr style="background-color: #4c4c4c;"/>

      <a routerLink="/logout" class="m-nav__link m-dropdown__toggle">
                            <span class="m-nav__link-icon" style="color :#fff;">
                              <i class="flaticon-logout"></i> Se déconnecter
                            </span>
      </a>


    </div>
  </nav>



</header>
<!-- END: Header -->
