<h1>Zone d'importation</h1>
<hr>
<form style="margin-top: 20px"
      (submit)="test($event)" >
  <dx-form id="form"
           [formData]="import"
           [readOnly]="false"
           [showColonAfterLabel]="true"
           [showValidationSummary]="true"
           labelLocation="top">

    <dxi-item itemType="group" caption="Importer" [colCount]="1" i18n-caption>


      <dxi-item dataField="type"  editorType="dxSelectBox" [editorOptions]="typeOptions" >
        <dxo-label
                text="Type" i18n-text>
        </dxo-label>
        <dxi-validation-rule type="required" message="Type est obligatoire"
                             i18n-message></dxi-validation-rule>
      </dxi-item>


      <dxi-item dataField="fichier" editorType="dxTextArea">

        <div class="widget-container">



          <dx-file-uploader
                  selectButtonText="Ajouter un document"
                  labelText="Fichier CSV"
                  accept=".csv"
                  uploadMode="useForm"
                  [(value)]="filePath">

            <dxi-validation-rule type="required" message="Type est obligatoire"
                                 i18n-message></dxi-validation-rule>
          </dx-file-uploader>



          <div class="content">
            <div *ngIf="value.length > 0">
              <h4>Selected Files</h4>
            </div>
            <div *ngFor="let file of value">
              <div class="selected-item">
                Name:
                <span>{{file.name}}</span><br /> Size:
                <span>{{file.size}}</span>bytes<br /> Type:
                <span>{{file.type}}</span><br /> Last Modified Date:
                <span>{{file.lastModifiedDate}}</span>
              </div>
            </div>
          </div>
        </div>

      </dxi-item>




    </dxi-item>




    <div class="dx-fieldset">
      <div class="dx-field">
        <div class="dx-field-value">
          <dxi-item  itemType="button"  [buttonOptions]="buttonsave"></dxi-item>
        </div>
      </div>
    </div>


  </dx-form>
</form>

