<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="siam-page-header">
      <a class="siam-header-back-btn" routerLink="/index"><i class="fa fa-angle-left"></i> Tableau de bord</a>
      <h2>Liste des magasins</h2>
      <a class="siam-header-btn-new" routerLink="/magasin/ajouter" title="Ajouter conseille"><i
        class="fa fa-plus"></i></a>
    </div>
  </div>
</div>

<div class="m-content">
  <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height m-portlet--rounded ">
    <div class="m-portlet__body m-portlet__body--no-padding">
      <dx-data-grid
        id="gridContainer"
        [dataSource]="warehouses"
        showBorders="true"
        [columnHidingEnabled]="true"
        [allowColumnResizing]="false"
        [allowColumnReordering]="true"
        [remoteOperations]="{ paging: true, sorting: true, filtering: true}"
        KeyExpr="id">

        <dxo-export [enabled]="true" fileName="magasin" [allowExportSelectedData]="true"></dxo-export>

        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>

        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxo-editing
          mode="popup"
          [useIcons]="true"
          [allowDeleting]="true"
          [allowUpdating]="true"
        >
        </dxo-editing>
        <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
        <dxo-selection mode="multiple"></dxo-selection>
        <dxo-header-filter [visible]="true"></dxo-header-filter>


        <dxo-pager
          [allowedPageSizes]="[5, 8, 15, 30]"
          [showInfo]="true"
          [showNavigationButtons]="true"
          [showPageSizeSelector]="true"
          [visible]="true">
        </dxo-pager>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>

        <dxi-column dataField="id" [width]="50" caption="" [allowSorting]="false"  [allowFiltering]="false"  [allowSorting]="false" cellTemplate="caTemplate"></dxi-column>
        <dxi-column dataField="cda" caption="CDA"></dxi-column>
        <dxi-column dataField="name" caption="Libelle"></dxi-column>
        <dxi-column dataField="third.full_name" caption="Nom complet"></dxi-column>
        <dxi-column dataField="email" caption="Adresse e-mail "></dxi-column>
        <dxi-column dataField="tel" caption="N° Téléphone"></dxi-column>
        <dxi-column dataField="third.company_name" caption="Raison sociale"></dxi-column>

        <div *dxTemplate="let data of 'caTemplate'">
          <a (click)="gotoShow(data)"><i style="font-size: 150%; align-content: center; cursor: pointer"
                                         class="fa fa-info-circle fa-5x"></i></a>
        </div>

      </dx-data-grid>
    </div>
  </div>
</div>
