/**
*	Main color
**/
$main_color			: #505A78;
$siam           : #6d7fcc;
$white_color		: #FFFFFF;

$black_color		: #000000;
$black_light_color  : #383838;

$green_light_color	: green;
$green_dark_color	: green;

$blue_light_color	: #D78D02;
$blue_dark_color	: #D6A505;

$yellow_light_color	: #D78D02;
$yellow_dark_color	: #D6A505;

$orange_light_color	: #D78D02;
$orange_dark_color	: #D6A505;

$red_light_color	: #FF0000;
$red_dark_color		: red;

$gray_color			: #CCCCCC;
$gray_dark_color	: #999999;
$gray_light_color	: #F1F2F2;



