


@media only screen and (max-width: 600px) {

  .welcome_msg h1{
    font-size: 23px !important;
    padding-top: 10px;
  }

  .welcome_msg h2{
    font-size: 12px !important;
  }

}




@media only screen and (max-width: 600px) {

  .siam-dashboard-intro{
    font-size: 15px;
  }

}




