<div class="siam-dashboard-intro">
	<div class="row">
		<div class="col-md-6">
			<div class="siam-dashboard-intro-wm">
				<h2 class="siam-dashboard-intro-wm-title"> Bienvenue dans SIAM618 </h2>
				<h1 class="siam-dashboard-intro-wm-subtitle"> Tout commence ici. </h1>
			</div>
		</div>
    <div class="col-md-3">
        <img src="/assets/images/logo_cosumar.png" width="70%" style="z-index: 9999999" alt="">
    </div>
		<div class="col-md-3">
			<div class="weather-widget">
			  <div id="w-city" class="weather-widget-city"></div>
			  <div class="weather-widget-date">
			    <span id="w-day"></span>&nbsp;
			    <span id="w-date-hour"></span>
			  </div>
			  <div id="w-temp" class="weather-widget-temp"></div>
			</div>
		</div>
	</div>
	<div class="siam-dashboard-shortcuts" >
		<div class="siam-dashboard-shortcuts-item"   [appPermissionHidden]="['thirdParty.third-parties.store','thirdParty.third-parties.grid']" [routerLink]="shortcut.url"  *ngFor="let shortcut of shortcutsList">
			<div class="siam-dashboard-si-icon-wrapper">
				<div class="siam-dashboard-si-icon">
					<i class="{{shortcut.icon}}"></i>
				</div>
			</div>
			<div class="siam-dashboard-si-title">
				{{shortcut.title}}
			</div>
		</div>
	</div>
</div>

<div class="siam-dashboard-tiles"  >
	<div class="siam-dashboard-tiles-item"  [appPermissionHidden]="['agreement.contracts.grid']"  *ngFor="let tile of tilesList" [ngStyle]="{'background-color': tile.backgroundColor,'color': tile.textColor}">
		<div class="siam-dashboard-tiles-item-icon">
			<i class="{{ tile.icon }}"></i>
		</div>
		<div class="siam-dashboard-tiles-item-value">
			{{ tile.value }}
		</div>
		<div class="siam-dashboard-tiles-item-title">
			{{ tile.title }}
		</div>
    <div class="siam-dashboard-tiles-item-subtitle">
      {{ tile.subTitle }}
    </div>
	</div>
</div>
<!-- BEGIN: Subheader -->
<!--<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title">
        Tableau de bord
			</h3>
		</div>
	</div>
</div>-->
<!-- END: Subheader -->
<div class="m-content">

</div>
