<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="siam-page-header">
      <a class="siam-header-back-btn" routerLink="/index"><i class="fa fa-angle-left"></i> Tableau de bord</a>
      <h2>Avance et primes</h2>
    </div>
  </div>
</div>


<div class="m-content">
  <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height m-portlet--rounded ">
    <div class="m-portlet__body m-portlet__body--no-padding">
      <div class="m-portlet__head">
        <div class="m-portlet__head-tools">
          <div class="buttons">
            <dx-button
              icon="fa fa-check"
              style="font-weight: bold"
              [type]="'success'"
              text=" Recherche par carte"
              (onClick)="Scan()">
            </dx-button>
          </div>
        </div>
      </div>

      <dx-data-grid
        #proclist
        id="gridContainer"
        [dataSource]="preconisations"
        [columnHidingEnabled]="false"
        [allowColumnResizing]="true"
        [allowColumnReordering]="true"
        [columnAutoWidth]="true"
        [filterValue]="[]"
        [remoteOperations]="{ paging: false, sorting: false, filtering: false, searching: false}"
        [masterDetail]="{ enabled: false, template: 'detail' }"

        KeyExpr="id">

        <dxo-remote-operations
          [sorting]="false"
          [paging]="false"
          [filtering]="false">
        </dxo-remote-operations>


        <dxo-selection mode="multiple"></dxo-selection>
        <dxo-scrolling [showScrollbar]="'always'"></dxo-scrolling>

        <dxo-sorting mode="multiple"></dxo-sorting>

        <dxo-filter-row
          [visible]="true" [applyFilter]="'auto'"></dxo-filter-row>


        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-export [enabled]="true" fileName="intrants" [allowExportSelectedData]="true"></dxo-export>

        <dx-button width="90" text="'deleteButtonOptions.text'" type="success"></dx-button>

        <dxo-pager
          [allowedPageSizes]="[5, 8, 15, 30]"
          [showInfo]="true"
          [showNavigationButtons]="true"
          [showPageSizeSelector]="true"
          [visible]="true">
        </dxo-pager>
        <dxo-paging [pageSize]="10"></dxo-paging>

        <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>

        <dxo-search-panel [visible]="false"></dxo-search-panel>

        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>

        <dxi-column dataField="id" [width]="40" caption=""
                    [visible]="helper.permissionMethod(['preconization.interventions.show'])" [allowSorting]="false"
                    [allowFiltering]="false"
                    [allowSorting]="false" cellTemplate="consulterTemplate"></dxi-column>
        <dxi-column dataType="Number" sortOrder="desc" dataField="id" caption="Réf"></dxi-column>
        <dxi-column dataType="Date" dataField="date" caption="Date d'octroi"></dxi-column>
        <dxi-column  dataField="division" caption="Division"></dxi-column>
        <dxi-column dataField="cda" caption="CDA"></dxi-column>
        <dxi-column dataField="zone" caption="Zone"></dxi-column>
        <dxi-column dataField="secteur" caption="Secteur"></dxi-column>
        <dxi-column dataField="parcel" caption="Parcelle"></dxi-column>
        <dxi-column dataField="parcel" caption="Code ORMVA"></dxi-column>
        <dxi-column dataField="surface" caption="Superficie (ha)"></dxi-column>
        <dxi-column dataField="montant" caption="Montant" cellTemplate="montantTemplate"></dxi-column>
        <dxi-column dataField="full_name" caption="Nom d'agriculteur"></dxi-column>
        <dxi-column dataField="code" caption="Code agriculter"></dxi-column>
        <dxi-column dataField="cin" caption="C.I.N d'agriculter"></dxi-column>
        <dxi-column dataField="rib" caption="RIB d'agriculter"></dxi-column>
        <dxi-column dataField="state" [allowSorting]="false" caption="Etat" cellTemplate="statusTemplate"></dxi-column>


        <div *dxTemplate="let data of 'montantTemplate'">
          {{ data.value}} DH
        </div>

        <div *dxTemplate="let data of 'statusTemplate'">
      <span [ngClass]="helper.getStatusColor(data.value)">
               {{ helper.getStatusValue(data.value) }}
      </span>
        </div>

        <div *dxTemplate="let data of 'consulterTemplate'">
          <a routerLink="/preconisations-intrants/afficher/{{data.value}}" routerLinkActive="active"><i
            style="font-size: 150%; align-content: center; cursor: pointer; color: #000 !important;"
            class="fa fa-info-circle fa-5x"></i></a>
        </div>

      </dx-data-grid>


    </div>
  </div>
</div>


<div name="popup" id="popup" #popup>
  <dx-popup
    class="popup"
    [width]="580"
    [height]="400"
    [showTitle]="true"
    title="Confirmation "
    [dragEnabled]="false"
    (onShown)="SearchByRfid()"
    [closeOnOutsideClick]="true"
    [(visible)]="popupRfidVisible"
    (window:keypress)="doSomething($event)"
  >
    <div *dxTemplate="let data of 'content'">

      <div class="gilsser">
        <h1>GLISSER LA CARTE</h1>
        <p>Faire glisser la carte sur le lecteur de carte pour lancer la recherche</p>
        <div class="glisser-carte-agriculteur">
          <div class="credit-card">
            <div class="rfid-tripe"></div>
          </div>
          <div class="swiper-top"></div>
          <div class="swiper-bottom">
            <div class="light-indicator"></div>
          </div>
        </div>
      </div>

    </div>
  </dx-popup>

</div>


<input type="text" name="rfid" style="width: 0; height: 0;border: none;" #rfid>
<input class="rfid-input" type="text" name="focusout" style="width: 0; height: 0;border: none;" #focusout>










