<dx-data-grid
  id="gridContainer"
  [dataSource]="data"
  [columnHidingEnabled]="true"
  [allowColumnResizing]="false"
  [allowColumnReordering]="true"
  [columnAutoWidth]="true"
  [remoteOperations]="{ paging: true, sorting: true, filtering: true}"
  [masterDetail]="{ enabled: true, template: 'detail' }"
>

  <!--<dxo-state-storing [enabled]="true" type="localStorage" storageKey="storage"></dxo-state-storing>-->
  <!--<dx-button id="gridDeleteSelected"
             text="Delete Selected Records" i18n-text
             [height]="34"
             [width]="195"
             [useIcons]="true"
             [disabled]="selectedItems.length < 2"
             (onClick)="deleteRecords()">
  </dx-button>-->
  <dxo-remote-operations
    [sorting]="true"
    [paging]="true">
  </dxo-remote-operations>

  <dxo-scrolling [showScrollbar]="'always'"></dxo-scrolling>
  <dxo-editing
    mode="row"
    [useIcons]="true"
    [allowUpdating]="false"
    [allowDeleting]="false">
  </dxo-editing>
  <dxo-selection mode="none"></dxo-selection>

  <dxo-sorting mode="multiple"></dxo-sorting>
  <dxo-filter-row
    [visible]="true" [applyFilter]="true"></dxo-filter-row>

  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-export [enabled]="true" fileName="Parcels" [allowExportSelectedData]="true"></dxo-export>

  <dxo-pager
    [allowedPageSizes]="[5, 8, 15, 30]"
    [showInfo]="true"
    [showNavigationButtons]="true"
    [showPageSizeSelector]="true"
    [visible]="true">
  </dxo-pager>
  <dxo-paging [pageSize]="10"></dxo-paging>

  <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>

  <dxo-search-panel [visible]="false"></dxo-search-panel>

  <dxo-group-panel [visible]="true"></dxo-group-panel>
  <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>


  <dxi-column dataField="name" caption="Nom de la parcelle"></dxi-column>
  <dxi-column dataField="third_party_code" caption="Code Agrégé" cellTemplate="userTemplate" width="150px"></dxi-column>
  <dxi-column dataField="cin" caption="CIN"></dxi-column>
  <dxi-column dataField="full_name" caption="Nom complet" style="color: #6d7fcc; align-content: center; cursor: pointer" ></dxi-column>
  <dxi-column dataField="contract_code" caption="Réf. Contrat" cellTemplate="contractTemplate" width="150px"></dxi-column>
  <dxi-column dataField="application_date" caption="Date d'application" [visible]="false"></dxi-column>
  <dxi-column dataField="annuel_surface" caption="Superficie annuelle"></dxi-column>
  <dxi-column dataField="compaign_surface" caption="Superficie de la campagne"></dxi-column>
  <dxi-column dataField="tenure" caption="Mode faire-valoir"></dxi-column>
  <dxi-column dataField="status" caption="Etat" cellTemplate="contractStatusTemplate"></dxi-column>
  <dxi-column dataField="type" caption="Type d'agrégé" cellTemplate="typeTemplate"></dxi-column>
  <div *dxTemplate="let data of 'detail'">
    <dx-data-grid
      [dataSource]="data.data.parcels"
      [showBorders]="true"
      [columnAutoWidth]="true">
      <dxi-column dataField="cda" caption="CDA" sortOrder="desc"></dxi-column>
      <dxi-column dataField="zone" caption="Zone"></dxi-column>
      <dxi-column dataField="sector" caption="Secteur"></dxi-column>
      <dxi-column dataField="block" caption="Bloc"></dxi-column>
      <dxi-column dataField="code_ormva" caption="Code ORMVA"></dxi-column>
      <dxi-column dataField="registration_number" caption="Matricule"></dxi-column>
      <dxi-column dataField="annuel_surface" cellTemplate="cellTemplate2" caption="Superficie annuelle"></dxi-column>
      <dxi-column dataField="tenure" caption="Mode faire-valoir"></dxi-column>
      <div *dxTemplate="let data of 'cellTemplate2'">
        {{ data.value }} (ha)
      </div>
    </dx-data-grid>
  </div>
  <div *dxTemplate="let data of 'contractStatusTemplate'">
          <span [ngClass]="helper.getStatusColor(data.value)">
              {{ helper.getStatut(data.value) }}
          </span>
  </div>
  <div *dxTemplate="let data of 'typeTemplate'">
    {{ (data.value === 'natural') ? 'Logique' : 'Physique' }}
  </div>
  <div *dxTemplate="let data of 'contractTemplate'">
    <a style="color: #6d7fcc; align-content: center; cursor: pointer" (click)="helper.gotoShow('contrats', data.data.contract_id, router, toastr)">{{ data.data.contract_code }}</a>
  </div>
  <div *dxTemplate="let data of 'userTemplate'">
    <a class="siam-link" (click)="helper.gotoShow('tiers', data.data.third_party_id, router, toastr)">{{ data.data.third_party_code }}</a>
  </div>
</dx-data-grid>
