<div class="clr-row">
    <div class="clr-col-11 clr-align-self-start">
        <h1>Liste des mouvements</h1>
    </div>
    <div class="clr-col clr-align-self-end">
        <button type="button" type="button" class="btn btn-icon">
            <a [appPermissionHidden]="['distributionCenter.stocks.update']" class="siam-header-btn-new"
               routerLink="/mouvements/ajouter" title="Ajouter contrat">
                <clr-icon shape="add"></clr-icon>
            </a>
        </button>
    </div>
</div>
<hr>
<dx-data-grid
        id="gridContainer"
        [dataSource]="mouvements"
        showBorders="true"
        [columnHidingEnabled]="false"
        [allowColumnResizing]="false"
        [allowColumnReordering]="true"
        [columnAutoWidth]="true"
        [remoteOperations]="{ paging: true, sorting: true, filtering: true}"
        KeyExpr="id">

    <dxo-export [enabled]="true" fileName="magasin" [allowExportSelectedData]="true"></dxo-export>

    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="true"></dxo-header-filter>

    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-scrolling [showScrollbar]="'always'"></dxo-scrolling>
    <dxo-editing
            mode="popup"
            [useIcons]="true"
            [allowDeleting]="false"
            [allowUpdating]="false"
    >
    </dxo-editing>
    <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
    <dxo-selection mode="multiple"></dxo-selection>
    <dxo-header-filter [visible]="true"></dxo-header-filter>

    <dxo-pager
            [allowedPageSizes]="[5, 8, 15, 30]"
            [showInfo]="true"
            [showNavigationButtons]="true"
            [showPageSizeSelector]="true"
            [visible]="true">
    </dxo-pager>
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>

    <dxi-column dataField="id" [width]="40" caption="" [allowFiltering]="false"
                [visible]="helper.permissionMethod(['distributionCenter.stocks.update'])" [allowSorting]="false"
                cellTemplate="consulterTemplate"></dxi-column>
    <dxi-column dataField="id" caption="Référence" cellTemplate="bon_nbrTemplate"></dxi-column>
    <dxi-column dataField="date" format="dd-MM-yyyy" dataType="date" [allowFiltering]="true"
                caption="Date"></dxi-column>
    <dxi-column dataField="type" caption="Type" [allowFiltering]="true"
                [calculateGroupValue]="helper.groupedMouvementValue" cellTemplate="typeTemplate"></dxi-column>
    <dxi-column dataField="bon_number" caption="N° Bon de livraison fournisseur"
                cellTemplate="bon_nbrTemplate"></dxi-column>
    <dxi-column dataField="emetter" caption="Emetteur" [allowFiltering]="false" [allowSorting]="false"
                cellTemplate="emetterTemplate"></dxi-column>
    <dxi-column dataField="recepteur" caption="Récepteur" [allowFiltering]="false" [allowSorting]="false"
                cellTemplate="recepteurTemplate"></dxi-column>
    <dxi-column dataType="number" dataField="article_count" [allowFiltering]="false"
                caption="Nombre d'article"></dxi-column>

    <dxi-column dataField="state" caption="Etat" [allowFiltering]="false" cellTemplate="statusTemplate"></dxi-column>

    <div *dxTemplate="let data of 'statusTemplate'">
      <span [ngClass]="helper.getContractStatusClass(helper.getStatut(data.value))">
                  {{ helper.getStatut(data.value) }}
      </span>
    </div>

    <div *dxTemplate="let data of 'bon_nbrTemplate'" class="pull-left">
        # {{data.value}}
    </div>

    <div *dxTemplate="let data of 'consulterTemplate'">
        <a routerLink="/mouvements/afficher/{{data.value}}" routerLinkActive="active"><i
                style="font-size: 150%; align-content: center; cursor: pointer; color: #000 !important;"
                class="fa fa-info-circle fa-5x"></i></a>
    </div>

    <div *dxTemplate="let data of 'typeTemplate'">
        {{ helper.orderType(data.value).toUpperCase() }}
    </div>

    <div *dxTemplate="let data of 'emetterTemplate'">
        <a (click)="gotoShow(data)"><i style="font-size: 150%; align-content: center; color: #ac2925;"
                                       class="fa fa-chevron-up fa-5x"></i> &nbsp; {{data.value}}</a>
    </div>

    <div *dxTemplate="let data of 'recepteurTemplate'">
        <a (click)="gotoShow(data)"><i style="font-size: 150%; align-content: center;   color:  #0b9c8f;"
                                       class="fa fa-chevron-down fa-5x"></i> &nbsp; {{data.value}}</a>
    </div>

</dx-data-grid>
