<h1>Affectation des camions</h1>
<hr>
<dx-data-grid
        id="fieldStatesGrid"
        [dataSource]="affectations"
        [showBorders]="true"
        [columnHidingEnabled]="false"
        align="center"
        [allowColumnReordering]="true"
        [columnAutoWidth]="true"
        [remoteOperations]="{ paging: true, sorting: true, filtering: true}"
        noDataText="Aucune convocation disponible"
        [rowAlternationEnabled]="true"
        KeyExpr="id">

  <dxi-column [allowFiltering]="false" [allowSorting]="false" [allowSearch]="false" caption="Rotation"
              [alignment]="'center'">

    <dxi-column [allowHeaderFiltering]="true" [alignment]="'center'" dataType="number" dataField="ir_id"
                caption="Réf"
                [visible]="true"></dxi-column>
    <dxi-column [alignment]="'center'" dataType="Text" dataField="cda_name" caption="CDA"></dxi-column>
    <dxi-column [alignment]="'center'" dataType="Text" dataField="z_name" caption="Zone"></dxi-column>
    <dxi-column [alignment]="'center'" dataType="Text" dataField="p_name" caption="Parcelle"></dxi-column>
    <dxi-column [alignment]="'center'" dataType="Text" dataField="p_harvest_order" caption="Ordre"></dxi-column>
    <dxi-column [alignment]="'center'" dataType="Text" dataField="tp_full_name" [visible]="false"
                caption="Nom (Agrègè)"></dxi-column>
    <dxi-column [alignment]="'center'" datatype="Text" dataField="tp_cin"
                caption="CIN (Agrègè)"></dxi-column>
    <dxi-column [alignment]="'center'" dataType="Text" dataField="p_annuel_surface" [visible]="false"
                caption="Superficie annuelle (Ha)"></dxi-column>
    <dxi-column [alignment]="'center'" dataType="Text" dataField="sup_semi" [visible]="false"
                caption="Superficie semis (Ha)"></dxi-column>
    <dxi-column [alignment]="'center'" dataType="Text" dataField="ir_sup_con" [visible]="false"
                caption="Superficie convoquée (Ha)"></dxi-column>
    <dxi-column [alignment]="'center'" dataType="Text" dataField="irt_name" [visible]="false"
                caption="Type"></dxi-column>
    <dxi-column [alignment]="'center'" dataType="date" dataField="ir_date_con" [visible]="false"
                caption="Date de convocation"></dxi-column>
    <dxi-column [alignment]="'center'" dataType="number" dataField="ir_daily_quota"
                caption="Tonnage/Jour"></dxi-column>

    <dxi-column [alignment]="'center'" datatype="date" dataField="ir_start_date" [visible]="false"
                caption="Date de debut d'arrachage"></dxi-column>

    <dxi-column [alignment]="'center'" datatype="date" dataField="ir_end_date" [visible]="false"
                caption="Date  de fin d'arrachage"></dxi-column>
  </dxi-column>

  <dxi-column [allowFiltering]="false" [allowSorting]="false" [allowSearch]="false" caption="Camion"
              [alignment]="'center'">
    <dxi-column dataField="v_ridelle_code" caption="Code Ridelle"></dxi-column>
    <dxi-column dataField="v_immatricule_number" caption="Immatricule"></dxi-column>
    <dxi-column dataField="v_ptc" caption="PTC"></dxi-column>
  </dxi-column>
  <dxi-column dataField="ro_state" caption="Etat" cellTemplate="stateTemplate"></dxi-column>

  <dxo-selection mode="multiple"></dxo-selection>
  <dxo-scrolling mode="standard" [showScrollbar]="'always'"></dxo-scrolling>
  <dxo-sorting mode="multiple"></dxo-sorting>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-filter-row
          [visible]="true" [applyFilter]="true"></dxo-filter-row>
  <dxo-pager
          [allowedPageSizes]="[5, 8, 15, 30]"
          [showInfo]="true"
          [showNavigationButtons]="true"
          [showPageSizeSelector]="true"
          [visible]="true">
  </dxo-pager>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>
  <dxo-search-panel [visible]="true"></dxo-search-panel>
  <dxo-group-panel [visible]="true"
                   emptyPanelText="Glissez-déposez ici la colonne par laquelle vous souhaitez regrouper les données."></dxo-group-panel>
  <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
  <dxo-export [enabled]="true" fileName="convocations_arrachage" [allowExportSelectedData]="true"></dxo-export>
  <div *dxTemplate="let data of 'stateTemplate'">
          <span [ngClass]="helper.getContractStatusClass(getStatusColor(data.value))">
              {{ getStatut(data.value) }}
          </span>

  </div>

</dx-data-grid>
<div style="display:none;">
  <div id="t2">
    <div id="receipt-wrapper">
      <div class="receipt-block">
        <div class="receipt-head">
          <div>BON DE CHARGEMENT</div>
        </div>
        <div style="text-align : center;  margin-bottom: 5px;">
          <div>Usine : 34</div>
        </div>
        <div style="text-align : center; margin-bottom: 5px;">
          <div>N° {{ this.selectedRow.id }}</div>
        </div>
        <div style="text-align : center;">
          <img [src]="'http://api.attaissir.graviton.ma/codebare/'+this.selectedRow.id"
               style="width: 120px; height: 50px;"/>
        </div>
        <div class="receipt-info">
          <div class="receipt-item">
            <div class="receipt-item-lbl">CDA</div>
            <div class="receipt-item-price">{{this.selectedRow.cda}}</div>
          </div>
          <div class="receipt-item">
            <div class="receipt-item-lbl">ZONE</div>
            <div class="receipt-item-price">{{this.selectedRow.zone }}</div>
          </div>
          <div class="receipt-item">
            <div class="receipt-item-lbl">PARCELLE</div>
            <div class="receipt-item-price">{{this.selectedRow.parcel_name}}</div>
          </div>
        </div>
        <div class="receipt-info">
          <div style="text-align : right;  margin-bottom: 5px;">
            <div>La Date : {{this.selectedRow.date }}</div>
          </div>
          <div style="text-align : right; margin-bottom: 10px;">
            <div>{{this.selectedRow.ca_desc}}</div>
          </div>
          <div class="receipt-items" style="text-align : center; ">
            <div style="text-align : center !important; ">
              <div class="receipt-item-lbl" style="text-align : center; ">Ridelle</div>
            </div>
            <div style="text-align : center !important; ">
              <div class="receipt-item-price" style="text-align : center; ">{{this.selectedRow.ridelle_code}}</div>
            </div>
          </div>
          <div class="receipt-items" style="text-align : center; ">
            <div style="text-align : center !important; ">
              <div class="receipt-item-lbl" style="text-align : center; ">Numero Mineralogique</div>
            </div>
            <div style="text-align : center !important; ">
              <div class="receipt-item-price" style="text-align : center; "> {{this.selectedRow.immatricule_number}}
              </div>
            </div>
          </div>
        </div>
        <div class="receipt-info">
          <div class="signature">
            <div>** **</div>
            <div>* *</div>
            <div>** MERCI **</div>
            <div>*****</div>
            <div>***</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
