<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="siam-page-header">
      <a class="siam-header-back-btn" routerLink="/"><i class="fa fa-angle-left"></i> Tableau de bord</a>
      <h2>Affectation des camions</h2>
    </div>
  </div>
</div>

<div class="m-content">
  <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height m-portlet--rounded ">
    <div class="m-portlet__body m-portlet__body--no-padding">
      <dx-data-grid
        id="fieldStatesGrid"
        [dataSource]="affectations"
        [columnHidingEnabled]="false"
        align="center"
        [allowColumnReordering]="true"
        [columnAutoWidth]="true"
        [remoteOperations]="{ paging: true, sorting: true, filtering: true}"
        noDataText="Aucune affectation n'est disponible"
        [rowAlternationEnabled]="true"
        KeyExpr="id">

        <dxi-column [allowHeaderFiltering]="true" [alignment]="'center'" cellTemplate="printTemplate" dataType="text" dataField="id" caption="Imprimer" [visible]="true"></dxi-column>
        <dxi-column [allowHeaderFiltering]="true" [alignment]="'center'" dataType="Number" dataField="id" caption="Réf" [visible]="true"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="Text" dataField="cda" caption="CDA"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="Text" dataField="zone" caption="Zone"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="Text" dataField="parcel_name" caption="Parcelle"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="Text" dataField="surface_work" caption="Superficie (Ha)"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="date" dataField="date"
                    caption="Date de convocation"></dxi-column>
        <dxi-column [alignment]="'center'" dataType="Text"  dataField="tp_full_name"
                    caption="Nom (Agrègè)"></dxi-column>
        <dxi-column [alignment]="'center'" datatype="Text" dataField="tp_cin"
                    caption="CIN (Agrègè)"></dxi-column>
        <dxi-column [alignment]="'center'" datatype="Text" dataField="ridelle_code"
                    caption="Code ridelle"></dxi-column>
        <dxi-column [alignment]="'center'" datatype="Text" dataField="vehicule_type"
                    caption="Type de vehicule"></dxi-column>
        <dxi-column [alignment]="'center'" datatype="Text" dataField="taille"
                    caption="Taille"></dxi-column>
        <dxi-column [alignment]="'center'" datatype="Text" dataField="marque"
                    caption="Marque"></dxi-column>
        <dxi-column [alignment]="'center'" datatype="Text" dataField="immatricule_number"
                    caption="Immatricule"></dxi-column>
        <dxo-selection mode="multiple"></dxo-selection>
        <dxo-scrolling mode="standard" [showScrollbar]="'always'"></dxo-scrolling>
        <dxo-sorting mode="multiple"></dxo-sorting>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-filter-row
          [visible]="true" [applyFilter]="true"></dxo-filter-row>
        <dxo-pager
          [allowedPageSizes]="[5, 8, 15, 30]"
          [showInfo]="true"
          [showNavigationButtons]="true"
          [showPageSizeSelector]="true"
          [visible]="true">
        </dxo-pager>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>
        <dxo-search-panel [visible]="true"></dxo-search-panel>
        <dxo-group-panel [visible]="true"
                         emptyPanelText="Glissez-déposez ici la colonne par laquelle vous souhaitez regrouper les données."></dxo-group-panel>
        <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
        <dxo-export [enabled]="true" fileName="affectation_camions" [allowExportSelectedData]="true"></dxo-export>
        <div *dxTemplate="let data of 'printTemplate'">
          <dx-button
            class="send"
            icon="fa fa-cloud-download"
            text="Imprimer"
            (onClick)="printBn(data.value)">
          </dx-button>
        </div>
      </dx-data-grid>
    </div>
  </div>
</div>
<div style="display:none;">
  <div id="t2">
    <div id="receipt-wrapper"   >
      <div class="receipt-block">
        <div class="receipt-head">
          <div>BON DE CHARGEMENT</div>
        </div>
        <div style="text-align : center;  margin-bottom: 5px;">
          <div>Usine : 34</div>
        </div>
        <div style="text-align : center; margin-bottom: 5px;">
          <div>N° {{ this.selectedRow.id }}</div>
        </div>
        <div style="text-align : center;">
          <img [src]="'http://api.attaissir.graviton.ma/codebare/'+this.selectedRow.id"  style="width: 120px; height: 50px;"/>
        </div>
        <div class="receipt-info">
          <div class="receipt-item">
            <div class="receipt-item-lbl">CDA</div>
            <div class="receipt-item-price">{{this.selectedRow.cda}}</div>
          </div>
          <div class="receipt-item">
            <div class="receipt-item-lbl">ZONE</div>
            <div class="receipt-item-price">{{this.selectedRow.zone }}</div>
          </div>
          <div class="receipt-item">
            <div class="receipt-item-lbl">PARCELLE</div>
            <div class="receipt-item-price">{{this.selectedRow.parcel_name}}</div>
          </div>
        </div>
        <div class="receipt-info">
          <div style="text-align : right;  margin-bottom: 5px;">
            <div>La Date : {{this.selectedRow.date }}</div>
          </div>
          <div style="text-align : right; margin-bottom: 10px;">
            <div>{{this.selectedRow.ca_desc}}</div>
          </div>
          <div class="receipt-items"  style="text-align : center; ">
            <div  style="text-align : center !important; ">
              <div class="receipt-item-lbl" style="text-align : center; ">Ridelle</div>
            </div>
            <div style="text-align : center !important; ">
              <div class="receipt-item-price" style="text-align : center; ">{{this.selectedRow.ridelle_code}}</div>
            </div>
          </div>
          <div class="receipt-items"  style="text-align : center; ">
            <div style="text-align : center !important; ">
              <div class="receipt-item-lbl" style="text-align : center; ">Numero Mineralogique</div>
            </div>
            <div style="text-align : center !important; ">
              <div class="receipt-item-price" style="text-align : center; "> {{this.selectedRow.immatricule_number}}</div>
            </div>
          </div>
        </div>
        <div class="receipt-info">
          <div class="signature">
            <div>**  **</div>
            <div>*  *</div>
            <div>** MERCI **</div>
            <div>*****</div>
            <div>***</div>
          </div>
        </div>
      </div>
    </div>
  </div>
