<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="siam-page-header">
      <a class="siam-header-back-btn" href="/index"><i class="fa fa-angle-left"></i> Tableau de bord</a>
      <h2>Modifier un conseille</h2>
    </div>
  </div>
</div>
<div class="m-content">
  <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height m-portlet--rounded ">
    <div class="m-portlet__body">
     <!-- <app-conseille-form [isEdit]="false" [readOnly]="false" [conseille]="conseille" (submit)="onFormSubmit($event)"></app-conseille-form> !-->

    </div>
  </div>
</div>
