
<form>
  <dx-form id="form"  [formData]="conseille">


    <dxi-item itemType="group"  caption="Informations Générales" [colCount]="2" i18n-caption>
      <dxi-item itemType="group">
        <dxi-item dataField="name">
          <dxo-label text="Nom" i18n-text> </dxo-label>

          <dxi-validation-rule type="required" message="Le champ région est obligatoire"
                               i18n-message></dxi-validation-rule>
        </dxi-item>


        <dxi-item dataField="city">
          <dxo-label text="Ville" i18n-text> </dxo-label>
          <dxi-validation-rule type="required" message="Le champ région est obligatoire"
                               i18n-message></dxi-validation-rule>
        </dxi-item>

        <dxi-item dataField="postal_code">
          <dxo-label text="Code postal" i18n-text> </dxo-label>
        </dxi-item>

        <dxi-item dataField="convention_ref">
          <dxo-label text="Convention ref" i18n-text> </dxo-label>
        </dxi-item>




      </dxi-item>
      <dxi-item itemType="group">


        <dxi-item dataField="email">
          <dxo-label text="Email" i18n-text> </dxo-label>
          <dxi-validation-rule type="required" message="Le champ région est obligatoire"
                               i18n-message></dxi-validation-rule>
        </dxi-item>

        <dxi-item dataField="adress">
          <dxo-label text="Adresse" i18n-text> </dxo-label>
        </dxi-item>


        <dxi-item dataField="phone">
          <dxo-label text="Téléphone" i18n-text> </dxo-label>
          <dxi-validation-rule type="required" message="Le champ région est obligatoire"
                               i18n-message></dxi-validation-rule>
        </dxi-item>




        <dxi-item dataField="tier" editorType="dxSelectBox" [editorOptions]="tiers">
          <dxo-label
            text="Tiers" i18n-text>
          </dxo-label>
         </dxi-item>


        <dxi-item dataField="cda" editorType="dxSelectBox" [editorOptions]="cda">
          <dxo-label
            text="Cda" i18n-text>
          </dxo-label>
          <dxi-validation-rule type="required" message="Le champ région est obligatoire"
                               i18n-message></dxi-validation-rule>
        </dxi-item>


      </dxi-item>

    </dxi-item>

    <hr>

    <dxi-item
      itemType="button"
      alignment="left"
      [buttonOptions]="buttonOptions">
    </dxi-item>

  </dx-form>
</form>
