/* You can add global styles to this file, and also import other style files */
@import "assets/vendors/include";
@import "assets/vendors/mixins";
@import "assets/vendors/functions";

/* Graviton Custom style */

/* aside */
.m-aside-left.m-aside-left--skin-dark {
    background-color: #262F3D;
}
.m-aside-menu.m-aside-menu--skin-dark {
    background-color: #262F3D;
}
.m-brand {
    background: #262F3D;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--open>.m-menu__heading, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--open>.m-menu__link {
    background-color: transparent;
}
.m-aside-menu .m-menu__nav .m-menu__item.m-menu__item--open>.m-menu__submenu {
    background-color: #19212b;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--open {
    background-color: #19212b;
}
.m-aside-menu .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item>.m-menu__heading, .m-aside-menu .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item>.m-menu__link {
    height: 35px;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active>.m-menu__heading, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active>.m-menu__link {
    background-color: transparent;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover>.m-menu__heading, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover>.m-menu__link {
    background-color: transparent;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active>.m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active>.m-menu__link .m-menu__link-text {
    color: #fff;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active>.m-menu__heading .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active>.m-menu__link .m-menu__link-icon {
    color: #fff;
}
.m-page--fluid .m-header, .m-page--wide .m-header {
    background-color: #ffffff;
}
.m-content--skin-light2 .m-body {
    background-color: #ECEFF1;
}
.m-aside-menu .m-menu__nav>.m-menu__item {
    border-bottom:none;
}
.m-aside-menu .m-menu__nav > .m-menu__item:after {
    content: '';
    height: 1px;
    background-color: #fff;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    background: #40454c;
    background: -moz-linear-gradient(left, #ffffff0d 0%, #ffffff00 100%);
    background: -webkit-linear-gradient(left, #ffffff0d 0%, #ffffff00 100%);
    background: linear-gradient(to right, #ffffff0d 0%, #ffffff00 100%);
    background: linear-gradient(to right, #ffffff0d 0%, #ffffff00 100%);
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover>.m-menu__heading, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover>.m-menu__link {
    background-color: rgba(255,255,255,.08);
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-text {
    color: rgba(255,255,255,.8);
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--open>.m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--open>.m-menu__link .m-menu__link-text {
    color: rgba(255,255,255,.8);
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__heading .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-icon {
    color: rgba(255,255,255,.4);
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--open>.m-menu__heading .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--open>.m-menu__link .m-menu__link-icon {
    color: rgba(255,255,255,.4);
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--open>.m-menu__heading .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--open>.m-menu__link .m-menu__link-icon {
    display:none;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--open>.m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--open>.m-menu__link .m-menu__link-text {
    padding-top:12px;
}

.m-aside-menu .m-menu__nav>.m-menu__item>.m-menu__heading .m-menu__link-text, .m-aside-menu .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-text {
    text-transform: uppercase;
    font-weight: 500;
}
.m-aside-menu .m-menu__nav>.m-menu__item.m-menu__item--wd>.m-menu__heading .m-menu__link-text, .m-aside-menu .m-menu__nav>.m-menu__item.m-menu__item--wd>.m-menu__link .m-menu__link-text {
    display:inline-block;
    font-size:14px;
}
.m-aside-menu .m-menu__nav>.m-menu__item.m-menu__item--wd>.m-menu__heading .m-menu__link-description, .m-aside-menu .m-menu__nav>.m-menu__item.m-menu__item--wd>.m-menu__link .m-menu__link-description {
     font-size: 11px;
    display: block;
    padding: 0;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    line-height: 16px;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    text-transform: capitalize;
    white-space: nowrap;
}
.m-menu__link-icon {
   display:none; 
}

.m-aside-menu .m-menu__nav>.m-menu__item>.m-menu__link {
        padding: 16px 30px;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover>.m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover>.m-menu__link .m-menu__link-text {
    color: #fff;
}
.m-aside-menu .m-menu__nav > .m-menu__item.m-menu__item--open > .m-menu__link .m-menu__link-description {
    display:none;
}
.m-aside-menu .m-menu__nav>.m-menu__item>.m-menu__submenu .m-menu__subnav>.m-menu__item>.m-menu__link {
    padding-left: 30px;
}
.m-aside-menu .m-menu__nav .m-menu__subnav {
    padding-bottom: 20px;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item>.m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item>.m-menu__link .m-menu__link-text {
    color: rgba(255,255,255,.7);
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item>.m-menu__heading .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item>.m-menu__link .m-menu__link-icon {
    color: rgba(255,255,255,.7);
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover {
    background-color:rgba(255,255,255,.08);
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover>.m-menu__heading .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover>.m-menu__link .m-menu__link-icon {
    color: rgba(255,255,255,.7);
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover>.m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover>.m-menu__link .m-menu__link-text {
    color: rgba(255,255,255,.7);
}
.m-topbar .m-topbar__nav.m-nav>.m-nav__item.m-dropdown--open, .m-topbar .m-topbar__nav.m-nav>.m-nav__item:hover {
    background-color: #f3f3f3;
}
.m-aside-left-fixed .m-body .m-wrapper {
    margin-left: 255px;
}
.m-aside-left-fixed .m-aside-left {
    position: fixed;
    top:0;
}


.m-aside-left--minimize.m-aside-left-fixed .m-body .m-wrapper {
    margin-left: 80px;
}
.m-aside-left-fixed .m-header {
    left:255px;
}
.m-aside-left--minimize.m-aside-left-fixed .m-header {
    left:80px;
}
body.m-content--skin-light2 {
    background-color: #eceff1;
}
.m-footer {
    background: transparent;
    box-shadow: none;
}
.m-footer .m-container {
    border-top: 1px solid #dae1e6;
    padding-top: 10px;
}
.m-portlet {
    border: 1px solid #d9dde0;
    box-shadow: 0 1px 3px 1px rgba(69,65,78,.08);
    background-color: #fff;
}
.m-portlet.m-portlet--bordered-semi .m-portlet__body {
    padding-top: 0;
}
/* dx custom style */
.dx-datagrid-pager {
    border-top: 1px solid #e8eaeb;
    background-color: #f7f7f7;
    padding: 20px;
}

.dx-datagrid-header-panel {
    border-bottom: 1px solid #e8eaeb;
    padding: 20px;
    background-color: #f7f7f7;
}
.dx-toolbar {
    background-color:transparent;
    color: #333;
    padding: 0;
    overflow: visible;
}
.dx-datagrid-group-panel {
    margin-top: 7px;
}
.dx-datagrid-headers {
    border-bottom: none;
    background-color: #f3f3f3;
}
.dx-editor-cell .dx-texteditor {
    background: transparent;
}
.dx-editor-cell .dx-texteditor .dx-texteditor-input {
    background: transparent;
}
.dx-datagrid-rowsview .dx-row:nth-child(even) {
    background-color:#f7f7f7;
}
.dx-pager .dx-pages .dx-selection, .dx-pager .dx-page-sizes .dx-selection {
    border-radius: 6px;
    padding: 3px 9px 3px 9px;
}

.dx-texteditor-input {
    -webkit-box-shadow: inset 0 1px 0 0 rgba(63,63,68,0.05);
    box-shadow: inset 0 1px 0 0 rgba(63,63,68,0.05);
}
.dx-texteditor {
    border: 1px solid #c4cdd5;
    border-radius: 3px;
}
.dx-field-item-label-text {
    color: #90959a;
    font-weight: 400;
    font-size: 14px;
}
.dx-field-item-label-location-top {
    margin-bottom: 0.4rem;
}
.dx-layout-manager .dx-field-item:not(.dx-first-row) {
    padding-top: 15px;
}
.dx-form-group-with-caption .dx-form-group-content {
    padding-bottom: 0;
}
.dx-checkbox-icon {
    border-radius: 4px;
}
.dx-checkbox-indeterminate .dx-checkbox-icon:before {
    border-radius: 3px;
}
.dx-switch-container {
    padding: 2px 4px;
    border-radius: 4px;
    height: 28px;
}
.dx-switch {
    width: auto;
    height: 28px;
}
.dx-form-group-with-caption > .dx-form-group-content {
    border-top:none;
}
.m-portlet .dx-form-group-caption {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
        background-color: #f3f3f3;
    margin: 0px -29px 15px;
    padding-left: 29px;
    padding-right: 29px;
}


/* Main style */
a {
    color: #5867dd;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
body {
    font-family: 'Roboto', sans-serif;
}

/* page header */
.m-header--fixed .m-header {
    box-shadow: 1px 0 3px rgba(0,0,0,.30);
}
.siam-page-header {
    margin-bottom: 0px;
    width: 100%;
}
.siam-page-header h2 {
    margin: 0;

    font-weight: 600;
    display: inline-block;
    color: #3c3c3c;
}
.siam-page-header .siam-header-btn-new {
    font-size: 20px;
    position: absolute;
    z-index: 20;
    right: 0;
    margin: 26px 60px 0;
    transition: background-color 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.2s ease-in-out;
    transition: background-color 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), transform 0.2s ease-in-out;
    transition: background-color 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    background-color: #27303e;
    border-radius: 50%;
    padding: 11px;
    width: 50px;
    height: 50px;
    text-align: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.28);
    color: #fff;
}
.siam-page-header .siam-header-btn-new:hover {
    -webkit-transform: scale(1.08);
    -ms-transform: scale(1.08);
    transform: scale(1.08);
}
.siam-page-header .siam-header-btn-new i {
    font-size: 20px;
}
.siam-page-header .siam-header-back-btn {
    font-size: 14px;
    color: #637381;
    margin-bottom: 8px;
    display: table;
    font-weight:bold;
    text-decoration: none;
}
.siam-page-header .siam-header-back-btn:hover {
    color: #363f46;
}
.siam-page-header .siam-header-back-btn i {
    margin-right: 6px;
    font-size: 16px;
    font-weight: bold;
}
.siam-user-pic-wrapper {
        display: table-cell;
    vertical-align:middle;
}
.siam-user-pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    float: left;
    text-align: center;
    background-color: #737679;
        margin-right: 8px;
}
.siam-user-pic span{
  display: inline-block;
  width: 2ch;
  overflow: hidden;
  white-space: nowrap;
  margin: 7px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color:#fff;
}
.m-topbar .m-topbar__nav.m-nav > .m-nav__item > .m-nav__link .m-topbar__username {
    color: #67696d;
    font-size: 15px;
    text-transform: capitalize;
}
/* Wizard style */
aw-wizard-navigation-bar.horizontal {
    background-color:#F2F3F5;
    margin-bottom:30px;
    margin:0 -29px 30px;
    padding:15px;
}
aw-wizard-navigation-bar.horizontal ul.steps-indicator li:after {
    background-color: transparent !important;
    font-size: 30px;
    color: inherit !important;
}
aw-wizard-navigation-bar.horizontal ul.steps-indicator li div a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400 !important;
    text-transform: capitalize !important;
}
aw-wizard-navigation-bar.horizontal ul.steps-indicator li div a {
    color: inherit !important;
}
aw-wizard-navigation-bar.horizontal ul.steps-indicator li.current:after {
    color: inherit !important;
}
aw-wizard-navigation-bar.horizontal ul.steps-indicator li.current a {
    color: #000 !important;
}
aw-wizard-navigation-bar.horizontal ul.steps-indicator li {
    color: #b5b5b5;
}
aw-wizard-navigation-bar.horizontal ul.steps-indicator li.done {
    color:#6cb564;
}
aw-wizard-navigation-bar.horizontal ul.steps-indicator li.current {
    color:#000;
}
/* empty page*/
.siam-empty-page  {
	text-align:center;
	position:relative;
	display: table;
	height: 300px;
	width: 80%;
	margin: 90px auto;
}
.siam-empty-page img {
	margin-left: auto;
	margin-right: auto;
	height: 140px;
}
.siam-empty-page .siam-empty-page-content {
	position:relative;
	display: table-cell;
	vertical-align: middle;
}
.siam-empty-page .siam-empty-page-content h2 {
    font-weight: 400;
    margin-top: 32px;
    color: #3A4253;
    margin-bottom: 18px;
}
.siam-empty-page .siam-empty-page-content p {
	margin-bottom: 30px;
	font-size: 16px;
	color: #596377;
	font-weight: 300;
}
/* Buttons */
/* Buttons */
.btn {
    display: inline-block;
    padding: 7px 15px;
    padding-top:7px;
    margin-bottom: 0;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 20px;
    color: #5e5e5e;
    text-transform:uppercase;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #d1dade;
    -webkit-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-border-radius: 3px;
    /* border: none; */
    text-shadow: none;
    box-shadow:none;
    transition: all 0.12s linear 0s !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9fafb));
    background: linear-gradient(to bottom, #fff, #f9fafb);
    border: 1px solid #c4cdd5;
    -webkit-box-shadow: 0 1px 0 0 rgba(22,29,37,0.05);
    box-shadow: 0 1px 0 0 rgba(22,29,37,0.05) !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
}
.btn:focus{
	outline:none;
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    background: linear-gradient(to bottom, #fff, #f5f5f5);
    border: 1px solid #b8c0c7;
    color: #5e5e5e;
}
.btn-cons{	
	margin-right: 5px;
	min-width: 120px;
	margin-bottom: 8px;
}
.btn-social{
	font-size: 20px;
    margin: 10px;
	
}
.btn-social:hover, .btn-social:focus, .btn-social:active, .btn-social.active, .btn-social.disabled, .btn-social[disabled] {
	color:#2d8ebf;
	text-decoration:none;
}
.btn-primary {
	color: #5e5e5e !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    color: #5e5e5e !important;
    border: 1px solid #c4cdd5 !important;
}
.btn-success {
    color: #5e5e5e;
    background: linear-gradient(to bottom, #34bfa3, #4aab98);
    border: 1px solid #368676;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
background: linear-gradient(to bottom, #34bfa3, #439a89);
    border: 1px solid #2e7164;
}
.btn-info{
    color: #fff;
    background-color: #365e8a;
    background: linear-gradient(to bottom, #567ba2, #4c6a8a);
    border: 1px solid #365e8a;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    color: #fff;
    background-color: #365e8a;
background: linear-gradient(to bottom, #567ba2, #435e7b);
    border: 1px solid #2c4d71;
}
.btn-warning{
    color:#fff !important;
 	background: -webkit-gradient(linear, left top, left bottom, from(#f17329), to(#e67d3d));
 	background: linear-gradient(to bottom, #f57226, #dc7534);
 	border-color: #b75b23;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
    color:#fff !important;
 	background: -webkit-gradient(linear, left top, left bottom, from(#f17329), to(#e67d3d));
 	background: linear-gradient(to bottom, #f57226, #dc7534);
 	border-color: #b75b23;
}

.btn-danger{
	color: #fff;
    background-color: #f35958;
    border: 1px solid #b54342;
    background: linear-gradient(to bottom, #f35958, #e05150);
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
    background-color: #f35958;
    border: 1px solid #963938;
    background: linear-gradient(to bottom, #f35958, #ce4e4d);
}

.btn-danger-dark{
	color: #fff;
    background-color: #b94141;
}
.btn-danger-dark:hover, .btn-danger-dark:focus, .btn-danger-dark:active, .btn-danger-dark.active, .btn-danger-dark.disabled, .btn-danger-dark[disabled] {
    background-color: #e94847;
	color: #fff;
}
.btn-dark{
	color: #fff;
    background-color: #333a49;
}
.btn-white{
	color: #5e5e5e;
    background-color: #fff;
	border:1px solid #e5e9ec;
}
.btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white.active, .btn-white.disabled, .btn-white[disabled] {
    background-color: #fbfcfd;
	border:1px solid #b4b9be;
}
.btn-link{
	color: #5e5e5e;
    background-color: transparent;
	border:none;
}
.btn-large {
    padding: 11px 19px;
    font-size: 13px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.btn-link:hover, .btn-link:focus, .btn-link:active, .btn-link.active, .btn-link.disabled, .btn-link[disabled] {
    background-color: transparent;
}
.btn-large [class^="icon-"], .btn-large [class*=" icon-"] {
    margin-top: 4px;
}
.btn-small {
    padding:3px 12px;
    font-size: 11.9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.btn-small [class^="icon-"], .btn-small [class*=" icon-"] {
    margin-top: 0;
}
.btn-mini [class^="icon-"], .btn-mini [class*=" icon-"] {
    margin-top: -1px;
}
.btn-mini {
    padding:2px 9px;
    font-size: 10.5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.btn-group.open .btn.dropdown-toggle {
    background-color: #e6e6e6;
}
.btn-group.open .btn-primary.dropdown-toggle {
    background-color: #0b9c8f;
}
.btn-group.open .btn-warning.dropdown-toggle {
    background-color: #fbc01e;
}
.btn-group.open .btn-danger.dropdown-toggle {
    background-color: #e94847;
}
.btn-group.open .btn-success.dropdown-toggle {
    background-color: #0090d9;
}
.btn-group.open .btn-info.dropdown-toggle {
    background-color: #152639;
}
.btn-group.open .btn-inverse.dropdown-toggle {
    background-color: #222;
}

.btn-group.open .btn-white.dropdown-toggle {
    background-color: #fbfcfd;
}
.btn-group > .btn + .dropdown-toggle{
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
	border-left:1px #f7f7f7 solid;
}
.btn-block + .btn-block {
	margin-top: 8px;
}
.btn .caret{
	margin-left: 3px;
}
.btn .caret.single{
	margin-left: 0px;
}
.btn-group > .dropdown-menu{
	font-size:13px;
}
.btn-group > .dropdown-menu li{
	 padding-left: 0px;
}
/* */
.left {
    background: transparent !important;
}
.m-portlet .dx-list-search.dx-textbox.dx-texteditor.dx-searchbox.dx-show-clear-button.dx-widget.dx-texteditor-empty {
    border:none;
    border-radius: 0;
    background-color:#CCC;
}

.m-portlet .dx-list input.dx-texteditor-input {
    border-radius: 3px 3px 0 0 !important;
    background-color: #f2f3f5;
    box-shadow: none !important;
    padding: 16px;
        padding-left: 34px;
}
.dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-state-focused.dx-list-item-selected {
    background-color: #27303e;
    color: #fff;
}
.left .list .third {
    float: none !important;
}
.left .list .third .first_name b {
    float: right;
        color: #6f757d;
}
.siam-table-fullwidth-portlet {
    margin:auto -29px;
}
/* Quick search - Header*/

.siam-search-form-header {
    display: table;
    width: auto;
    float: left;
}
.siam-search-form-header .search-form {
    padding:16px;
}
.siam-search-form-header .search-form input {
    border: none;
    float: left;
    display: block;
    width: 325px;
    margin-top: 2px;
}
.siam-search-form-header .search-form i {
float: left;
    display: block;
    width: 22px;
    color: #b3b3b3;
    padding: 6px;
}


.siam-search-form-header .search-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b3b3b3;
  font-size:15px;
}
.siam-search-form-header .search-form input::-moz-placeholder { /* Firefox 19+ */
  color: #b3b3b3;
  font-size:15px;
}
.siam-search-form-header .search-form input:-ms-input-placeholder { /* IE 10+ */
  color: #b3b3b3;
  font-size:15px;
}
.siam-search-form-header .search-form input:-moz-placeholder { /* Firefox 18- */
  color: #b3b3b3;
  font-size:15px;
}
.m-link {
    color: #27303e;
}
.m-menu__item.m-menu__item-disabled {
    opacity:0.4;
}