input:-moz-read-only { /* For Firefox */
  font-weight: bold;
  border: none;
}

input:read-only {
  font-weight: bold;
  border: none;
}
.custom3 {
  padding-top:2vh;
  padding-left:2vh;
}

.right-divider {
  border-bottom-right-radius: 10px;
  border-right: groove rgba(51, 51, 53, 0.65);
}
