<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="siam-page-header">
      <a class="siam-header-back-btn" routerLink="/"><i class="fa fa-angle-left"></i> Tableau de bord</a>
      <h2>Fiche {{ (thirdType === 'young_promoter') ? 'Centres de distribution' : title.toLowerCase() }} ({{ (thirdType === 'young_promoter') ? third?.company_name.toUpperCase() : third?.full_name.toUpperCase() }})</h2>
      <a class="siam-header-btn-new" routerLink="/{{ goTo }}/modifier/{{ third?.id }}" title="Modifier l'agrégé"><i
        class="fa fa-edit"></i></a>
    </div>

  </div>
</div>

<div class="m-content">
  <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height m-portlet--rounded ">
    <div class="m-portlet__body">
      <div class="row">
        <div class="col-xl-12 col-lg-12">
          <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
            <li class="nav-item m-tabs__item">
              <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
                <i class="flaticon-share m--hide"></i>
                Fiche
              </a>
            </li>
            <li class="nav-item m-tabs__item" *ngIf="thirdType === 'aggregated'">
              <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_2" role="tab">
                Contrats
              </a>
            </li>
            <li class="nav-item m-tabs__item">
              <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_3" role="tab">
                Comptes Bancaires
              </a>
            </li>
            <li class="nav-item m-tabs__item" *ngIf="thirdType === 'aggregated'">
              <a class="nav-link m-tabs__link" data-toggle="tab" (click)="loadDocuments()"
                 href="#m_user_profile_tab_4" role="tab">
                Documents joints
              </a>
            </li>
            <li class="nav-item m-tabs__item" *ngIf="thirdType === 'aggregated'">
              <a class="nav-link m-tabs__link" data-toggle="tab"
                 href="#m_user_profile_tab_5" role="tab">
                Cartes
              </a>
            </li>
            <li class="nav-item m-tabs__item" *ngIf="thirdType === 'young_promoter'">
              <a class="nav-link m-tabs__link" data-toggle="tab"
                 href="#m_user_warehouses_tab" role="tab">
                 Magasins
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="m_user_profile_tab_1">
              <div class="m-form m-form--fit">
                <div class="m-portlet__body">

                  <div class="row">
                    <div class="col-12">
                      <h3 class="m-form__section">
                        Société
                      </h3>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <div class="row">
                        <label class="col-12">
                          Raison sociale
                        </label>
                        <div class="col-12">
                          <p class="siam-form-input-value" *ngIf="third?.company_name">{{ third?.company_name}}</p>
                          <p class="siam-form-input-value siam-form-input-value-nodata" *ngIf="!third?.company_name">Pas
                            de données</p>
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-12">
                          Numéro de patente
                        </label>
                        <div class="col-12">
                          <p class="siam-form-input-value" *ngIf="third?.patent_number">{{ third?.patent_number}}</p>
                          <p class="siam-form-input-value siam-form-input-value-nodata" *ngIf="!third?.patent_number">
                            Pas de données</p>
                        </div>
                      </div>

                    </div>
                    <div class="col-4">
                      <div class="row">
                        <label class="col-12">
                          Identification fiscal
                        </label>
                        <div class="col-12">
                          <p class="siam-form-input-value" *ngIf="third?.if">{{ third?.if}}</p>
                          <p class="siam-form-input-value siam-form-input-value-nodata" *ngIf="!third?.if">Pas de
                            données</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="row">
                        <label class="col-12">
                          Identifiant commun de l’entreprise.
                        </label>
                        <div class="col-12">
                          <p class="siam-form-input-value" *ngIf="third?.ice">{{ third?.ice}}</p>
                          <p class="siam-form-input-value siam-form-input-value-nodata" *ngIf="!third?.ice">Pas de
                            données</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <h3 class="m-form__section">
                        Informations générales
                      </h3>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <div class="row">
                        <label class="col-12">
                          Nom complet
                        </label>
                        <div class="col-12">
                          <p class="siam-form-input-value">{{ third?.full_name }}</p>
                        </div>
                      </div>
                      <div class="row" DIR="ltr">
                        <label class="col-12">
                          الاسم الكامل
                        </label>
                        <div class="col-12">
                          <p class="siam-form-input-value">{{ third?.full_name_ar }}</p>
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-12">
                          CIN
                        </label>
                        <div class="col-12">
                          <p class="siam-form-input-value" *ngIf="third?.cin">{{ third?.cin }}</p>
                          <p class="siam-form-input-value siam-form-input-value-nodata" *ngIf="!third?.cin">Pas de
                            données</p>
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-12">
                          Sexe.
                        </label>
                        <div class="col-12">
                          <p class="siam-form-input-value" *ngIf="third?.sexe !== null">{{ third?.sexe }}</p>
                          <p class="siam-form-input-value siam-form-input-value-nodata" *ngIf="!third?.sexe">Pas de
                            données</p>
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-12">
                          Situation familiale
                        </label>
                        <div class="col-12">
                          <p class="siam-form-input-value" *ngIf="third?.civil_status">{{ third?.civil_status }}</p>
                          <p class="siam-form-input-value siam-form-input-value-nodata" *ngIf="!third?.civil_status">Pas
                            de données</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="row">
                        <label class="col-12">
                          Code client
                        </label>
                        <div class="col-12">
                          <p class="siam-form-input-value" *ngIf="third?.code">{{ third?.code }}</p>
                          <p class="siam-form-input-value siam-form-input-value-nodata" *ngIf="!third?.code">Pas de
                            données</p>
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-12">
                          Date de naissance
                        </label>
                        <div class="col-12">
                          <p class="siam-form-input-value" *ngIf="third?.birth_date">{{ third?.birth_date }}</p>
                          <p class="siam-form-input-value siam-form-input-value-nodata" *ngIf="!third?.birth_date">Pas
                            de données</p>
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-12">
                          Date du décès
                        </label>
                        <div class="col-12">
                          <p class="siam-form-input-value" *ngIf="third?.death_date">{{ third?.death_date }}</p>
                          <p class="siam-form-input-value siam-form-input-value-nodata" *ngIf="!third?.death_date">Pas
                            de données</p>
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-12">
                          Retraite.
                        </label>
                        <div class="col-12">
                          <p class="siam-form-input-value" *ngIf="third?.is_retired !== null">{{ third?.is_retired ?
                            'Oui' : 'Non' }}</p>
                          <p class="siam-form-input-value siam-form-input-value-nodata"
                             *ngIf="third?.is_retired == null">Pas de données</p>
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-12">
                          Nombre d'enfant
                        </label>
                        <div class="col-12">
                          <p class="siam-form-input-value" *ngIf="third?.children_number">{{ third?.children_number
                            }}</p>
                          <p class="siam-form-input-value siam-form-input-value-nodata" *ngIf="!third?.children_number">
                            Pas
                            de données</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="row">
                        <label class="col-12">
                          Téléphone 1
                        </label>
                        <div class="col-12">
                          <p class="siam-form-input-value" *ngIf="third?.tel1">{{ third?.tel1 }}</p>
                          <p class="siam-form-input-value siam-form-input-value-nodata" *ngIf="!third?.tel1">Pas de
                            données</p>
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-12">
                          Téléphone 2
                        </label>
                        <div class="col-12">
                          <p class="siam-form-input-value" *ngIf="third?.tel2">{{ third?.tel2 }}</p>
                          <p class="siam-form-input-value siam-form-input-value-nodata" *ngIf="!third?.tel2">Pas de
                            données</p>
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-12">
                          Email
                        </label>
                        <div class="col-12">
                          <p class="siam-form-input-value" *ngIf="third?.email">{{ third?.email }}</p>
                          <p class="siam-form-input-value siam-form-input-value-nodata" *ngIf="!third?.email">Pas de
                            données</p>
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-12">
                          Assurance.
                        </label>
                        <div class="col-12">
                          <p class="siam-form-input-value" *ngIf="third?.is_insured !== null">{{ third?.is_insured ?
                            'Oui' : 'Non' }}</p>
                          <p class="siam-form-input-value siam-form-input-value-nodata"
                             *ngIf="third?.is_insured == null">Pas de données</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <h3 class="m-form__section">
                        Adresse
                      </h3>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <div class="row">
                        <label class="col-12">
                          Adresse
                        </label>
                        <div class="col-12">
                          <p class="siam-form-input-value" *ngIf="third?.address">{{ third?.address}}</p>
                          <p class="siam-form-input-value siam-form-input-value-nodata" *ngIf="!third?.address">Pas de
                            données</p>
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-12">
                          Ville
                        </label>
                        <div class="col-12">
                          <p class="siam-form-input-value" *ngIf="third?.city">{{ third?.city}}</p>
                          <p class="siam-form-input-value siam-form-input-value-nodata" *ngIf="!third?.city">Pas de
                            données</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="row">
                        <label class="col-12">
                          Commune
                        </label>
                        <div class="col-12">
                          <p class="siam-form-input-value" *ngIf="third?.commune">{{ third?.commune}}</p>
                          <p class="siam-form-input-value siam-form-input-value-nodata" *ngIf="!third?.commune">Pas de
                            données</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="row">
                        <label class="col-12">
                          Code postal
                        </label>
                        <div class="col-12">
                          <p class="siam-form-input-value" *ngIf="third?.zip_code !== null">{{ third?.zip_code}}</p>
                          <p class="siam-form-input-value siam-form-input-value-nodata"
                             *ngIf="third?.zip_code === null">Pas de données</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="m_user_profile_tab_2">
              <dx-data-grid
                id="ContractsgridContainer"
                [allowColumnReordering]="true"
                [dataSource]="contracts"
                [showColumnLines]="true"
                [showRowLines]="true"
                [showBorders]="true"
                [allowColumnResizing]="true"
                [columnHidingEnabled]="false"
                [rowAlternationEnabled]="true"
                [columnAutoWidth]="true"
                [noDataText]="'L\'agrégé ne dispose pas de contrats'"
                keyExpr="id">


                <dxo-scrolling [showScrollbar]="'always'"></dxo-scrolling>
                <dxi-column dataField="id" caption="" width="50" cellTemplate="detsTemplate"></dxi-column>
                <dxi-column dataField="code" caption="Code">
                </dxi-column>
                <dxi-column dataField="application_date" caption="Date d'application" dataType="date">
                </dxi-column>
                <dxi-column dataField="expiration_date" caption="Date d'expiration" dataType="date"></dxi-column>
                <dxi-column dataField="signature_date" caption="Date de signature" dataType="date"></dxi-column>
                <dxi-column dataField="type" caption="Type de contrat" cellTemplate="typeTemplate" dataType="Text">
                </dxi-column>
                <dxi-column dataField="status" caption="Statut" cellTemplate="statusTemplate">
                </dxi-column>

                <div *dxTemplate="let data of 'statusTemplate'">
                        <span [ngClass]="helper.getStatusColor(data.value)">
                              {{ contract_status[data.value] }}
                          </span>
                </div>
                <div *dxTemplate="let data of 'typeTemplate'">
                        <span *ngIf="data.data.parent_id">
                          Avenant pour <span class="badge badge-info">{{ getContract(data.data.parent_id).code }}</span>
                          </span>
                  <span *ngIf="!data.data.parent_id">
                              Contrat
                          </span>
                </div>
                <div *dxTemplate="let data of 'detsTemplate'">
                  <i style="font-size: 150%; align-content: center; cursor: pointer" (click)="helper.gotoShow('contrats', data.value, router, toastr)"
                     class="fa fa-info-circle fa-5x"></i>
                </div>
                <dxo-pager
                  [showPageSizeSelector]="false"
                ></dxo-pager>
              </dx-data-grid>
            </div>
            <div class="tab-pane" id="m_user_profile_tab_3">
              <dx-data-grid
                id="gridContainer"
                [allowColumnReordering]="true"
                [dataSource]="bank_accounts"
                (onRowRemoving)="onRemoveBA($event)"
                (onRowUpdating)="onUpdateBA($event)"
                (onEditingStart)="onStartUpdate($event)"
                [showColumnLines]="true"
                [showRowLines]="true"
                [showBorders]="true"
                (onRowInserting)="onAddBA($event)"
                [rowAlternationEnabled]="true"
                [columnAutoWidth]="true"
                style="padding-top: 2vh"
                [noDataText]="'L\'agrégé ne dispose pas de compte bancaire'">

                <dxo-scrolling [showScrollbar]="'always'"></dxo-scrolling>
                <dxi-column dataField="bank_name" caption="Dénomination">
                  <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="bank_account_number" caption="Numero de compte bancaire">
                  <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="bank_code" caption="Code bancaire">
                  <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="bank_rib_key" caption="Clé RIB bancaire">
                  <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>
                <dxo-pager
                  [showPageSizeSelector]="false"
                ></dxo-pager>
              </dx-data-grid>
            </div>
            <div class="tab-pane" id="m_user_profile_tab_4">
              <dx-data-grid
                id="gridCont"
                [allowColumnReordering]="true"
                [dataSource]="documents"
                (onRowRemoving)="onRemoveDOC($event)"
                (onRowUpdating)="onUpdateDOC($event)"
                [showColumnLines]="true"
                [showRowLines]="true"
                [showBorders]="true"
                (onRowInserting)="onAddDOC($event)"
                [rowAlternationEnabled]="true"
                [columnAutoWidth]="true"
                style="padding-top: 2vh"
                [noDataText]="'L\'agrégé ne dispose pas de documents joints'"
                keyExpr="id">

                <dxo-scrolling [showScrollbar]="'always'"></dxo-scrolling>
                <dxi-column dataField="name" caption="Type" [visible]="false">
                  <dxo-lookup
                    [dataSource]="docTypes"
                    displayExpr="Name"
                    valueExpr="ID">
                  </dxo-lookup>
                </dxi-column>

                <dxi-column dataField="name" caption="Type"></dxi-column>

                <dxi-column dataField="path" caption="Charger" editCellTemplate="cellTemplate2"
                            [visible]="false"></dxi-column>

                <dxi-column dataField="downloadPath" caption="Télécharger" cellTemplate="cellTemplate"></dxi-column>

                <div *dxTemplate="let data of 'cellTemplate'">
                  <dx-button
                    class="send"
                    icon="fa fa-cloud-download"
                    text="Télécharger"
                    (onClick)="downloadDocument(data)">
                  </dx-button>
                </div>
                <div *dxTemplate="let data of 'cellTemplate2'">
                  <dx-file-uploader
                    selectButtonText="Ajouter un document"
                    labelText="document"
                    accept="image/png,image/gif,application/pdf"
                    uploadMode="useForm"
                    [(value)]="filePath" style="padding-bottom: 100px">
                  </dx-file-uploader>
                </div>
                <dxo-remote-operations
                  [sorting]="true"
                  [paging]="false">
                </dxo-remote-operations>
                <dxo-editing
                  [useIcons]="true"
                  mode="popup"
                  [form]="{items: ['name', 'path']}"
                  [allowUpdating]="false"
                  [allowDeleting]="true"
                  [allowAdding]="true">
                  <dxo-popup
                    title="Ajouter ou modifier"
                    [showTitle]="true"
                    [width]="700"
                    [height]="345"
                    [position]="{ my: 'center', at: 'center'}">
                  </dxo-popup>
                </dxo-editing>
                <dxo-pager
                  [showPageSizeSelector]="false"
                ></dxo-pager>
              </dx-data-grid>
            </div>
            <div class="tab-pane" id="m_user_profile_tab_5">
              <dx-data-grid
                id="CardsgridContainer"
                [allowColumnReordering]="true"
                [dataSource]="cards"
                [showColumnLines]="true"
                [showRowLines]="true"
                [showBorders]="true"
                [rowAlternationEnabled]="true"
                style="padding-top: 2vh"
                [columnAutoWidth]="true"
                [noDataText]="'L\'agrégé ne dispose pas de carte agriculteur'"
                keyExpr="id">

                <dxo-scrolling [showScrollbar]="'always'"></dxo-scrolling>
                <dxi-column dataField="rfid" caption="Serie" [visible]="false">
                </dxi-column>
                <dxi-column width="200" dataField="status" caption="Statut" cellTemplate="statusTemplate">
                </dxi-column>
                <dxi-column width="200" dataField="printed_at" caption="Statut d'impression"
                            cellTemplate="PStatusTemplate">
                </dxi-column>
                <dxi-column dataField="id" caption="Action" cellTemplate="actionsTemplate">
                </dxi-column>
                <div *dxTemplate="let data of 'statusTemplate'" style="padding: 10px; text-align: center" >
                    <span [ngClass]="helper.getStatusColor(data.value)">
                      {{ card_status[data.value] }}
                    </span>
                </div>
                <div *dxTemplate="let data of 'actionsTemplate'">
                  <div class="row" style="align-content: center">
                    <!--<div class="col-4">
                      <dx-button [text]="getAdequateAction(data.value)"
                                 (click)="switchCarteStatus(data.value)" *ngIf="canHaveAction(data.value)"></dx-button>
                    </div>-->
                    <div class="col-12" style="text-align: center">


                      <dx-button [text]="'Déclarer perdu'" style="margin-right: 3px"
                                 type="danger"
                                 (click)="DeclareLost(data.value)"
                                 [disabled]="!declareLost(data.value)"></dx-button>
                      <dx-button [text]="'Activer'" style="margin-right: 3px"
                                 type="success"
                                 (click)="activateCard(data.value)"
                                 [disabled]="!canActivateCard(data.value)"></dx-button>
                      <dx-button [text]="'Désactiver'" style="margin-right: 3px"
                                 type="default"
                                 (click)="activateCard(data.value, true)"
                                 [disabled]="!canDeactivateCard(data.value)"></dx-button>

                    </div>
                  </div>
                </div>
                <div *dxTemplate="let data of 'PStatusTemplate'" style="padding: 10px; text-align: center">
                  <span ngClass="m-badge m-badge--success m-badge--wide" *ngIf="data.value">
                       imprimé.
                     </span>
                  <span ngClass="m-badge m-badge--danger m-badge--wide" *ngIf="!data.value">
                      en cours d'impression.
                    </span>
                </div>
                <dxo-remote-operations
                  [sorting]="true"
                  [paging]="true">
                </dxo-remote-operations>
                <dxo-editing
                  [useIcons]="true"
                  mode="row"
                  [allowUpdating]="false"
                  [allowDeleting]="false"
                  [allowAdding]="false">
                </dxo-editing>
                <dxo-pager
                  [showPageSizeSelector]="true"
                ></dxo-pager>
              </dx-data-grid>
            </div>

            <div class="tab-pane" id="m_user_warehouses_tab">
              <dx-data-grid
                id="warehouseContainer"
                [dataSource]="warehouses"
                [columnHidingEnabled]="false"
                [allowColumnResizing]="false"
                [allowColumnReordering]="true"
                KeyExpr="id">

                <dxo-scrolling mode="virtual"></dxo-scrolling>


                <dxi-column dataField="name" caption="Name"></dxi-column>
                <dxi-column dataField="convention_ref" caption="Référence Convention"></dxi-column>
                <dxi-column dataField="address" caption="Adress"></dxi-column>
                <dxi-column dataField="city" caption="Ville"></dxi-column>
                <dxi-column dataField="zip_code" caption="Code postale"></dxi-column>
                <dxi-column dataField="tel" caption="N° Téléphone"></dxi-column>
              </dx-data-grid>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
