<div class="m-content">
    <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height m-portlet--rounded " style="overflow: auto;white-space: nowrap;">
      <div class="m-portlet__body">
        <form style="margin-top: 20px"
              (submit)="onFormSubmit($event)" >
          <dx-form id="roleForm"
                   [readOnly]="false"
                   [showColonAfterLabel]="true"
                   [showValidationSummary]="true"
                   validationGroup="customerData">
  
            <!-- <dxi-item itemType="group" caption="Role">
              <dxi-item
                dataField="description">
                <dxo-label
                  text="Designation">
                </dxo-label>
                <dxi-validation-rule
                  type="required"
                  message="La Designation est obligatoire">
                </dxi-validation-rule>
              </dxi-item>
            </dxi-item> -->
  
            <dxi-item itemType="group" caption="Choix des permissions">
              <div>
                <div class="col-12">
                  <div style="display: inline;min-width: 200px;" >
                    <!-- <br *ngIf="j%5 == 0"> -->
                    <label class="permissions-label" style="margin-top: 20px;" >
                      <input type="checkbox" class="permissions-checkbox" [(checked)]="checkAll" (click)="selecteAll()">
                      <span>Tous</span>
                    </label>
                  </div>
                  <div class="" style="margin-left: 30px;margin-top: 20px;" *ngFor="let permission of permissions; let i = index">
                      <div style="display: inline" class="action-class" ><label style="width: 200px;color: #90959a;font-weight: 400;">{{permission.name}}</label></div>
                      <!-- <div>{{permission.actions | json}}</div> -->
                      <div class="" style="display: inline-block;margin-bottom:10px">
                        <div style="display: inline;min-width: 200px;" *ngFor="let action of permission.permissions; let j = index">
                          <!-- <br *ngIf="j%5 == 0"> -->
                          <label class="permissions-label" style="margin-top: 20px;" >
                            <input type="checkbox" class="permissions-checkbox" [checked]="isExiste(action.id,i,j)" (click)="onChangeValue(i,j)">
                            <span>{{action.action.name}}</span>
                          </label>
                        </div>
                        <!-- <div *ngIf="permission.permissions.length>0" style="display: inline;min-width: 200px;" >
                          <label class="permissions-label" style="margin-top: 20px;" >
                            <input type="checkbox" class="permissions-checkbox" [(checked)]="isChecked" (click)="selecteLigne(i,permission.id)">
                            <span>Tous</span>
                          </label>
                        </div> -->
                      </div>

                  </div>
                </div>
              </div>
            </dxi-item>
  
            <dxi-item
              itemType="button"
              alignment="right"
              [buttonOptions]="buttonOptions">
            </dxi-item>
          </dx-form>
        </form>
      </div>
    </div>
  </div>
  