<h1>Journal d'activités</h1>
<hr>
<dx-data-grid
        id="gridContainer"
        [dataSource]="activities"
        [columnHidingEnabled]="false"
        [allowColumnResizing]="true"
        [columnAutoWidth]="true"
        [allowColumnReordering]="true"
        [remoteOperations]="{ paging: true, sorting: true, filtering: true}"
>

  <!--<dxo-state-storing [enabled]="true" type="localStorage" storageKey="storage"></dxo-state-storing>-->
  <dxo-remote-operations
          [sorting]="true"
          [paging]="true">
  </dxo-remote-operations>


  <dxo-editing
          mode="row"
          [useIcons]="true"

          [allowUpdating]="false"
          [allowDeleting]="true">
  </dxo-editing>
  <dxo-selection mode="multiple"></dxo-selection>
  <dxo-scrolling [showScrollbar]="'always'"></dxo-scrolling>

  <dxo-sorting mode="multiple"></dxo-sorting>
  <dxo-filter-row
          [visible]="true" [applyFilter]="true"></dxo-filter-row>

  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-export [enabled]="true" fileName="Tiers" [allowExportSelectedData]="true"></dxo-export>

  <dxo-pager
          [allowedPageSizes]="[5, 8, 15, 30]"
          [showInfo]="true"
          [showNavigationButtons]="true"
          [showPageSizeSelector]="true"
          [visible]="true">
  </dxo-pager>
  <dxo-paging [pageSize]="10"></dxo-paging>

  <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>

  <dxo-search-panel [visible]="false"></dxo-search-panel>

  <dxo-group-panel [visible]="true"></dxo-group-panel>
  <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>

  <dxi-column dataField="user_name" caption="Utilisateur" cellTemplate="userTemplate"  i18n-caption>
  </dxi-column>
  <dxi-column dataField="action" caption="Action"  cellTemplate="actionTemplate"  i18n-caption>
  </dxi-column>
  <dxi-column dataField="item" datatype="number" caption="Item" i18n-caption>
  </dxi-column>
  <dxi-column dataField="item_id" datatype="number" allowHiding="true" hidden="hidden" caption="Item ID" >
  </dxi-column>
  <dxi-column dataField="ip" caption="IP"  allowColumnResizing="true">
  </dxi-column>
  <dxi-column dataField="date" caption="Date" cellTemplate="dateTemplate" i18n-caption>
  </dxi-column>


  <div *dxTemplate="let data of 'userTemplate'">
    <i class="fa fa-user" aria-hidden="true"></i>  {{ data.value }}
  </div>


  <div *dxTemplate="let data of 'dateTemplate'">
    <i class="fa fa-clock-o" aria-hidden="true"></i> {{ data.value }}
  </div>



  <div *dxTemplate="let data of 'actionTemplate'">
    {{ data.value }}
  </div>


</dx-data-grid>
